<div class="col-sm-10 col-sm-offset-1 mt30">
    <div class="form-group" ng-class="{'col-sm-10': loggedIn, 'col-sm-12': !loggedIn }">
        <div class="input-group">
            <span class="input-group-addon fa fa-search"></span>
            <input type="text" class="form-control" placeholder="Search through the tickets" ng-model="filterText">
        </div>
    </div>
    <div class="right col-sm-2" ng-if="loggedIn">
        <button class="btn btn-line-primary" ng-click="modalNewTicketOpen()">Create new ticket</button>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-1 mt30 well" ng-if="tickets.length === 0">
    No support tickets exist for this service. You can create a new one with the button above!
</div>

<uib-tabset class="col-sm-10 col-sm-offset-1 mt30" ng-if="tickets.length > 0">
    <uib-tab>
        <uib-tab-heading>
            <span class="text-success">Open ({{(tickets | filter:{status: 'OPEN'} | filter:{title:filterText}).length}})</span>
        </uib-tab-heading>
        <div class="clearfix">
            <span class="text-muted" ng-if="(tickets | filter:{status: 'OPEN'} | filter:{title: filterText}).length === 0">No tickets found matching your filter criteria.</span>
            <div class="list-group col-sm-12" ng-if="(tickets | filter:{status: 'OPEN'} | filter:{title: filterText}).length > 0">
                <div ng-repeat="supportTicket in tickets | filter:{status: 'OPEN' } | filter:{title: filterText}">
                    <support-ticket current-user="currentUser" ticket="supportTicket" service-version="serviceVersion"></support-ticket>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab>
        <uib-tab-heading>
            <span class="text-primary">Closed ({{(tickets | filter:{status: 'CLOSED'} | filter:{title: filterText}).length}})</span>
        </uib-tab-heading>
        <div class="clearfix">
            <span class="text-muted" ng-if="(tickets | filter:{status: 'CLOSED'} | filter:{title: filterText}).length === 0">No tickets found matching your filter criteria.</span>
            <div class="list-group col-sm-12" ng-if="(tickets | filter:{status: 'CLOSED'} | filter:{title: filterText}).length > 0">
                <div ng-repeat="supportTicket in tickets | filter:{status: 'CLOSED'} | filter:{title: filterText}">
                    <support-ticket current-user="currentUser" ticket="supportTicket" service-version="serviceVersion"></support-ticket>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
