<div class="col-sm-12">
  <a href="javascript:;" class="list-group-item" ng-click="openTicket()">
    <div>
      <h4 class="text-bold list-group-item-heading">{{ticket.title}}
       <span class="right small text-light"><span class="fa fa-comment"></span>&nbsp;{{comments.length}}</span>
        </h4>
    </div>
    <div class="mt15">
        <status-label status="{{ticket.status}}" class="mr10"></status-label>
      <base64-logo logo="{{user.base64pic}}" logo-class="img-ticket-user img-circle"></base64-logo>&nbsp;{{user.fullName}} <span class="text-muted">({{ticket.createdBy}})</span>
      <span class="small right text-light">{{ticket.createdOn | relativeDate}}</span>
    </div>
  </a>
</div>
