<div class="row">
  <div class="col-sm-12">
    <h4>Service Definition</h4>
    <p>
      Here you can provide definition information about your service.  This
      information should take the form of a Swagger service definition file.  Adding a
      definition file will allow consumers to better understand how to use your API.
      Simply select your Swagger API definition below.
    </p>
    <p class="text-bold text-primary">
      Only Swagger 2.0 JSON definition files
      are currently supported!
    </p>
    <hr>
  </div>

  <div class="col-sm-10 col-sm-offset-1" ng-if="noDefinition && !definitionLoaded && User.isAuthorizedFor('svcEdit')">
    <div class="well">
      No documentation has been uploaded yet. Please select your definition file using the button below.
    </div>
  </div>

  <div class="col-sm-10 col-sm-offset-1" ng-if="noDefinition && !definitionLoaded && !User.isAuthorizedFor('svcEdit')">
    <div class="well">
      No documentation has been uploaded yet.
    </div>
  </div>

  <!-- Existing Swagger API documentation panel -->
  <div class="col-sm-12" ng-hide="noDefinition">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ definitionLoaded ? 'Updated Documentation Preview' : 'Current Documentation' }}
        <span class="btn btn-xs right btn-info" ng-click="doDownload()" ng-if="!isLoading && !definitionLoaded">Download Swagger Spec</span>
      </div>
      <div class="panel-body">
        <div ng-if="!isLoading" swagger-ui input-type="json" loading="isLoading"
             template-url="views/templates/swagger/main.html" input="displayDefinition"
             api-explorer="false">
        </div>
        <div class="text-center" ng-if="isLoading">
          <span class="fa fa-spinner fa-pulse fa-4x"></span>
        </div>
      </div>
    </div>
  </div><!-- end Swagger Documentation panel -->

  <div class="col-md-12 mt30" ng-if="!isRetired && User.isAuthorizedFor('svcEdit')">
    <h5>Update Swagger definiton</h5>
    <form name="docForm">
      <div class="input-group">
        <div class="input-group-btn">
          <div class="dropdown" uib-dropdown>
            <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle
                    type="button">
              {{selectedMethod}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="clickable" ng-click="selectMethod('JSON File')"><a>JSON File</a></li>
              <li class="clickable" ng-click="selectMethod('URI')"><a>URI</a></li>
            </ul>
          </div>
        </div>
        <input type="file" class="form-control" ng-model="file" accept="application/json" definition-select="loadDefinition($fileContent)" ng-class="{'hidden' : selectedMethod === 'URI'}"/>
        <input type="url" name="uri" class="form-control" ng-model="uri" validate-on-timeout placeholder="URI to Swagger documentation" ng-class="{'hidden': selectedMethod === 'JSON File'}" required>
        <div class="input-group-btn" ng-class="{'hidden': selectedMethod === 'JSON File'}">
          <button class="btn btn-line-primary" ladda="isLoading" ng-click="doFetch(uri)" ng-disabled="docForm.uri.$invalid">Load</button>
        </div>
      </div>
      <p class="text-muted xsmall" ng-class="{'hidden' : selectedMethod === 'URI'}">You can use the button above to select the JSON file you want to upload.</p>
      <p class="text-muted xsmall" ng-class="{'hidden' : selectedMethod === 'JSON File'}">Please provide the URI where your swagger documentation is located, then press the 'Load' button.</p>
      <p class="text-danger xsmall" ng-show="docForm.uri.$error.url && docForm.uri.$timedout">This is not a valid URI. Please check for errors.</p>
    </form>
  </div>

  <div class="col-sm-12">
    <div class="mt20" ng-if="!isRetired && User.isAuthorizedFor('svcEdit')">
      <button ng-disabled="!changed" ng-click="reset()" class="btn btn-default btn-sm">Cancel</button>
      <button ng-disabled="invalid" ng-click="saveDefinition()" class="btn btn-primary btn-sm">Save</button>
    </div>
  </div>

</div>
