<div class="row">
  <div class="col-sm-12">
    <h4>Service Implementation</h4>
    <p>
      Please provide us with details about the back-end service implementation
      so that the API Gateway can successfully proxy Service requests.  Please
      include any security you wish to enable between the API Gateway and the
      back-end service.
    </p>
    <hr>
  </div>
  <div class="col-sm-12 style-placeholders">
    <form class="form form-horizontal" name="impForm" data-field="form">
      <div class="form-group">
        <label class="col-md-3 control-label">API Endpoint</label>
        <div class="col-md-7">
          <input id="endpoint" ng-model="updatedService.endpoint" class="form-control" type="url"  name="implementation" placeholder="ex. http://path.to/your/service"
                 ng-disabled="!User.isAuthorizedFor('svcEdit')" ng-pattern="implementationRegex" validate-on-timeout>
          <p class="text-danger xsmall" ng-show="(impForm.implementation.$error.url || impForm.implementation.$error.pattern) && impForm.implementation.$timedout">This is not a valid endpoint url. Please check for errors.</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">API Type</label>
        <div class="col-md-7">
          <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle ng-disabled="isPublished || !User.isAuthorizedFor('svcEdit')">
              {{updatedService.endpointType.toUpperCase()}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
              <li ng-repeat="type in typeOptions" ng-click="selectType(type)"><a>{{type.toUpperCase()}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label">API Security</label>-->
        <!--<div class="col-md-7">-->
          <!--<div class="btn-group dropdown" uib-dropdown>-->
            <!--<button type="button" class="btn btn-default btn-sm uib-dropdown-toggle" uib-dropdown-toggle>-->
              <!--{{updatedService.endpointType.toUpperCase()}} REST<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="uib-dropdown-menu dropdown-menu-left">-->
              <!--<li ng-repeat="type in typeOptions" ng-click="selectVersion({version: version})"><a>{{type.toUpperCase()}}</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </form>
  </div>
</div>
<div class="col-sm-12 mt20" ng-if="!isPublished && User.isAuthorizedFor('svcEdit')">
  <hr>
  <button ng-disabled="!isDirty" ng-click="reset()" class="btn btn-default btn-sm">Cancel</button>
  <button ng-disabled="!isDirty || !isValid" ng-click="saveService()" class="btn btn-primary btn-sm">Save</button>
</div>
<div class="col-sm-12 mt20" ng-if="isPublished && User.isAuthorizedFor('svcEdit')">
  <hr>
  <button ng-disabled="!isDirty || !isValid" ng-click="saveService()" class="btn btn-primary btn-sm">Update</button>
</div>
