<div class="row">
    <div class="col-sm-12">
        <h4>Pending Contracts</h4>
        <p ng-hide="!canAccept">The list below contains all of the pending contract requests for this Service. The requests can be accepted or rejected here.</p>
        <p ng-hide="canAccept">The list below contains all of the pending contract requests for this Service. You do not have the neccesary permissions to accecpt or reject contracts.</p>
        <p ng-hide="!isAdminService" class="text-warning large"><i class="fa fa-warning fa-lg">&nbsp;</i>This is a service with administrator priviledges. Carefully review contract requests before approving them.</p>
        <hr>
    </div>

    <div class="col-sm-12" ng-hide="pendingContracts.length > 0">
        <div class="col-sm-10 col-sm-offset-1 well">
            There are currently no pending contract requests!
        </div>
    </div>

    <div class="col-sm-12">
        <apim-pending-contracts-for-service contracts="pendingContracts" can-accept="canAccept"></apim-pending-contracts-for-service>
    </div>
</div>
