<div class="row">
    <div class="col-sm-12">
        <h4>Available Plans</h4>
        <p>Choose which plans should be presented when Applications create a link (Contract) to this Service.
            Note that only plans in a 'Locked' state show up in this list.</p>
        <hr>
        <!-- The plans to choose from -->
        <div class="col-sm-10 col-sm-offset-1 well" ng-hide="plans.length > 0">
            No plans are available for this service! This could be because no plans have been created yet, or because the plans are not yet locked.
            As long as no plan is assigned to this service, it cannot be published.
        </div>
        <div class="col-sm-12">
            <div class="col-sm-12" ng-repeat="plan in plans">
                <div class="row">
                    <div class="col-sm-6 ui-checkbox ui-checkbox-primary ui-checkbox-circle" style="margin-bottom: 0">
                        <label>
                            <input type="checkbox" ng-model="plan.checked" ng-disabled="isPublished || !User.isAuthorizedFor('svcEdit')">
                            <span class="title"><a ui-sref="root.plan({orgId: plan.organizationId, planId: plan.id, versionId: plan.selectedVersion})" tooltip-popup-delay="1000" tooltip-placement="top" uib-tooltip="{{ plan.description }}">{{ plan.name }}</a></span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group dropdown pull-right" uib-dropdown>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle ng-disabled="isPublished || !User.isAuthorizedFor('svcEdit')">
                                Version: {{plan.selectedVersion}}<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li ng-repeat="version in plan.lockedVersions | orderBy:'createdOn'" ng-click="plan.selectedVersion = version"><a>{{version}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="col-sm-12 mt30">
        <h4>Contract Management</h4>
        <p class="text-light small">
            Applications can create a link (Contract) with this Service using the plans selected above. By default,
            new contracts are activated automatically. If you would like to manually accept or reject each new contract,
            you can select manual mode below.
        </p>
        <div class="col-sm-12">
            <div class="ui-radio ui-radio-primary">
                <label>
                    <input type="radio" ng-checked="updatedService.autoAcceptContracts" ng-click="updatedService.autoAcceptContracts = true" name="contractManagement">
                    <span>I want to automatically activate new contracts.</span>
                </label>
            </div>
            <div class="ui-radio ui-radio-primary">
                <label>
                    <input type="radio" ng-checked="!updatedService.autoAcceptContracts" ng-click="updatedService.autoAcceptContracts = false" name="contractManagement">
                    <span>I want to manually manage the contracts for this service.</span>
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-12 mt30">
        <h4>Terms & Conditions</h4>
        <p class="text-light small">
            If this option is checked, consumers of this service will be presented with Terms & Conditions they need to agree to while creating a new contract.
            <!--Services can specify their own Terms & Conditions; if none are present, the default Terms & Conditions (set by the Administrators) will be used.-->
        </p>

        <div class="col-sm-12">
            <div class="ui-checkbox ui-checkbox-primary ui-checkbox-circle">
                <label>
                    <input type="checkbox" ng-model="updatedService.termsAgreementRequired">
                    <span class="title">Applications that want to create a Contract with this service will need to agree to the Terms & Conditions.</span>
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-12 mt20" ng-if="User.isAuthorizedFor('svcEdit')">
        <button ng-disabled="!isDirty" class="btn btn-default btn-sm" ng-click="reset()">Cancel</button>
        <button ng-disabled="!(isDirty && isValid)" ng-click="saveService()" class="btn btn-primary btn-sm">Save</button>
    </div>
</div>
