<div class="row">
  <div class="col-sm-12">
    <!-- Title and help text -->
    <h4>Service Policies</h4>
    <p>Here is a list of all Policies defined for this Service. These Policies will be applied to all invocations of this Service by any Application, regardless of the Plan used in its Contract.</p>
    <p>
      <b>Default policies</b> applies for each service implicitly:
    <ul>
      <li><b><i>CORS</i></b> - Default values are enabled for each published API.</li>
      <li><b><i>Key Authentication</i></b> - Default enabled for all published APIs, client API keys are provided upon subscription. This is only the case when no OAuth2 policy has been added to the service.</li>
      <li><b><i>HTTP Logging</i></b> - Default enabled. All transaction information for a published API will be aggregated in the API metrics module.</li>
    </ul>

    </p>
    <hr>
  </div>
  <!-- The list of policies -->
  <div class="col-sm-12">
    <button class="btn btn-primary btn-sm pull-right" ng-click="modalAddPolicy()" ng-if="!isPublished && !isRetired && User.isAuthorizedFor('svcEdit')">Add Policy</button>
  </div>

  <div class="col-sm-12 mt10" ng-hide="policies.length > 0">
    <div class="col-sm-10 col-sm-offset-1 well" ng-if="(isPublished || isRetired) && User.isAuthorizedFor('svcEdit')">
      It looks like there aren't any policies defined! That may be exactly what you want (of course) but if not, you will first have to create a new version of this Service, since this one has already been published and can no longer be modified!
    </div>
    <div class="col-sm-10 col-sm-offset-1 well" ng-if="(isPublished || isRetired) && !User.isAuthorizedFor('svcEdit')">
      It looks like there aren't any policies defined!
    </div>
    <div ng-if="!isPublished && !isRetired && User.isAuthorizedFor('svcEdit')">
      <div class="col-sm-8 col-sm-offset-1 well">
        It looks like there aren't any policies defined! That may be exactly what you want (of course) but if not, you could try defining one using the Add Policy button right there...
      </div>
      <div class="col-sm-3">
        <div class="no-entities-arrow"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <api-policy-list policies="policies" editable="User.isAuthorizedFor('svcEdit')" type="svc"></api-policy-list>
  </div>
</div>
