<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4>Service Readme</h4>
                <p>Below you can specify the readme file for this Service version. Readme files should be provided in markdown format.</p>
                <hr>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- text editor -->
            <div class="col-md-12">
                <div class="panel panel-default mb20">
                    <div class="panel-heading">Markdown Editor</div>
                    <div class="panel-body">
                        <textarea class="form-control" rows="20" placeholder="Enter your README file contents (optional)" ng-model="serviceVersion.readme" style="overflow-y: scroll; resize: none;"></textarea>
                        <p class="text-muted xsmall">README file in markdown format</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Output preview</div>
                    <div class="panel-body">
                        <p class="well" ng-if="!serviceVersion.readme || serviceVersion.readme.length === 0">No input yet.</p>
                        <div btf-markdown="serviceVersion.readme" ng-if="serviceVersion.readme.length > 0"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- #end row -->

    </div>
    <div class="col-sm-12">
        <div class="mt20" ng-if="!isRetired && User.isAuthorizedFor('svcEdit')">
            <button ng-disabled="!changed" ng-click="reset()" class="btn btn-default btn-sm">Cancel</button>
            <button ng-disabled="invalid" ng-click="doSave()" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
</div>
