<div class="row">
    <div class="col-sm-12">
        <h4>Availability</h4>
        <p>Choose in which store (internal/external) the API should be published. After selecting the store, optionally, choose in which API Explorer the API should appear. When the service visibility is disabled, an IP restriction policy will be set with predefined values.</p>
        <hr>
        <!-- The plans to choose from -->
        <div class="col-sm-10 col-sm-offset-1 well" ng-hide="mkts">
            This functionality will be enabled soon, in order to select the API Store you want you service to appear in. You must be have editor rights to access the visibility configuration.
        </div>

        <!--No available settings for this service-->
        <div class="col-sm-12">
            <div class="col-sm-12" ng-repeat="mkt in mkts|orderBy:'name':reverse">
                <div class="row">
                    <div class="col-sm-6 ui-checkbox ui-checkbox-primary ui-checkbox-circle" style="margin-bottom: 0">
                        <label>
                            <input type="checkbox" ng-model="mkt.checked" ng-disabled="!User.isAuthorizedFor('svcEdit')">
                            <span class="title">{{ mkt.name.charAt(0).toUpperCase() + mkt.name.slice(1) }}</span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group dropdown pull-right" uib-dropdown>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle ng-disabled="!User.isAuthorizedFor('svcEdit')">
                                Visibility: {{mkt.selectedVisibility ? 'Show' : 'Hide' }}<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li ng-repeat="visibility in visibilities" ng-click="mkt.selectedVisibility = visibility.val"><a>{{visibility.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="col-sm-12 mt20" ng-if="User.isAuthorizedFor('svcEdit')">
            <button ng-disabled="!changed()" class="btn btn-default btn-sm" ng-click="reset()">Cancel</button>
            <button ng-disabled="!changed()" ng-click="saveService()" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
</div>