<!DOCTYPE html>
<html lang="en"
      id="app" custom-page
      class="app off-canvas {{themeActive}}" ng-class="{'body-full': bodyFull}"
      ng-controller="AppCtrl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Trust1Gateway - API Store">
  <meta name="keywords"
        content="t1t, t1g, trust1team, trust1gateway, api, market, publisher, api manager, api management">
  <meta name="author" content="Trust1Team">

  <title ng-bind="header"></title>

  <!-- build:css styles/vendor.min.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="../bower_components/c3/c3.css" />
  <link rel="stylesheet" href="../bower_components/ng-tags-input/ng-tags-input.min.css" />
  <link rel="stylesheet" href="../bower_components/perfect-scrollbar/css/perfect-scrollbar.css" />
  <link rel="stylesheet" href="../bower_components/textAngular/dist/textAngular.css" />
  <link rel="stylesheet" href="../bower_components/ladda/dist/ladda.min.css" />
  <link rel="stylesheet" href="../bower_components/angular-ui-switch/angular-ui-switch.css" />
  <link rel="stylesheet" href="../bower_components/Trip.js/dist/trip.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- fonts -->
  <!-- build:css styles/fonts.min.css -->
  <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
  <!-- endbuild -->

  <!-- build:css styles/app.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- Match Media polyfill for IE9 -->
  <!--[if IE 9]>
  <script src="scripts/ie/matchMedia.js"></script>  <![endif]-->
</head>
<body flow-prevent-drop>

<div class="root-wrapper" ui-view></div>

<!-- build:js scripts/vendors.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-clipboard/angular-clipboard.js"></script>
<script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<script src="../bower_components/angular-media-queries/match-media.js"></script>
<script src="../bower_components/angular-translate/angular-translate.js"></script>
<script src="../bower_components/angular-relative-date/angular-relative-date.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/tv4/tv4.js"></script>
<script src="../bower_components/objectpath/lib/ObjectPath.js"></script>
<script src="../bower_components/angular-schema-form/dist/schema-form.js"></script>
<script src="../bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/backbone/backbone.js"></script>
<script src="../bower_components/d3/d3.js"></script>
<script src="../bower_components/c3/c3.js"></script>
<script src="../bower_components/c3-angular/c3-angular.min.js"></script>
<script src="../bower_components/handlebars/handlebars.js"></script>
<script src="../bower_components/marked/lib/marked.js"></script>
<script src="../bower_components/flow.js/dist/flow.js"></script>
<script src="../bower_components/ng-flow/dist/ng-flow.js"></script>
<script src="../bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<script src="../bower_components/ngstorage/ngStorage.js"></script>
<script src="../bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="../bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="../bower_components/rangy/rangy-core.js"></script>
<script src="../bower_components/rangy/rangy-classapplier.js"></script>
<script src="../bower_components/rangy/rangy-highlighter.js"></script>
<script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="../bower_components/rangy/rangy-serializer.js"></script>
<script src="../bower_components/rangy/rangy-textrange.js"></script>
<script src="../bower_components/textAngular/dist/textAngular.js"></script>
<script src="../bower_components/textAngular/dist/textAngular-sanitize.js"></script>
<script src="../bower_components/textAngular/dist/textAngularSetup.js"></script>
<script src="../bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="../bower_components/spin.js/spin.js"></script>
<script src="../bower_components/ladda/dist/ladda.min.js"></script>
<script src="../bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="../bower_components/angular-ui-switch/angular-ui-switch.js"></script>
<script src="../bower_components/showdown/src/showdown.js"></script>
<script src="../bower_components/angular-markdown-directive/markdown.js"></script>
<script src="../bower_components/lodash/lodash.js"></script>
<script src="../bower_components/Trip.js/dist/trip.js"></script>
<script src="../bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="../bower_components/blob-polyfill/Blob.js"></script>
<script src="../bower_components/file-saver.js/FileSaver.js"></script>
<script src="../bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
<script src="../bower_components/keycloak/dist/keycloak.js"></script> <!-- TODO load script from keycloak server -->
<script src="../bower_components/moment/moment.js"></script>
<!-- endbower -->
<script src="../bower_components/highlight/src/highlight.js"></script>
<!-- endbuild -->

<!--build:js scripts/swagger.js -->
<!-- Swagger UI scripts -->
<script src="scripts/plugins/swagger-ui/swagger-ui.js"></script>
<script src="scripts/plugins/swagger-ui/swagger-client.js"></script>
<script src="scripts/plugins/swagger-ui/swagger-i18n.js"></script>
<script src="scripts/plugins/swagger-ui/swagger-model.js"></script>
<script src="scripts/plugins/swagger-ui/swagger-modules.js"></script>
<script src="scripts/plugins/swagger-ui/swagger-parser.js"></script>
<script src="scripts/plugins/swagger-ui/modules/swagger1-to-swagger2-converter.js"></script>
<script src="scripts/plugins/swagger-ui/modules/swagger-external-references.js"></script>
<script src="scripts/plugins/swagger-ui/modules/swagger-xml-formatter.js"></script>
<script src="scripts/plugins/swagger-ui/modules/swagger-yaml-parser.js"></script>
<script src="scripts/plugins/swagger-ui/i18n/en.js"></script>
<script src="scripts/plugins/swagger-ui/i18n/fr.js"></script>
<script src="scripts/plugins/swagger-ui/i18n/jp.js"></script>
<!-- endbuild -->

<!-- build:js scripts/app.js -->
<!-- Custom scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/shared/app.ctrls.js"></script>
<script src="scripts/shared/app.constants.js"></script>
<script src="scripts/shared/app.directives.js"></script>
<script src="scripts/shared/app.services.js"></script>
<script src="scripts/shared/app.filters.js"></script>
<script src="scripts/shared/app.apiEngine.js"></script>
<script src="scripts/ctrl/oauth.js"></script>
<script src="scripts/ctrl/login.js"></script>
<script src="scripts/ctrl/modals.js"></script>
<script src="scripts/ctrl/modals.lifecycle.js"></script>
<script src="scripts/ctrl/modals.support.js"></script>

<script src="scripts/core/app.components.js"></script>
<script src="scripts/core/app.login.js"></script>
<script src="scripts/core/app.keycloak.js"></script>
<script src="scripts/core/app.routes.js"></script>
<script src="scripts/core/app.util.js"></script>

<script src="scripts/administration/administration.module.js"></script>
<script src="scripts/administration/administration.controller.js"></script>
<script src="scripts/administration/administration.directive.js"></script>
<script src="scripts/administration/administration.service.js"></script>

<script src="scripts/api/api.module.js"></script>
<script src="scripts/api/api.controller.js"></script>
<script src="scripts/api/api.service.js"></script>

<script src="scripts/applications/applications.module.js"></script>
<script src="scripts/applications/applications.controller.js"></script>
<script src="scripts/applications/applications.service.js"></script>

<script src="scripts/branding/branding.module.js"></script>
<script src="scripts/branding/branding.component.js"></script>
<script src="scripts/branding/branding.service.js"></script>

<script src="scripts/contracts/contracts.module.js"></script>
<script src="scripts/contracts/contracts.directive.js"></script>
<script src="scripts/contracts/contracts.service.js"></script>

<script src="scripts/market/market.module.js"></script>
<script src="scripts/market/market.controller.js"></script>

<script src="scripts/members/members.module.js"></script>
<script src="scripts/members/members.directive.js"></script>
<script src="scripts/members/members.service.js"></script>

<script src="scripts/notifications/notifications.module.js"></script>
<script src="scripts/notifications/notifications.directive.js"></script>
<script src="scripts/notifications/notifications.service.js"></script>

<script src="scripts/organizations/organizations.module.js"></script>
<script src="scripts/organizations/organizations.controller.js"></script>
<script src="scripts/organizations/organizations.directive.js"></script>
<script src="scripts/organizations/organizations.service.js"></script>

<script src="scripts/plugins/lodash/lodash.module.js"></script>

<script src="scripts/policies/policies.module.js"></script>
<script src="scripts/policies/policies.component.js"></script>
<script src="scripts/policies/policies.constants.js"></script>
<script src="scripts/policies/policies.controller.js"></script>
<script src="scripts/policies/policies.service.js"></script>

<script src="scripts/swagger/swagger.module.js"></script>

<script src="scripts/tour/tour.module.js"></script>

<script src="scripts/ui/ui.module.js"></script>
<script src="scripts/ui/ui.component.js"></script>

<script src="scripts/user/user.module.js"></script>
<script src="scripts/user/user.service.js"></script>
<script src="scripts/user/profile/profile.module.js"></script>
<script src="scripts/user/profile/profile.controller.js"></script>
<!-- endbuild -->

<script>
    'use strict';

    (function () {
        "use strict";

        angular.module('app.config', [])
            .constant('CONFIG',
                { APP:
                    {
                        ORG_FRIENDLY_NAME_ENABLED: <%= config.orgFriendlyName %>,
                        SHOW_API_DEVELOPER_NAME_IN_STORE: <%= config.showApiDeveloperNameInStore %>,
                        DISABLE_ANNOUNCEMENTS: <%= config.disableAnnouncements %>,
                        DISABLE_SUPPORT: <%= config.disableSupport %>
                    },
                    STORAGE:
                        {
                            LOCAL_STORAGE: '<%= config.storage.local %>',
                            SESSION_STORAGE: '<%= config.storage.session %>'
                        },
                    KONG: { HOST: '<%= config.kong.host %>' }
                });
    })();
</script>

</body>
</html>
