<div class="row mb30">
    <div class="panel panel-default mb30">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Revoke OAuth Grants</h4>
                    <p>This page allows the administrator to revoke all current OAuth2 grants.</p>
                    <p><strong>Use with caution, as this cannot be undone.</strong></p>
                    <hr>
                </div>
                <div class="col-sm-12 mt30 mb30">
                    <button class="btn btn-lg btn-line-danger" ng-click="confirmRevokeAllGrants()" ng-disabled="timeoutForm.$invalid">Revoke All OAuth Grants</button>
                </div>
            </div>
        </div>
    </div>
</div>
