<div class="row mb30">
    <div class="panel panel-default mb30">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Revoke OAuth Grants</h4>
                    <p>This page allows the administrator to revoke OAuth Grants for one or more users.</p>
                    <!--<h4>Revoke OAuth Grants</h4>-->
                    <!--<p>This page allows the administrator to revoke all current OAuth2 grants.</p>-->
                    <p><strong>Use with caution, as this cannot be undone.</strong></p>
                    <hr>
                </div>
                <div class="col-sm-12 mt30 mb30">

                    <!--<div class="col-sm-12" ng-hide="grants.length > 0">-->
                        <!--<div class="row">-->
                            <!--<div class="col-sm-10 col-sm-offset-1 well">-->
                                <!--We couldn't find any OAuth grants. Check back later.-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->

                    <div class="col-sm-12">


                        <table st-table="grants" class="table table-striped">
                            <thead>
                            <tr>
                                <th colspan="3" style="border-bottom: 0">
                                    <div class="col-sm-9">
                                        <input st-search="name" placeholder="search for user" class="input-sm form-control" type="search"/>
                                    </div>
                                    <div class="col-sm-3" style="padding-right: 0">
                                        <p class="btn btn-line-primary right" ng-disabled="!canDoBulkOperation()" ng-click="revokeSelected()">Revoke Selected</p>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th style="width: 1%; border-top: 0">
                                    <div class="ui-checkbox ui-checkbox-primary ui-checkbox-circle">
                                        <label>
                                            <input type="checkbox" ng-model="sel" ng-click="change()">
                                            <span class="title"></span>
                                        </label>
                                    </div>
                                </th>
                                <th style="width: 100%; border-top: 0">User</th>
                                <th style="width: 1%; border-top: 0"></th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr ng-repeat="user in grants">
                                <td>
                                    <div class="ui-checkbox ui-checkbox-primary ui-checkbox-circle">
                                        <label>
                                            <input type="checkbox" ng-model="user.selected">
                                            <span class="title"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{user.name}}</td>
                                <td>
                                    <span class="btn btn-line-primary" ng-click="revokeAllForUser(user)">Revoke</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<button class="btn btn-lg btn-line-danger" ng-click="confirmRegenerateAPIKeys()" ng-disabled="timeoutForm.$invalid">Regenerate All API Keys</button>-->
                    <!--<button class="btn btn-lg btn-line-danger" ng-click="confirmRegenerateCredentials()" ng-disabled="timeoutForm.$invalid">Regenerate All OAuth Credentials</button>-->
                    <!--<button class="btn btn-lg btn-line-danger" ng-click="confirmRevokeAllGrants()" ng-disabled="timeoutForm.$invalid">Revoke All OAuth Grants</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
