<div class="org-needed-popover">
    <h4 class="header text-primary text-uppercase">Maak een app voor je organisatie</h4>
    <p class="text" ng-hide="ctrl.multipleOrgs.length > 1">Endpoints van onze API's gebruiken kan enkel als je organisatie een applicatie heeft. Die moet je dus nog snel even aanmaken.</p>
    <div class="buttons" ng-hide="ctrl.multipleOrgs.length > 1">
        <button class="btn btn-primary btn-login" ng-click="ctrl.appNeededOk()">Applicatie aanmaken</button>
        <button class="btn btn-later" ng-click="ctrl.appNeededLater()">Later</button>
    </div>
    <div class="text" ng-show="ctrl.multipleOrgs.length > 1">
        <p>Je bent lid van meer dan 1 organisatie. Voor dewelke wil je een applicatie aanmaken?</p>
        <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
                Selecteer een organisatie <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="org in ctrl.multipleOrgs" ng-click="ctrl.appNeededOkForOrg(org)"><a>{{org.name}}</a></li>
            </ul>
        </div>
    </div>
</div>