<div class="org-needed-popover">
    <h4 class="header text-primary text-uppercase">Create an app for your organization</h4>
    <p class="text" ng-hide="ctrl.multipleOrgs.length > 1">Using endpoints of our API's is only possible once your organization has defined an application.<br>Let's create one!</p>
    <div class="buttons" ng-hide="ctrl.multipleOrgs.length > 1">
        <button id="app-create" class="btn btn-primary btn-login" ng-click="ctrl.appNeededOk()">Create Application</button>
        <button id="later" class="btn btn-later" ng-click="ctrl.appNeededLater()">Later</button>
    </div>
    <div class="text" ng-show="ctrl.multipleOrgs.length > 1">
        <p>You are a member of more than 1 organization. Which one would you like to create an app for?</p>
        <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
                Select an organization <span id="org-select-dropdown" class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li id="{{org.id}}" ng-repeat="org in ctrl.multipleOrgs" ng-click="ctrl.appNeededOkForOrg(org)"><a>{{org.name}}</a></li>
            </ul>
        </div>
    </div>
</div>