<div class="org-needed-popover">
    <h4 class="header text-primary text-uppercase">Maak een app voor je organisatie</h4>
    <p class="text">Endpoints van onze API's gebruiken kan enkel als je organisatie een applicatie heeft. Die moet je dus nog snel even aanmaken.</p>
    <div class="buttons">
        <button class="btn btn-primary btn-login" ng-click="ctrl.appNeededOk()">Applicatie aanmaken</button>
        <button class="btn btn-later" ng-click="ctrl.appNeededLater()">Later</button>
    </div>
</div>