<div class="contract-select-popover">
    <div class="text-center" ng-show="contractApps.length > 0">
        <p class="xsmall">Contract to be used for testing</p>
        <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn btn-line-info dropdown-toggle" uib-dropdown-toggle>
                <span class="xsmall" ng-if="selectedContract">{{selectedContract.appOrganizationName}}<br></span>
                <b>{{selectedContract ? selectedContract.appName + ' - ' + selectedContract.appVersion : 'Please select a contract'}}<span class="caret"></span></b>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li ng-repeat="contract in contractApps | orderBy:'createdOn'" ng-click="selectContract(contract)">
                    <a><span class="xsmall">{{contract.appOrganizationName}}</span><br><b>{{contract.appName}} - {{contract.appVersion}}</b></a>
                </li>
            </ul>
        </div>
    </div>
</div>