<div class="custom-headers-popover">
    <div class="col-sm-12 text-center" ng-show="customHeaders.length === 0">
        <button class="btn btn-default btn-block" ng-click="addHeader()">Add Custom Header</button>
    </div>
    <uib-accordion class="accordion-panel" ng-show="customHeaders.length > 0">
        <div ng-repeat="header in customHeaders">
            <auth-accordion-group heading="{{header.name.length > 0 ? header.name : 'Custom Header'}}">
                <form role="form" class="form">
                    <div class="form-group">
                        <div class="input-group mb5">
                            <span class="input-group-addon fa fa-fw fa-header"></span>
                            <input type="text" class="form-control" placeholder="Header Name" ng-model="header.name">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon fa fa-fw fa-envelope-o"></span>
                            <input type="text" class="form-control" placeholder="Header Value" ng-model="header.value">
                        </div>
                    </div>
                </form>
                <p class="btn btn-danger right btn-xs" tooltip-popup-delay="300" tooltip-placement="bottom" uib-tooltip="Remove Header" ng-click="removeHeader(header)"><span class="fa fa-trash"></span></p>
            </auth-accordion-group>
        </div>
        <p class="btn btn-default btn-xs right fa fa-plus" tooltip-popup-delay="300" tooltip-placement="bottom" uib-tooltip="Add Header" ng-click="addHeader()"></p>
    </uib-accordion>
</div>