<div class="panel panel-warning mb10">
  <div class="panel-body">
    <p class="text-warning text-center">Basic Authentication</p> <button class="btn btn-warning btn-block">Authenticate</button>
  </div>
  <div class="panel-body">
    <form role="form" class="form">
      <div class="form-group mb30">
        <div class="input-group mb5">
          <span class="input-group-addon ion ion-person"></span>
          <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group">
          <span class="input-group-addon ion ion-locked"></span>
          <input type="text" class="form-control" placeholder="Password">
        </div>
      </div>
    </form>
  </div>
</div>
