<div class="panel panel-warning mb10">
  <div class="panel-body">
    <p class="text-warning text-center">OAuth 2.0 Authentication</p> <button class="btn btn-warning btn-block">Authenticate</button>
  </div>
  <div class="panel-body">
    <form role="form" class="form">
      <div class="form-group mb30">
        <div class="input-group mb5">
          <span class="input-group-addon ion ion-person"></span>
          <input type="text" class="form-control" placeholder="Client ID">
        </div>
        <div class="input-group">
          <span class="input-group-addon ion ion-locked"></span>
          <input type="text" class="form-control" placeholder="Client Secret">
        </div>
      </div>
      <div class="ui-checkbox ui-checkbox-circle">
        <p class="small text-muted text-uppercase mb5">Scopes</p>
        <label>
          <input type="checkbox" checked>
          <span>r_write</span>
        </label>
      </div>
    </form>
  </div>
</div>
