<form role="form" class="form">
  <div class="form-group mb30">
    <div class="input-group mb5">
      <span class="input-group-addon ion ion-person"></span>
      <input type="text" class="form-control" placeholder="Client ID" ng-model="clientId">
    </div>
    <div class="input-group">
      <span class="input-group-addon ion ion-locked"></span>
      <input type="text" class="form-control" placeholder="Client Secret" ng-model="clientSecret">
    </div>
  </div>
  <div class="ui-checkbox ui-checkbox-circle">
    <p class="small text-muted text-uppercase mb5">Scopes</p>
    <label ng-repeat="scope in scopes">
      <input type="checkbox" checked>
      <span>{{scope}}</span>
    </label>
  </div>
</form>
<div class="text-center">
  <button class="btn btn-warning">Grant</button>
</div>

