<table class="table pending-list">
    <tr class="pending-row" ng-repeat="request in filteredRequests">
        <td class="request-pic-wrapper">
            <img class="request-pic img-circle" ng-src="data:image/png;base64,{{request.userDetails.base64pic}}" ng-if="request.userDetails.base64pic.length > 0">
            <img class="request-pic img-circle" src="images/no-image-available.svg" ng-if="request.userDetails.base64pic === null || request.userDetails.base64pic.length === 0">
        </td>
        <td class="request-info">
            <div class="col-sm-12 text-left">
                <h5 class="mb0">
                    <span class="text-primary">{{request.userDetails.fullName}}</span>&nbsp;<span class="small text-light text-muted">{{request.userDetails.username}}</span>
                </h5>
            </div>
            <div class="col-sm-12 divider-line">
                <hr class="mt10 mb10">
            </div>
            <div class="col-sm-12">
                <div class="actions">
                    <div class="btn-group" uib-dropdown>
                        <button id="split-button" type="button" class="btn btn-sm btn-default" disabled>Choose a role</button>
                        <button type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>
                            <span class="caret" style="margin-left: 0 !important;"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                            <li role="menuitem"><a ng-click="grantMembership(request, 'Developer')">Add as Developer</a></li>
                            <li role="menuitem"><a ng-click="grantMembership(request, 'Owner')">Add as Owner</a></li>
                            <li role="menuitem"><a ng-click="grantMembership(request, 'Watcher')">Add as Watcher</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-line-danger btn-sm pull-right" ng-click="rejectRequest(request)">Reject</button>
                </div>
            </div>
        </td>
    </tr>
</table>
