/**
 * Variables for publisher
 * ----------------------------------------------------------------
 */
@tink-primary:        #219dc8;
@tink-brand:          #cf0039;
@tink-info:           #f28b00;
@tink-success:        #0b0;
@tink-site-head:      #333;
@tink-logo:           '/images/stad-logo.svg';
