/**
 * Overridden variables for T1T
 * ----------------------------------------------------------------
 */
@tink-primary:        #388E3C;
@tink-brand:          #8CC63F;
@tink-info:           lighten(@tink-brand, 10%);
@tink-success:        #0b0;
@tink-site-head:      #333;
@tink-logo:           '/images/stamp_green.png';
@tink-entity-arrow:   '/images/new-entity-arrow-stad.png';
@tink-is-member:      '/images/is-member.png';
