<div>
  <h4>Application Activity</h4>
  <p>The list below is all of the activity (configuration changes made by users) associated with this Application.</p>
  <hr>
</div>

<div class="container-fluid ng-hide" ng-hide="auditEntries.length > 0">
  <div class="row">
    <div class="col-md-12">
      <p>No activity was found. I guess someone should do something first!</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div>
      <div class="ng-scope">
        <div class="row ng-scope">
          <a href="api-manager/users/maarten" class="ng-binding">maarten</a>
          <span>registered application</span>
          <a href="api-manager/orgs/DefaultOrganisation/plans" class="ng-binding">DefaultOrganisation</a>
          <span>/</span>
          <a class="emphasis ng-binding" href="api-manager/orgs/DefaultOrganisation/apps/TestApp">TestApp</a>
          <span>version</span>
          <a class="emphasis ng-binding" href="api-manager/orgs/DefaultOrganisation/apps/TestApp/v1.2">v1.2</a><span>.</span>
        </div>
      </div>
  </div>
  <div class="row">
    <i class="fa fa-fw fa-gears"></i>
    <span class="text-light small">2015-08-12 @ 12:30:17 PM</span>
  </div>
  <hr>
</div>
