<div class="row">
    <div class="col-sm-12">
        <h4>Contracted APIs</h4>
        <p>Below is a list of all the APIs this Application is currently contracted to utilize. This provides a list of all Service that the Application can potentially invoke.</p>
        <hr>
    </div>

    <div class="col-sm-10 col-sm-offset-1">

    </div>

    <div class="col-sm-10 col-sm-offset-1 mt10 table-responsive" style="overflow: visible;" ng-hide="contracts.length === 0">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th nowrap="nowrap">Service</th>
                <th nowrap="nowrap" width="1%">Version</th>
                <th nowrap="nowrap" width="1%">Plan</th>
                <th nowrap="nowrap" width="1%">Swagger Doc</th>
                <th nowrap="nowrap" width="1%" ng-if="!isRegistered"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contract in contracts">
                <td><a class="clickable" ng-click="toApiDoc(contract)">{{contract.serviceName}}</a></td>
                <td>{{contract.serviceVersion}}</td>
                <td>{{contract.planName}}</td>
                <td>
                    <button class="btn btn-sm btn-default" ng-click="docDownloader.fetchWithContract(contract)" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Download Swagger documentation for {{contract.serviceName}} {{contract.serviceVersion}}">Download as JSON</button>
                </td>
                <td ng-if="!isRegistered">
                    <button class="btn btn-sm btn-line-warning pull-right" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Break the contact with {{contract.serviceName}} {{contract.serviceVersion}}" ng-click="breakContract(contract)">Break Contract</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-10 col-sm-offset-1 well" ng-show="contracts.length == 0">
        This application doesn't appear to have any service contracts.  Try creating a new Contract to a Service - if you do it will get listed here!
    </div>
</div>
