<div class="row">
  <div class="col-sm-12">
    <h4>Service Contracts</h4>
    <p>Here is a list of all Services that this Application is currently contracted to utilize. This provides a list of all Services that the Application can potentially invoke.</p>
    <hr>
  </div>

  <div class="col-sm-12">
    <div class="col-sm-10 col-sm-offset-1" ng-repeat="contract in contracts">
      <a ui-sref="organization.services({orgId: contract.serviceOrganizationId})">{{contract.serviceOrganizationName}}</a> / <span class="title"><a ui-sref="service({orgId: contract.serviceOrganizationId, svcId: contract.serviceId})">{{contract.serviceName}}</a></span>
      <div class="versionAndPlan">
        <span>Service version</span>
        <span><a ui-sref="service({orgId: contract.serviceOrganizationId, svcId: contract.serviceId})">{{contract.serviceVersion}}</a></span>
        <span>via plan</span>
        <span><a ui-sref="organization.plans({orgId: contract.serviceOrganizationId})">{{contract.planName}}</a></span>
        <span>entered into on</span>
        <i class="fa fa-clock-o fa-fw fa-inline"></i>
        <span>{{contract.createdOn | date}}</span>
      </div>
      <div class="description apiman-label-faded ng-binding">
      </div>
      <div>
        <hr>
      </div>
    </div>
  </div>
</div>
