<div class="row">
  <div class="col-sm-12">
    <h4>Service Contracts</h4>
    <p>Here is a list of all Services that this Application is currently contracted to utilize. This provides a list of all Services that the Application can potentially invoke.</p>
    <hr>
  </div>

  <div class="col-sm-12">
    <div class="col-sm-10 col-sm-offset-1">
      <a href="api-manager/browse/orgs/DefaultOrganisation" class="ng-binding">Default Organisation</a> / <span class="title"><a href="api-manager/browse/orgs/DefaultOrganisation/TestService/1.0" class="ng-binding">Test Service</a></span>
      <div class="versionAndPlan">
        <span apiman-i18n-key="app-contract.detail.service-version">Service version</span>
        <span><a href="api-manager/browse/orgs/DefaultOrganisation/TestService/1.0" class="ng-binding">1.0</a></span>
        <span apiman-i18n-key="app-contract.detail.via-plan">via plan</span>
        <span><a class="ng-binding">Unlimited</a></span>
        <span apiman-i18n-key="app-contract.detail.entered-into">entered into on</span>
        <i class="fa fa-clock-o fa-fw fa-inline"></i>
        <span class="ng-binding">2015-08-12</span>
      </div>
      <div class="description apiman-label-faded ng-binding">
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <hr>
      <a href="api-manager/browse/orgs/DefaultOrganisation" class="ng-binding">Default Organisation</a> / <span class="title"><a href="api-manager/browse/orgs/DefaultOrganisation/TestService/1.0" class="ng-binding">Test Service</a></span>
      <div class="versionAndPlan">
        <span apiman-i18n-key="app-contract.detail.service-version">Service version</span>
        <span><a href="api-manager/browse/orgs/DefaultOrganisation/TestService/1.0" class="ng-binding">1.0</a></span>
        <span apiman-i18n-key="app-contract.detail.via-plan">via plan</span>
        <span><a class="ng-binding">Unlimited</a></span>
        <span apiman-i18n-key="app-contract.detail.entered-into">entered into on</span>
        <i class="fa fa-clock-o fa-fw fa-inline"></i>
        <span class="ng-binding">2015-08-12</span>
      </div>
      <div class="description apiman-label-faded ng-binding">
      </div>
    </div>
  </div>
</div>
