<div class="row">
    <div class="col-sm-12">
        <h3>Application Details</h3><br>
        <div class="row">
            <div class="col-sm-12">
                <h4>Application Identifiers</h4>
            </div>
            <div class="col-sm-6">
                <table class="mt5 table table-bordered table-striped table-condensed">
                    <tbody>
                    <tr>
                        <td>
                            <span class="text-bold">Organization ID</span>
                        </td>
                        <td>
                            {{applicationVersion.application.organization.id}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-bold">Application ID</span>
                        </td>
                        <td>
                            {{applicationVersion.application.id}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-bold">Version ID</span>
                        </td>
                        <td>
                            {{applicationVersion.version}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt30 row" ng-if="applicationVersion.oAuthClientId !== null && applicationVersion.oAuthClientId.length > 0">
            <div class="col-sm-12">
                <h4>OAuth Credentials</h4>
            </div>
            <div class="col-sm-10">
                <table class="mt5 table table-bordered table-striped table-condensed">
                    <tr>
                        <td>
                            <span class="text-bold">Client ID</span>
                        </td>
                        <td>
                            {{applicationVersion.oAuthClientId}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-bold">Client Secret</span>
                        </td>
                        <td>
                            {{applicationVersion.oauthClientSecret}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
