<div class="row">
    <div class="col-sm-12">
        <h3>Application Details</h3><br>
        <div class="row">
            <div class="col-sm-12">
                <h4>Application Identifiers</h4>
            </div>
            <div class="col-sm-8">
                <table class="mt5 table table-striped table-condensed">
                    <tbody>
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Organization ID</span>
                        </td>
                        <td>
                            {{applicationVersion.application.organization.id}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Application ID</span>
                        </td>
                        <td>
                            {{applicationVersion.application.id}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Version ID</span>
                        </td>
                        <td>
                            {{applicationVersion.version}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt30 row" ng-if="apikey">
            <div class="col-sm-12">
                <h4>API Key <a class="fa fa-refresh clickable" ng-if="User.isAuthorizedFor('appEdit')" ng-click="refreshApiKey(applicationVersion)"></a></h4>
            </div>
            <div class="col-sm-8">
                <table class="mt5 table table-striped table-condensed">
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">API Key</span>
                        </td>
                        <td>
                            {{apikey}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="mt30 row" ng-if="applicationVersion.oAuthClientId !== null && applicationVersion.oAuthClientId.length > 0">
            <div class="col-sm-12">
                <h4>OAuth Credentials <a class="fa fa-refresh clickable" ng-if="User.isAuthorizedFor('appEdit')" ng-click="refreshOAuth(applicationVersion)"></a></h4>
            </div>
            <div class="col-sm-8">
                <table class="mt5 table table-striped table-condensed">
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Client ID</span>
                        </td>
                        <td>
                            {{applicationVersion.oAuthClientId}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Client Secret</span>
                        </td>
                        <td>
                            {{applicationVersion.oauthClientSecret}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
