<div class="row">
    <div class="col-sm-12">
        <h3>Application Details</h3><br>
        <div class="row">
            <div class="col-sm-12">
                <h4>Application Identifiers</h4>
            </div>
            <div class="col-sm-8">
                <table class="mt5 table table-striped table-condensed">
                    <tbody>
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Organization ID</span>
                        </td>
                        <td>
                            {{applicationVersion.application.organization.id}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="applicationVersion.application.organization.id" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Application ID</span>
                        </td>
                        <td>
                            {{applicationVersion.application.id}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="applicationVersion.application.id" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Version ID</span>
                        </td>
                        <td>
                            {{applicationVersion.version}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="applicationVersion.version" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt30 row" ng-if="apikey">
            <div class="col-sm-8">
                <h4>API Key&nbsp;&nbsp;<a class="btn btn-primary btn-xs right"
                               ng-mouseenter="hoverKey = true;" ng-mouseleave="hoverKey = false;"
                               ng-if="User.isAuthorizedFor('appEdit')" ng-click="refreshApiKey(applicationVersion)"><span class="fa fa-refresh" ng-class="{'fa-spin': hoverKey}"></span> Generate New Key</a>
                </h4>
            </div>
            <div class="col-sm-8">
                <table class="mt5 table table-striped table-condensed">
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Key</span>
                        </td>
                        <td>
                            {{apikey}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="apikey" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="mt30 row" ng-if="applicationVersion.oAuthClientId !== null && applicationVersion.oAuthClientId.length > 0">
            <div class="col-sm-8">
                <h4>OAuth Credentials&nbsp;&nbsp;<a class="btn btn-primary btn-xs right"
                                         ng-mouseenter="hoverOAuth = true" ng-mouseleave="hoverOAuth = false"
                                         ng-if="User.isAuthorizedFor('appEdit')" ng-click="refreshOAuth(applicationVersion)"><span class="fa fa-refresh" ng-class="{ 'fa-spin': hoverOAuth }"></span> Generate New Credentials</a>
                </h4>
            </div>
            <div class="col-sm-8">
                <table class="mt5 table table-striped table-condensed">
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Client ID</span>
                        </td>
                        <td>
                            {{applicationVersion.oAuthClientId}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="applicationVersion.oAuthClientId" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 210px;">
                            <span class="text-bold">Client Secret</span>
                        </td>
                        <td>
                            {{applicationVersion.oauthClientSecret}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="applicationVersion.oauthClientSecret" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
