<div class="row">
    <div class="col-sm-12">
        <h4>Security</h4>
        <p>Below is a list of all the access tokens that are currently associated with this application version.</p>
        <p>You can review and, if needed, revoke unnecessary authorizations from this page.</p>
        <hr>
        <div class="col-sm-12 mt30" ng-hide="tokens.length > 0">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 well">
                    We couldn't find any access tokens for this application version. Check back later.
                </div>
            </div>

        </div>

        <div class="col-sm-12" ng-show="tokens.length > 0">
            <p class="btn btn-line-primary right" ng-disabled="!canDoBulkOperation()" ng-click="revokeSelected()">Revoke Selected</p>


            <table st-table="tokens" class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 1%">
                        <div class="ui-checkbox ui-checkbox-primary ui-checkbox-circle">
                            <label>
                                <input type="checkbox" ng-model="sel" ng-click="change()">
                                <span class="title"></span>
                            </label>
                        </div>
                    </th>
                    <th style="width: 40%">Scopes & Token</th>
                    <th style="width: 60%">Authenticated User</th>
                    <th style="width: 1%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="token in tokens">
                    <td>
                        <div class="ui-checkbox ui-checkbox-primary ui-checkbox-circle">
                            <label>
                                <input type="checkbox" ng-model="token.selected">
                                <span class="title"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            {{token.scopesString}}
                        </div>
                        <div>
                            <span class="small text-light text-muted">{{token.originalToken.accessToken}}</span>
                        </div>
                    </td>
                    <td>
                        <div style="display: inline-block; vertical-align: text-bottom;">
                            <img class="member-pic img-circle" ng-src="data:image/png;base64,{{token.userDetails.base64pic}}" ng-if="token.userDetails.base64pic.length > 0">
                            <img class="member-pic img-circle" src="images/no-image-available.svg" ng-if="token.userDetails.base64pic === null || token.userDetails.base64pic.length === 0">
                        </div>
                        &nbsp;
                        <div style="display: inline-block">
                            <span>{{token.userDetails.fullName}}</span><br>
                            <span class="small text-light text-muted">{{token.userDetails.username}}</span>
                        </div>
                    </td>
                    <td>
                        <span class="btn btn-line-primary" ng-click="revoke(token)">Revoke</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>