<div class="api-row mt5">
    <div class="api-content-container">
        <div class="panel">
            <div class="panel-body">
                <div class="flex-row">
                    <div id="logo-slot" class="pl0 pr20" ng-transclude="logoSlot" ng-if="$ctrl.hasLogo"></div>
                    <div class="flex-grow" ng-transclude="headerSlot"></div>
                </div>
                <!-- Main API info panel -->
            </div><!-- end main info panel -->
        </div>
    </div>
</div>