<a>
    <span class="ion ion-email left bg-danger"></span>
    <div class="desc">
        <span class="close ion ion-android-close" ng-click="clear($event)" ng-hide="!canClear"></span>
        <strong>Contract Rejected</strong>
        <p class="small text-light">Your contract request for <span class="text-primary text-bold">{{notification.serviceName}} {{notification.serviceVersion}}</span> has been rejected.</p>
        <p class="xsmall text-muted">{{ notification.createdOn | relativeDate }}</p>
    </div>
</a>