<div class="col-sm-12" ng-hide="activities.length > 0">
  <div class="row">
    <div class="col-md-12">
      <p>No activity was found. I guess someone should do something first!</p>
    </div>
  </div>
</div>

<div class="col-sm-12" ng-repeat="activity in activities">
  <div>
    <div class="ng-scope">
      <div class="row ng-scope">
        <a>{{activity.who}}</a>
        <span>performed <b>{{activity.what}}</b> on {{type}}</span>
        <a>{{activity.organizationId}}</a>
        <span>/</span>
        <a class="emphasis">{{activity.entityId}}</a>
        <span ng-show="activity.entityVersion !== null">version</span>
        <a class="emphasis" ng-show="activity.entityVersion !== null">{{activity.entityVersion}}</a><span>.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <i class="fa fa-fw fa-gears"></i>
    <span class="text-light small">{{ activity.createdOn | date:'short' }}</span>
  </div>
  <hr>
</div>
