<div ng-repeat="api in apis"
     class="api-grid col-centered col-lg-3 col-md-4 col-sm-6 col-xs-12 clickable"
     ui-sref="root.api.documentation({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})">
    <div class="panel panel-default panel-hovered api-panel mt15 text-center">
        <div id="api-name" class="panel-heading">
            <a><h4 class="text-nowrap text-ellipsis">{{api.service.name}}</h4></a>
        </div>
        <div id="follow" ng-click="$event.stopPropagation()">
                <a ng-click="followAction(api)" class="clickable pull-right">
                <i class="follow-icon-grid fa fa-star" ng-class="{'not-following': !userIsFollowing(api), 'following': userIsFollowing(api)}"></i>
                </a>
        </div>
        <div id="api-info" class="panel-body">

            <div class="clearfix">
                <div class="info">
                    <a class="text-nowrap text-ellipsis" ui-sref="root.api.documentation({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})"
                       ng-if="useFriendlyNames && api.service.organization.friendlyName && api.service.organization.friendlyName.length > 0">
                        <p class="mt0 text-primary text-uppercase">{{api.service.organization.friendlyName}}</p>
                    </a>
                    <span ng-if="!(useFriendlyNames && api.service.organization.friendlyName && api.service.organization.friendlyName.length > 0)">&nbsp;</span>
                </div>
                <div class="media media-middle">
                    <base64-logo logo-class="entity-logo-grid" logo="{{api.service.base64logo}}"></base64-logo>
                </div>
                <div class="info mt10">
                    <p class="description text-light text-nowrap text-ellipsis">{{api.service.description}}</p>
                </div>
            </div>
        </div>
        <div id="api-version" class="panel-footer api-version clearfix mb10">
            <div class="text-uppercase">{{api.version}}</div>
        </div>
        <div id="api-metrics" class="api-metrics panel-footer clearfix panel-footer-sm mt20 mb20" ng-if="!api.noMetrics">
            <div class="col-xs-4 text-bold">{{api.marketInfo.developers}}</div>
            <div class="col-xs-4 text-bold">{{api.service.followers.length}}</div>
            <div class="col-xs-4 text-bold">{{api.marketInfo.uptime}}%</div>
            <div class="col-xs-4 small text-light">developers</div>
            <div class="col-xs-4 small text-light">followers</div>
            <div class="col-xs-4 small text-light">uptime</div>
        </div>
        <div id="api-no-metrics" class="api-metrics panel-footer clearfix panel-footer-sm mt20 mb20" ng-if="api.noMetrics">
            <div class="col-xs-12">API metrics currently unavailable.</div>
        </div>
    </div>
</div>

