<div class="panel panel-lined table-responsive api-list-container">
    <table class="table text-center">
        <tr ng-repeat="api in apis" class="api-list">
            <td id="api-logo-column">
                <div class="media media-middle">
                    <a ui-sref="root.api.documentation({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})"><base64-logo logo-class="entity-logo-list" logo="{{api.service.base64logo}}"></base64-logo></a>
                </div>
            </td>
            <td id="api-info-column" class="text-left">
                <div>
                    <a class="text-primary" ui-sref="root.api.documentation({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})"><span class="text-uppercase size-h4 text-light">{{api.service.name}}</span></a>
                    <span ng-if="useFriendlyNames && api.service.organization.friendlyName && api.service.organization.friendlyName.length > 0"><span class="text-ultralight text-muted"> by </span>
                    <span class="text-light text-default">
                        {{api.service.organization.friendlyName}}
                    </span></span>
                </div>
                <div class="description">
                    <span>{{api.service.description}}</span>
                </div>
            </td>
            <!--<td id="api-version-column">-->
                <!--<div class="text-bold text-uppercase">{{api.version}}</div>-->
            <!--</td>-->
            <td id="api-metrics-column" ng-if="!api.noMetrics">
                <div class="col-xs-4"><b>{{api.marketInfo.developers}}</b><br>developers</div>
                <div class="col-xs-4"><b>{{api.service.followers.length}}</b><br>followers<br></div>
                <div class="col-xs-4"><b>{{api.marketInfo.uptime}}%</b><br>uptime</div>
            </td>
            <td id="api-no-metrics-column" ng-if="api.noMetrics">
                <div class="col-xs-12">
                    <span class="text-light">API metrics currently unavailable.</span>
                </div>
            </td>
            <td id="api-follow-column">
                <div><a href ng-click="followAction(api)">
                    <i class="follow-icon fa fa-star" ng-class="{'not-following': !userIsFollowing(api), 'following': userIsFollowing(api)}"></i></a>
                </div>
            </td>
        </tr>
    </table>
</div>
