<!-- Basic Table -->
<div class="col-md-12" ng-hide="availableAPIs.length === 0">
  <div class="panel panel-lined mb20 table-responsive">
    <table class="table table-bordered text-center">
      <tr ng-repeat="api in availableAPIs">
        <td>
          <div class="media media-middle">
            <a ui-sref="root.api({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})"><base64-logo logo-class="entity-logo" logo="{{api.service.base64logo}}"></base64-logo></a>
          </div>
        </td>
        <td class="text-left">
          <div class="text-primary">
            <a class="text-primary" ui-sref="root.api({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})">{{api.service.name}}</a>
            <span class="text-default text-light"> by </span><a class="text-primary" ui-sref="root.organization.services({orgId: api.service.organization.id})">{{api.service.organization.name}}</a>
          </div>
          <div class="description">
            {{api.service.description}}
          </div>
        </td>
        <td>
          <div class="text-bold text-uppercase">Free</div>
        </td>
        <td>
          <div class="fa-hover col-xs-4"><b>9999</b><br>developers</div>
          <div class="fa-hover col-xs-4"><b>2222</b><br>followers<br></div>
          <div class="fa-hover col-xs-4"><b>100%</b><br>uptime</div>
        </td>
        <td>
          <div class="fa-hover"><a href=""><i class="text-primary follow-icon fa fa-star-o"></i></a></div>
        </td>
      </tr>
    </table>
  </div>
</div>
