<div class="panel panel-lined mb20 table-responsive">
    <table class="table table-bordered text-center">
        <tr ng-repeat="api in apis" class="api-list">
            <td>
                <div class="media media-middle">
                    <a ui-sref="root.api({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})"><base64-logo logo-class="entity-logo-list" logo="{{api.service.base64logo}}"></base64-logo></a>
                </div>
            </td>
            <td class="text-left">
                <div>
                    <a class="text-primary" ui-sref="root.api({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})">{{api.service.name}}</a>
                    <span ng-if="useFriendlyNames && api.service.organization.friendlyName && api.service.organization.friendlyName.length > 0"><span class="text-default text-light"> by </span>
                    <a class="text-primary" ui-sref="root.api({orgId: api.service.organization.id, svcId: api.service.id, versionId: api.version})">
                        {{api.service.organization.friendlyName}}
                    </a></span>
                </div>
                <div class="description">
                    {{api.service.description}}
                </div>
            </td>
            <td>
                <div class="text-bold text-uppercase">{{api.version}}</div>
            </td>
            <td>
                <div class="col-xs-4"><b>{{stats[api.service.id].developers}}</b><br>developers</div>
                <div class="col-xs-4"><b>{{api.service.followers.length}}</b><br>followers<br></div>
                <div class="col-xs-4"><b>{{stats[api.service.id].uptime}}%</b><br>uptime</div>
            </td>
            <td>
                <div><a href ng-click="followAction(api)">
                    <i class="text-primary follow-icon fa" ng-class="{'fa-star-o': !userIsFollowing(api), 'fa-star': userIsFollowing(api)}"></i></a>
                </div>
            </td>
        </tr>
    </table>
</div>
