<div ng-model="ctrl.policies">
  <div class="col-sm-12" ng-repeat="policy in ctrl.policies">
    <div class="row">
      <div class="col-md-1">
        <h3 class="fa fa-policy-big-icon {{policy.icon}} fa-fw"></h3>
      </div>
      <div class="col-md-9">
        <div>
          <span class="title"><a href>{{ policy.name }}</a></span>
        </div>
        <div class="metaData">
          <span>Policy created by </span>
          <span><a href>{{ policy.createdBy }}</a></span>
          <span>on</span>
          <i class="fa fa-clock-o fa-inline"></i>
          <span>{{ policy.createdOn | date:'yyyy-MM-dd' }}</span>
        </div>
        <div class="description apiman-label-faded">
          <div ng-repeat="config in ctrl.policyConfiguration[policy.id]">
            <p class="text-bold">{{config.key}}: {{config.value}}</p>
          </div>
          {{ policy.description }}
        </div>
      </div>
      <div class="col pull-right">
        <button class="btn btn-default btn-sm" ng-click="ctrl.remove( policy )" ng-show="ctrl.canEdit">Remove</button>
      </div>
    </div>

    <hr />
  </div>
</div>
