  <a href="javascript:;" class="list-group-item">
    <div>
      <h4 class="text-bold list-group-item-heading">Ticket short description
        <span class="right text-light fa fa-comment"> 3</span>
        <span class="right">&nbsp;&nbsp;</span><span class="text-success right fa fa-plus-circle"></span>
        </h4>
    </div>
    <div class="mt15">
      <label class="label label-success">Open</label>
      <img class="ml10 img-ticket-user img-circle" src="images/admin.jpg"> Username
      <span class="ml20 small text-light">3 months ago</span>
      <span class="right text-light">#16</span>
    </div>
  </a>
