<table class="table table-striped text-center organizations-table">
    <tr ng-repeat="org in orgs">
        <td class="org-info">
            <div class="col-sm-12 text-left">
                <h4 class="mb0">
                    <!--<i class="fa fa-shield icon text-primary"></i>-->
                    <a class="ng-binding" ui-sref="root.market-dash({orgId: org.id})" ng-if="org.isMember">{{org.name}}</a>
                    <span class="text-primary not-clickable" tooltip-popup-delay="1000" tooltip-placement="top" uib-tooltip="You are not a member of this organization." ng-if="!org.isMember">{{org.name}}</span>
                    <span class="xsmall text-muted ml10 mb5" ng-if="!org.organizationPrivate"><span class="fa fa-globe"></span> Public</span>
                    <span class="xsmall text-muted ml10 mb5" ng-if="org.organizationPrivate"><span class="fa fa-lock"></span> Private</span>
                </h4>
                <hr class="mt10 mb5">
            </div>
            <div class="col-sm-10 text-muted">
                <div class="col-sm-3">
                    <h6 ng-class="org.numApps ? 'text-success':''"  class="mb0">{{org.numApps ? org.numApps : '0' }}</h6>
                    <p  ng-class="org.numApps ? 'text-success':''"  class="xsmall">Registered {{ org.numApps === 1 ? 'App' : 'Apps' }}</p>
                </div>
                <div class="col-sm-3">
                    <h6 ng-class="org.numMembers ? 'text-success':''" class="mb0">{{org.numMembers ? org.numMembers : '0' }}</h6>
                    <p  ng-class="org.numMembers ? 'text-success':''" class="xsmall">{{ org.numMembers === 1 ? 'Member' : 'Members' }}</p>
                </div>
                <div class="col-sm-3" ng-if="org.isMember">
                    <h6 ng-class="org.numEvents ? 'text-warning':''" class="mb0">{{org.numEvents ? org.numEvents : '0' }}</h6>
                    <p  ng-class="org.numEvents ? 'text-warning':''" class="xsmall">{{ org.numEvents === 1 ? 'Action' : 'Actions' }}</p>
                </div>
            </div>
        </td>
        <td class="org-actions">
            <div class="actions" ng-hide="org.isMember">
                <button ng-if="!org.organizationPrivate && !org.requestPending" class="btn btn-line-primary btn-sm" ng-click="requestMembership(org)">Request Membership</button>
                <i ng-if="org.organizationPrivate" class="fa fa-lock fa-3x text-muted-light" tooltip-popup-delay="1000" tooltip-placement="top" uib-tooltip="This is a private Organization. You cannot request to join."></i>
                <div class="pending" ng-if="!org.organizationPrivate && org.requestPending">
                    <i class="fa fa-hourglass-half fa-4x text-muted-light" tooltip-popup-delay="1000" tooltip-placement="top" uib-tooltip="Your membership request is pending. Please check back at a later time."></i>
                    <button id="cancel" class="btn btn-line-primary btn-sm" ng-click="cancelRequest(org)">Cancel</button>
                </div>
            </div>
            <div class="actions" ng-show="org.isMember">
                <i class="fa-stack fa-2x" tooltip-popup-delay="1000" tooltip-placement="top" uib-tooltip="You are a member of this organization.">
                    <i class="fa fa-users fa-stack-1x text-muted-light"></i>
                    <i class="fa fa-check fa-stack-2x text-success-light"></i>
                </i>
            </div>
        </td>
    </tr>
</table>