<div class="modal-header clearfix">
    <h4 class="modal-title">{{service.autoAcceptContracts ? 'Creating' : 'Requesting' }} Contract with <span class="text-primary">{{service.service.name}} {{service.version}}</span></h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body" ng-hide="hasOrgContext || termsAgreementMode">
    <p class="mt30">We cannot find an organization context for the contract you wish to {{service.autoAcceptContracts ? 'create' : 'request' }}. Please select the organization that contains the application you want to create a contract with.</p>
    <div class="btn-group dropdown" uib-dropdown>
        <button type="button" class="btn btn-line-primary btn-lg dropdown-toggle" uib-dropdown-toggle>
            Select your organization<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
            <li ng-repeat="org in appOrgs" ng-click="selectOrg(org)"><a>{{org.name}}</a></li>
        </ul>
    </div>
</div>

<div class="modal-body" ng-show="hasOrgContext && !termsAgreementMode">
    <div id="appForm" name="appForm" class="form form-inline">
        <span>For application </span>
        <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
                {{selectedAppVersion.name}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
                <li ng-repeat="app in applications | orderBy:'createdOn'" ng-click="selectApp(app)"><a>{{app.name}}</a></li>
            </ul>
        </div>
        <span>, version </span>
        <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
                {{selectedAppVersion.version}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
                <li ng-repeat="version in versions | orderBy:'createdOn'" ng-click="selectVersion(version)"><a>{{version.version}}</a></li>
            </ul>
        </div>
        <span>in organization
            <div class="btn-group dropdown" uib-dropdown>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
                {{orgScreenModel.organization.name}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
                <li ng-repeat="org in appOrgs" ng-click="selectOrg(org)"><a>{{org.name}}</a></li>
            </ul>
        </div>
            .</span>
    </div>
</div>

<div class="modal-body text-muted" ng-show="hasOrgContext && !termsAgreementMode">
    <p>
        The policies that will be applied on this contract are a combination of service-level policies
        and plan policies.
    </p>
    <p>
        An overview of the policies that will be enforced on this contract can be found below.
    </p>
</div>

<div class="modal-body" ng-show="hasOrgContext && !termsAgreementMode">
    <p class="text-bold">Policies defined on this service:</p>
    <div class="well" ng-show="servicePolicies.length == 0">
        No policies have been defined for this service.
    </div>
    <div ng-repeat="policy in servicePolicies">
        <span class="fa {{policy.icon}}">&nbsp;&nbsp;</span>{{policy.name}}:
        <div ng-repeat="config in policyConfig[policy.id]">
            <p class="ml30 text-bold">{{config.key}}: {{config.value}}</p>
        </div>
    </div>
</div>

<div class="modal-body" ng-show="hasOrgContext && !termsAgreementMode">
    <p class="text-bold text-primary">Please select the plan you want to use for this contract</p>
    <div class="btn-group dropdown" uib-dropdown>
        <button type="button" class="btn btn-line-primary btn-lg dropdown-toggle" uib-dropdown-toggle>
            {{selectedPlan.plan.name}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
            <li ng-repeat="plan in availablePlans | orderBy:'createdOn'" ng-click="selectPlan(plan)"><a>{{plan.plan.name}}</a></li>
        </ul>
    </div>
</div>

<div class="modal-body" ng-show="hasOrgContext && !termsAgreementMode">
    <p class="text-bold">Policies included in this plan:</p>
    <div class="well" ng-show="selectedPlanPolicies.length == 0">
        No policies have been defined for this plan.
    </div>
    <div ng-repeat="policy in selectedPlanPolicies">
        <span class="fa {{policy.icon}}">&nbsp;&nbsp;</span>{{policy.name}}:
        <div ng-repeat="config in policyConfig[policy.id]">
            <p class="ml30 text-bold">{{config.key}}: {{config.value}}</p>
        </div>
    </div>
</div>

<div class="modal-body" ng-show="hasOrgContext && !termsAgreementMode && !service.autoAcceptContracts">
    <h4>Please note that the owner of this service has chosen to review all contract requests for this service.
        <strong class="text-primary">Your contract will not automatically activate!</strong>
    </h4>
    <h4>See the service README for instructions on how to proceed with your request.</h4>
</div>

<div class="modal-body terms-and-conditions" ng-if="termsAgreementMode">
    <h4 class="text-primary">To {{service.autoAcceptContracts ? 'create' : 'request' }} a contract with this service you must agree to the Terms & Conditions below.</h4>
    <p class="text-muted text-light mb30"> Please read through the Terms and tick the checkbox to indicate your agreement.</p>
    <div class="terms" btf-markdown="terms" scroll-to-bottom prop="atBottom"></div>
    <a class="clickable small pull-right" print-div=".terms">Print Terms & Conditions</a>
    <div class="terms-checkbox-wrapper">
        <div class="ui-checkbox ui-checkbox-primary ui-checkbox-circle terms-checkbox">
            <label>
                <input type="checkbox" ng-model="termsAgreed.result" ng-disabled="!atBottom">
                <span class="title">I agree to the specified Terms & Conditions.</span>
            </label>
        </div>
        <span class="ml30 xsmall text-muted text-light" ng-class="{ 'prompt-hidden': atBottom }">You must read all of the Terms & Condtitions to activate the checkbox.</span>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default ml15" ng-click="modalClose()">
        Cancel
    </button>
    <button class="btn btn-line-success" ng-click="startCreateContract()"
            ng-disabled="!canCreateContract()">
        {{ service.termsAgreementRequired && !termsAgreementMode ? 'Select Plan' : service.autoAcceptContracts ? 'Confirm Contract' : 'Request Contract' }}
    </button>
</div>



