<div class="modal-header clearfix">
  <h4 class="modal-title">New Plan for <span class="text-bold text-primary">{{org.name}}</span></h4>
  <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Plan Create panel -->
<div class="modal-body style-placeholders">
  <form role="form" name="planForm" class="form-horizontal">
    <div class="form-group mt30">
      <div class="col-md-7">
        <label class="control-label text-primary">Plan Name</label>
        <input type="text" name="planName" class="form-control" placeholder="Enter plan name..." ng-model="ctrl.plan.name" required ng-pattern="regex.PLAN_NAME" validate-on-timeout>
        <p class="text-danger xsmall" ng-show="planForm.planName.$error.required && planForm.planName.$timedout" ng-if="planForm.planName.$touched">Plan name is required.</p>
        <p class="text-danger xsmall" ng-show="planForm.planName.$error.pattern && planForm.planName.$timedout">Allowed characters: A-z (both upper and lowercase), numbers, dashes, underscores and single spaces. All other characters will be rejected. Leading and trailing spaces will be trimmed.</p>
        <p class="text-muted xsmall">Human-readable name of the plan</p>
      </div>
      <div class="col-md-3">
        <label class="control-label text-primary">Initial Version</label>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-5">
        <div class="input-group">
          <span class="input-group-addon input-version-addon">v</span>
          <input type="text" name="version" class="form-control input-version" placeholder="version number" maxlength="20" ng-model="ctrl.plan.initialVersion" required ng-pattern="regex.VERSION" validate-on-timeout>
        </div>
        <p class="text-danger xsmall" ng-show="planForm.version.$error.required && planForm.version.$timedout" ng-if="planForm.version.$touched">Initial version is required.</p>
        <p class="text-danger xsmall" ng-show="planForm.version.$error.pattern && planForm.version.$timedout">Only numeric characters are allowed.</p>
        <p class="text-muted xsmall">Version the plan will start out as. Usually v1 for new plans</p>
      </div>
    </div>

    <div class="form-group mt30">
      <div class="col-md-12">
        <label class="control-label text-primary">Plan Description</label>
        <textarea class="form-control" placeholder="Enter a description (optional)" ng-model="ctrl.plan.description"></textarea>
        <p class="text-muted xsmall">Short description of the plan</p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default ml15" ng-click="modalClose()">Cancel</button>
  <button class="btn btn-primary" ng-click="createPlan(ctrl.plan)" ng-disabled="planForm.$invalid">Create Plan</button>
</div>
