<div class="modal-header clearfix">
    <h4 class="modal-title">Are you sure you want to reissue <span class="text-primary">all API keys</span>?</h4>
    <span class="close ion ion-android-close" ng-click="cancel()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
    <p>All current API keys for <strong>all applications</strong> will be revoked, and new keys will be issued.</p>
    <p class="text-primary">Keep in mind this action cannot be undone.</p>

    <p>Do you wish to proceed?</p>
</div>
<div class="modal-footer">
    <button id="cancel" class="btn btn-line-default ml15" ng-click="cancel()">Cancel</button>
    <button id="lock" class="btn btn-line-success" ng-click="ok()">Reissue Keys</button>
</div>

