<div class="modal-header clearfix">
    <h4 class="modal-title">Are you sure you want to reissue this application's API key?</h4>
    <span class="close ion ion-android-close" ng-click="cancel()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
    <p>The old API key will be revoked and rendered invalid.</p>

    <p>Do you wish to proceed?</p>
</div>
<div class="modal-footer">
    <button id="cancel" class="btn btn-line-default ml15" ng-click="cancel()">Cancel</button>
    <button id="lock" class="btn btn-line-success" ng-click="ok()">Reissue Key</button>
</div>

