<div class="modal-header clearfix">
    <h4 class="modal-title">How To Invoke <span class="text-bold text-primary">{{contract.serviceName}}</span></h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
    <p>A dummy curl invocation of this service can be found below:</p>
</div>

<div class="modal-body">
    <textarea class="form-control" disabled>curl -X GET --header "apikey: {{contract.apikey}}" "{{endpoint.managedEndpoint}}/[endpoint]"</textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="modalClose()">OK</button>
</div>




