<div class="modal-header clearfix">
  <h4 class="modal-title">Are you sure you want to publish <span class="text-primary">{{selectedSvcVersion.service.name}} {{selectedSvcVersion.version}}</span>?</h4>
  <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
  <p>Publishing a service version makes it available to consumers on the API Store.</p>
  <p>Once published, the implementation details, service policy definitions and available plans for this service version <span class="text-primary text-bold">can no longer be changed</span>.
    An exception to this is the service documentation, which can be updated at any time.</p>

  <p>You are about to publish <span class="text-bold text-primary">{{selectedSvcVersion.service.name}} {{selectedSvcVersion.version}}</span>.</p>

  <p>Do you wish to proceed?</p>

</div>
<div class="modal-footer">
  <button class="btn btn-line-default ml15" ng-click="modalClose()">Cancel</button>
  <button class="btn btn-line-success" ng-click="doPublish()">Confirm Publication</button>
</div>
