<div class="modal-header clearfix">
    <h4 class="modal-title">Are you sure you want to delete <span class="text-primary">{{serviceName}}</span>?</h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
    <p>When a service is deleted, <b>all</b> data associated with the service will be removed. All contracts with the service will be voided, all service versions will be removed, and the service itself will be deleted.</p>

    <p>Please be aware that <span class="text-primary text-bold">this action is irreversible!</span></p>

</div>
<div class="modal-footer">
    <button class="btn btn-line-default ml15" ng-click="modalClose()">Cancel</button>
    <button class="btn btn-line-primary" ng-click="doDelete()">Delete Service</button>
</div>
