<div class="modal-header clearfix">
  <h4 class="modal-title" ng-if="!hasExistingContracts">Are you sure you want to retire <span class="text-primary">{{serviceVersion.service.name}} {{serviceVersion.version}}</span>?</h4>
  <h4 class="modal-title" ng-if="hasExistingContracts">Cannot retire <span class="text-primary">{{serviceVersion.service.name}} {{serviceVersion.version}}</span>, deprecate instead?</h4>
  <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body" ng-if="!hasExistingContracts">
  <p>When a service version is retired, all its existing contracts will be voided and removed. The API keys associated with these contracts will no longer be valid. This action is <span class="text-primary text-bold">irreversible</span>.</p>

  <p>This means that <span class="text-primary text-bold">any application that still has a contract with this service version will no longer be able to reach it!</span></p>

  <p>Do you wish to proceed?</p>

</div>
<div class="modal-body" ng-if="hasExistingContracts">
  <p>This service version cannot currently be retired, because it still has some <span class="text-primary text-bold">active contracts</span>.</p>

  <p>Instead of retiring this service version, it could be set to <span class="text-primary text-bold">deprecated</span>.</p>
  <p>A deprecated service version will continue to honour its existing contracts, but <span class="text-primary text-bold">no new contracts can be created</span>.</p>

  <p class="text-bold text-primary">Do you want to deprecate this service version?</p>

</div>
<div class="modal-footer">
  <button class="btn btn-line-default" ng-click="modalClose()">Cancel</button>
  <button class="btn btn-line-warning" ng-click="doDeprecate()" ng-if="hasExistingContracts">Deprecate Service</button>
  <button class="btn btn-line-primary" ng-click="doRetire()" ng-if="!hasExistingContracts">Retire Service</button>
</div>