<div class="row mb30">
    <div class="panel panel-default mb30">
        <div class="panel-body">
            <!-- Members Tab Content -->
            <div class="col-sm-12">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="searchText" placeholder="Filter by user ID...">
                                <div class="input-group-btn">

                                    <button class="btn btn-default btn-sm fa fa-search"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
            </div>


            <!-- The organization's list of members -->
            <div>
                <div class="col-sm-12" ng-hide="pendingMemberships.length > 0">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 well">
                            No membership requests at the moment!
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" ng-show="pendingMemberships.length > 0 && (pendingMemberships | filter:searchText).length == 0">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 well">
                            No requests found matching your filter criteria - please try searching for something different.
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <apim-pending-member-list pending-requests="pendingMemberships" filter="searchText" org-id="{{orgId}}"></apim-pending-member-list>
                </div>
            </div>
        </div>
    </div>
</div>
