<div class="swagger-ui" aria-live="polite" aria-relevant="additions removals">
    <div class="api-name">
        <h3 ng-bind="infos.title"></h3>
    </div>
    <div class="api-description" ng-bind-html="infos.description"></div>
    <div class="api-infos">
        <div class="api-infos-contact" ng-if="infos.contact">
            <div ng-if="infos.contact.name" class="api-infos-contact-name"><span swagger-translate="infoContactCreatedBy" swagger-translate-value="infos.contact"></span></div>
            <div ng-if="infos.contact.url" class="api-infos-contact-url"><span swagger-translate="infoContactUrl"></span> <a href="{{infos.contact.url}}" ng-bind="infos.contact.url"></a></div>
            <a ng-if="infos.contact.email" class="api-infos-contact-url" href="mailto:{{infos.contact.email}}?subject={{infos.title}}" swagger-translate="infoContactEmail"></a>
        </div>
        <div class="api-infos-license" ng-if="infos.license">
            <span swagger-translate="infoLicense"></span><a href="{{infos.license.url}}" ng-bind="infos.license.name"></a>
        </div>
    </div>
    <ul class="list-unstyled endpoints">
        <li ng-repeat="api in resources track by $index" class="endpoint" ng-class="{active:api.open}">
            <div id="{{api.name}}" class="clearfix">
                <ul id="{{api.name}}*" class="list-inline pull-left endpoint-heading">
                    <li>
                        <h4>
                            <a href="javascript:;" class="text-bold" ng-click="api.open=!api.open;permalink(api.name)" ng-bind="api.name"></a>
                            <span ng-if="api.description"> : <span ng-bind="api.description"></span></span>
                        </h4>
                    </li>
                </ul>
                <ul class="list-inline pull-right endpoint-actions">
                    <li>
                        <a href="javascript:;" ng-click="api.open=!api.open;permalink(api.name)" swagger-translate="endPointToggleOperations"></a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="expand(api);permalink(api.name)" swagger-translate="endPointListOperations"></a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="expand(api,true);permalink(api.name+'*')" swagger-translate="endPointExpandOperations"></a>
                    </li>
                </ul>
            </div>
            <ul class="list-unstyled collapse operations in" ng-if="api.open">
                <li ng-repeat="op in api.operations track by $index" class="operation {{op.httpMethod}}">
                    <div id="{{op.operationId}}" class="heading">
                        <a ng-click="op.open=!op.open;permalink(op.operationId)" href="javascript:;">
                            <div class="clearfix">
                                <span class="http-method text-uppercase" ng-bind="op.httpMethod"></span>
                                <span class="path" ng-class="{deprecated:op.deprecated}" ng-bind="op.path"></span>
                                <span class="description pull-right" ng-bind="op.summary"></span>
                            </div>
                        </a>
                    </div>
                    <div class="content collapse in" ng-if="op.open">
                        <div class="h5" ng-if="op.deprecated" swagger-translate="operationDeprected"></div>
                        <div ng-if="op.description">
                            <h5 swagger-translate="operationImplementationNotes"></h5>
                            <p ng-bind-html="op.description"></p>
                        </div>
                        <form role="form" name="explorerForm" ng-submit="explorerForm.$valid&&submitExplorer(op)">
                            <div ng-if="op.responseClass" class="response">
                                <h5 swagger-translate="responseClass" swagger-translate-value="op.responseClass"></h5>
                                <div ng-if="op.responseClass.display!=-1">
                                    <ul class="list-inline schema">
                                        <li><a href="javascript:;" ng-click="op.responseClass.display=0" ng-class="{active:op.responseClass.display==0}" swagger-translate="responseModel"></a></li>
                                        <li><a href="javascript:;" ng-click="op.responseClass.display=1" ng-class="{active:op.responseClass.display==1}" swagger-translate="responseSchema"></a></li>
                                    </ul>
                                    <pre class="model" ng-if="op.responseClass.display==0" ng-bind-html="op.responseClass.schema.model"></pre>
                                    <pre class="model-schema response-schema" ng-if="op.responseClass.display==1" ng-bind="op.responseClass.schema.json"></pre>
                                </div>
                                <div ng-if="op.produces" class="content-type">
                                    <label for="responseContentType{{op.id}}" swagger-translate="responseContentType"></label>
                                    <select ng-model="form[op.id].responseType" ng-options="item for item in op.produces track by item" id="responseContentType{{op.id}}" name="responseContentType{{op.id}}" required></select>
                                </div>
                            </div>
                            <div ng-if="op.parameters&&op.parameters.length>0" class="table-responsive">
                                <h5 swagger-translate="parameters"></h5>
                                <table class="table table-condensed parameters">
                                    <thead>
                                    <tr>
                                        <th class="name" swagger-translate="parameterName"></th>
                                        <th class="value" swagger-translate="parameterValue"></th>
                                        <th class="desc" swagger-translate="parameterDescription"></th>
                                        <th class="type" swagger-translate="parameterType"></th>
                                        <th class="data" swagger-translate="parameterDataType"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="param in op.parameters track by $index">
                                        <td ng-class="{bold:param.required}">
                                            <label for="param{{param.id}}" ng-bind="param.name"></label>
                                        </td>
                                        <td ng-class="{bold:param.required}">
                                            <div ng-if="apiExplorer">
                                                <div ng-if="param.in!='body'" ng-switch="param.subtype">
                                                    <input ng-switch-when="file" type="file" file-input ng-model="form[op.id][param.name]" id="param{{param.id}}" placeholder="{{param.required?'parameterRequired':''|swaggerTranslate}}" ng-required="param.required">
                                                    <select ng-switch-when="enum" ng-model="form[op.id][param.name]" id="param{{param.id}}">
                                                        <option ng-repeat="value in param.enum" value="{{value}}" ng-bind="value+(param.default==value?'parameterDefault':''|swaggerTranslate)" ng-selected="param.default==value"></option>
                                                    </select>
                                                    <input ng-switch-default type="text" ng-model="form[op.id][param.name]" id="param{{param.id}}" placeholder="{{param.required?'parameterRequired':''|swaggerTranslate}}" ng-required="param.required">
                                                </div>
                                                <div ng-if="param.in=='body'">
                                                    <textarea id="param{{param.id}}" ng-model="form[op.id][param.name]" ng-required="param.required"></textarea>
                                                    <br>
                                                    <div ng-if="op.consumes" class="content-type">
                                                        <label for="bodyContentType{{op.id}}" swagger-translate="parameterContentType"></label>
                                                        <select ng-model="form[op.id].contentType" id="bodyContentType{{op.id}}" name="bodyContentType{{op.id}}" ng-options="item for item in op.consumes track by item"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="!apiExplorer">
                                                <div ng-if="param.in!='body'">
                                                    <div ng-if="param.default" swagger-translate="parameterDefault" swagger-translate-value="param.default"></div>
                                                    <div ng-if="param.enum">
                                                        <span ng-repeat="value in param.enum track by $index">{{value}}<span ng-if="!$last" swagger-translate="parameterOr"></span></span>
                                                    </div>
                                                    <div ng-if="param.required"><strong swagger-translate="parameterRequired"></strong></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td ng-class="{bold:param.required}" ng-bind-html="param.description"></td>
                                        <td ng-bind="param.in"></td>
                                        <td ng-if="param.type" ng-switch="param.type">
                                            <span ng-switch-when="array" ng-bind="'Array['+param.items.type+']'"></span>
                                            <span ng-switch-default ng-bind="param.type"></span>
                                        </td>
                                        <td ng-if="param.schema">
                                            <ul class="list-inline schema">
                                                <li><a href="javascript:;" ng-click="param.schema.display=0" ng-class="{active:param.schema.display==0}" swagger-translate="parameterModel"></a></li>
                                                <li><a href="javascript:;" ng-click="param.schema.display=1" ng-class="{active:param.schema.display==1}" swagger-translate="parameterSchema"></a></li>
                                            </ul>
                                            <pre class="model" ng-if="param.schema.display==0&&param.schema.model" ng-bind-html="param.schema.model"></pre>
                                            <div class="model-schema" ng-if="param.schema.display==1&&param.schema.json">
                                                <pre ng-bind="param.schema.json" ng-click="form[op.id][param.name]=param.schema.json" aria-described-by="help-{{param.id}}"></pre>
                                                <div id="help-{{param.id}}" swagger-translate="parameterSetValue"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" ng-if="op.hasResponses">
                                <h5 swagger-translate="responses"></h5>
                                <table class="table responses">
                                    <thead>
                                    <tr>
                                        <th class="code" swagger-translate="responseCode"></th>
                                        <th swagger-translate="responseReason"></th>
                                        <th swagger-translate="responseModel"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(code,resp) in op.responses track by $index">
                                        <td ng-bind="code"></td>
                                        <td ng-bind-html="resp.description"></td>

                                        <td>
                                            <ul ng-if="resp.schema&&resp.schema.model&&resp.schema.json" class="list-inline schema">
                                                <li><a href="javascript:;" ng-click="resp.display=0" ng-class="{active:resp.display==0}" swagger-translate="responseModel"></a></li>
                                                <li><a href="javascript:;" ng-click="resp.display=1" ng-class="{active:resp.display==1}" swagger-translate="responseSchema"></a></li>
                                            </ul>
                                            <pre class="model" ng-if="resp.display==0&&resp.schema&&resp.schema.model" ng-bind-html="resp.schema.model"></pre>
                                            <pre class="model-schema" ng-if="resp.display==1&&resp.schema&&resp.schema.json" ng-bind="resp.schema.json"></pre>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="apiExplorer">
                                <button class="btn btn-default" ng-click="op.explorerResult=false;op.hideExplorerResult=false" type="submit" ng-disabled="op.loading" ng-bind="op.loading?'explorerLoading':'explorerTryIt'|swaggerTranslate" ng-if="loggedIn && apikey.length > 0"></button>
                                <button class="btn btn-default" type="submit" disabled ng-bind="'explorerCreateContractToTryIt'|swaggerTranslate" ng-if="loggedIn && !apikey"></button>
                                <button class="btn btn-default" type="submit" disabled ng-bind="'explorerLogInToTryIt'|swaggerTranslate" ng-if="!loggedIn"></button>
                                <a class="hide-try-it" ng-if="op.explorerResult&&!op.hideExplorerResult" ng-click="op.hideExplorerResult=true" href="javascript:;" swagger-translate="responseHide"></a>
                                <img ng-show="op.loading" src="images/swagger/throbber.gif">
                            </div>
                        </form>
                        <div ng-if="op.explorerResult" ng-show="!op.hideExplorerResult">
                            <h5>Curl</h5>
                            <pre ng-bind="op.explorerResult.curl"></pre>
                            <h5 swagger-translate="explorerUrl"></h5>
                            <pre ng-bind="op.explorerResult.url"></pre>
                            <h5 swagger-translate="explorerBody"></h5>
                            <pre ng-bind="op.explorerResult.response.body"></pre>
                            <h5 swagger-translate="explorerCode"></h5>
                            <pre ng-bind="op.explorerResult.response.status"></pre>
                            <h5 swagger-translate="explorerHeaders"></h5>
                            <pre ng-bind="op.explorerResult.response.headers"></pre>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="api-version clearfix" ng-if="infos">
        [<span swagger-translate="infoBaseUrl"></span>: <span class="h4" ng-bind="infos.basePath"></span>, <span swagger-translate="infoApiVersion"></span>: <span class="h4" ng-bind="infos.version"></span>, <span swagger-translate="infoHost"></span>: <span class="h4" ng-bind="infos.scheme"></span>://<span class="h4" ng-bind="infos.host"></span>]
        <a ng-if="validatorUrl!='false'" target="_blank" href="{{validatorUrl}}/debug?url={{url}}"><img class="pull-right swagger-validator" ng-src="{{validatorUrl}}?url={{url}}"/></a>
    </div>
</div>