<div class="name">
    <span>{{$ctrl.brandingEntry.name}}</span>
</div>
<div class="actions">
    <!--<span class="text-danger hvr-grow clickable fa fa-times fa-2x" ng-click="$ctrl.deleteBranding($ctrl.brandingEntry.id)"></span>-->
    <span class="branding-block text-danger hvr-grow clickable fa fa-times fa-2x" ng-click="$ctrl.doConfirmDelete()"></span>
</div>
<div class="confirmation-block" ng-if="$ctrl.confirm">
    <span class="mr15 text-ultralight">Delete this branding name?</span>
    <span class="btn btn-sm btn-danger fa fa-times mr5" ng-click="$ctrl.cancelDeleteBranding()"></span>
    <span class="btn btn-sm btn-success fa fa-check ml5" ng-click="$ctrl.deleteBranding()"></span>
</div>
