<div class="row">
    <div class="col-sm-12">
        <!-- Title and help text -->
        <h4>Service Announcements</h4>
        <p>Here is a list of all Announcements that have been made to users & followers of this Service.</p>
        <hr>
    </div>
    <!-- The list of policies -->
    <div class="col-sm-12">
        <button class="btn btn-primary btn-sm pull-right" ng-click="modalNewAnnouncement()" ng-if="isPublished && User.isAuthorizedFor('svcEdit')">New Announcement</button>
    </div>
    <div class="col-sm-12" ng-if="isPublished && User.isAuthorizedFor('svcEdit')">
        <hr>
    </div>

    <div class="col-sm-12" ng-hide="announcements.length > 0">
        <div class="col-sm-10 col-sm-offset-1 well" ng-if="isPublished && !User.isAuthorizedFor('svcEdit')">
            It looks like no announcements have been made yet. Once an announcements is created, it will show up in this list.
        </div>
        <div ng-if="isPublished && User.isAuthorizedFor('svcEdit')">
            <div class="col-sm-8 col-sm-offset-1 well">
                It looks like no announcements have been made yet. You can create an announcement by clicking the button above, and then it will appear in this list!
            </div>
            <div class="col-sm-3">
                <div class="no-entities-arrow"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt20">
        <div class="col-sm-10 col-sm-offset-1" ng-repeat="ann in announcements">
            <span class="text-primary text-bold"><a href ng-click="modalViewAnnouncement(ann)">{{ann.title}}</a></span>
            <div class="text-muted">
                <span>Created by </span>
                <i class="fa fa-user fa-fw fa-inline"></i>
                <span class="text-primary">{{ann.createdBy}}</span>
                <span> on </span>
                <i class="fa fa-clock-o fa-fw fa-inline"></i>
                <span>{{ann.createdOn | date}}</span>
            </div>
            <div>
                <hr>
            </div>
        </div>
    </div>
</div>
