<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4>Service Identifiers</h4>
            </div>
            <div class="col-sm-6">
                <table class="mt5 table table-striped table-condensed">
                    <tbody>
                    <tr>
                        <td>
                            <span class="text-bold">Organization ID</span>
                        </td>
                        <td>
                            {{serviceVersion.service.organization.id}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="serviceVersion.service.organization.id" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-bold">Service ID</span>
                        </td>
                        <td>
                            {{serviceVersion.service.id}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="serviceVersion.service.id" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-bold">Version ID</span>
                        </td>
                        <td>
                            {{serviceVersion.version}}
                        </td>
                        <td class="text-right">
                            <a clipboard text="serviceVersion.version" class="clickable fa fa-copy" ng-click="copy()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-sm-12">
                <h4>Applications contracted to use this service</h4>
            </div>
            <div class="col-sm-12">
                <p ng-if="!(isPublished || isRetired)">This service is not yet published, and therefore cannot have any contracts yet.</p>
                <p ng-if="isRetired">This service was retired. All existing contracts have been voided.</p>
                <p ng-if="contractCount === 0 && isPublished && !isRetired">No applications are currently contracted to use this service.</p>
                <p ng-if="contractCount > 0">Total contracts with applications: <span class="text-bold text-primary">{{contractCount}}</span>.</p>
                <div class="row mt10" ng-repeat="orgId in contractOrgIds">
                    <div class="col-sm-12">
                        <p>In organization <span class="text-primary text-bold">{{contractOrgs[orgId].name}}</span>:</p>
                        <div class="col-sm-6">
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th nowrap="nowrap" width="70%">
                                        Application
                                    </th>
                                    <th nowrap="nowrap" width="30%">
                                        Version
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="contract in contractOrgs[orgId].contracts">
                                    <td>
                                        {{contract.appName}}
                                    </td>
                                    <td>
                                        {{contract.appVersion}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
