<div class="row mb30">
  <div class="panel panel-default mb30">
    <div class="panel-body">
      <!-- Members Tab Content -->
      <div class="col-sm-12">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Filter by user ID...">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-sm fa fa-search"></button>
                </div>
              </div>
            </div>
            <a class="btn btn-line-primary pull-right" ng-if="User.isAuthorizedFor('orgAdmin')" ng-click="addMember()">Add Member</a>
          </div>
        </form>
        <hr>
      </div>
      <!-- The organization's list of members -->
      <div class="apiman-members" data-field="members">

        <div class="col-sm-12" ng-hide="members.length > 0">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 well">
              This is very strange, but apparently this Organization has no members! Highly irregular!
            </div>
          </div>
        </div>
        <div class="col-sm-12" ng-show="members.length > 0 && (members | filter:{userId:searchText}).length == 0">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 well">
              No members found matching your filter criteria - please try searching for something different.
            </div>
          </div>
        </div>

        <!-- ngRepeat: member in filteredMembers -->
        <div class="col-sm-12">
            <apim-member-list members="members" org="org" roles="roles" filter="searchText"></apim-member-list>
        </div>
      </div><!-- end ngRepeat: member in filteredMembers -->
    </div>

  </div>
</div>
</div>
