<div class="row" style="padding-bottom: 200px;">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Plans Tab Content -->
      <div class="col-sm-12">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Filter by plan name...">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-sm fa fa-search"></button>
                </div>
              </div>
            </div>
            <a class="btn btn-line-primary pull-right" ng-click="modalNewPlan()" ng-if="User.isAuthorizedFor('planEdit')">New Plan</a>
          </div>
        </form>
        <hr>
      </div>
      <!-- The list of plans in this organization -->
      <div class="col-sm-12" ng-hide="plans.length > 0">
        <div class="row" ng-if="!User.isAuthorizedFor('planEdit')">
          <div class="col-sm-10 col-sm-offset-1 well">
            There aren't any plans configured for this organization. That means all published services in this organization must be public.
          </div>
        </div>
        <div class="row" ng-if="User.isAuthorizedFor('planEdit')">
          <div class="col-sm-8 col-sm-offset-1 well">
            There aren't any plans configured for this organization. That means all published services in this organization must be public.
          </div>
          <div class="col-sm-3">
            <div class="no-entities-arrow"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-show="plans.length > 0 && (plans | filter:{name:searchText}).length == 0">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 well">
            No plans found matching your filter criteria - please try searching for something different.
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-repeat="plan in plans | filter:{name:searchText}">

        <div class="col-sm-3">
          <span><a href ui-sref="root.plan({orgId: plan.versions[plan.selectedVersionIndex].organizationId, planId: plan.id, versionId: plan.versions[plan.selectedVersionIndex].version})">{{plan.name }}</a></span>
        </div>
        <div class="col-sm-2 text-center">
          <span ng-if="plan.versions.length === 1">{{plan.versions[plan.selectedVersionIndex].version}}</span>
          <div class="btn-group dropdown" uib-dropdown ng-if="plan.versions.length > 1">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
              {{plan.versions[plan.selectedVersionIndex].version}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li ng-repeat="version in plan.versions | orderBy:'createdOn'" ng-click="selectVersion(plan, version)"><a>{{version.version}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 text-center">
          <status-label status="{{plan.versions[plan.selectedVersionIndex].status}}"></status-label>
        </div>
        <div class="col-sm-2 col-sm-offset-3">
          <div class="btn-group-xs">
            <button class="btn btn-success action-icon fa fa-lock" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Lock {{plan.name}} - {{plan.versions[plan.selectedVersionIndex].version}}" ng-if="canLock(plan.versions[plan.selectedVersionIndex]) && User.isAuthorizedFor('planAdmin')" ng-click="confirmLockPlan(plan.versions[plan.selectedVersionIndex])"></button>
          </div>
        </div>
        <div class="col-sm-12">
          <span class="text-light">{{ plan.description }}</span>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
