<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Plans Tab Content -->
      <div class="col-sm-12">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Filter by plan name...">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-sm fa fa-search"></button>
                </div>
              </div>
            </div>
            <a class="btn btn-line-primary pull-right" ng-click="modalNewPlan()" ng-if="User.isAuthorizedFor('planEdit')">New Plan</a>
          </div>
        </form>
        <hr>
      </div>
      <!-- The list of plans in this organization -->
      <div class="col-sm-12" ng-hide="plans.length > 0">
        <div class="row" ng-if="!User.isAuthorizedFor('planEdit')">
          <div class="col-sm-10 col-sm-offset-1 well">
            There aren't any plans configured for this organization. That means all published services in this organization must be public.
          </div>
        </div>
        <div class="row" ng-if="User.isAuthorizedFor('planEdit')">
          <div class="col-sm-8 col-sm-offset-1 well">
            There aren't any plans configured for this organization. That means all published services in this organization must be public.
          </div>
          <div class="col-sm-3">
            <div class="no-entities-arrow"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-show="plans.length > 0 && (plans | filter:{name:searchText}).length == 0">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 well">
            No plans found matching your filter criteria - please try searching for something different.
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-repeat="plan in plans | filter:{name:searchText}">

        <div class="col-sm-3">
          <span><a href ui-sref="root.plan({orgId: planVersions[plan.id].organizationId, planId: plan.id, versionId: planVersions[plan.id].version})">{{plan.name }}</a></span>
        </div>
        <div class="col-sm-2 text-center">
          <span>{{planVersions[plan.id].version}}</span>
        </div>
        <div class="col-sm-2 text-center">
          <status-label status="{{planVersions[plan.id].status}}"></status-label>
        </div>
        <div class="col-sm-2 col-sm-offset-3">
          <div class="btn-group-xs">
            <button class="btn btn-success action-icon fa fa-lock" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Lock {{plan.name}} - {{planVersions[plan.id].version}}" ng-if="canLock(planVersions[plan.id]) && User.isAuthorizedFor('planAdmin')" ng-click="confirmLockPlan(planVersions[plan.id])"></button>
          </div>
        </div>
        <div class="col-sm-12">
          <span class="text-light">{{ plan.description }}</span>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
