<div class="row">
  <!-- Services Tab Content -->
  <div class="col-sm-12">
    <input id="services-filter-f" ng-model="value" ng-change="doSearch()" value="" type="text" placeholder="Filter by service name..." class="ng-pristine ng-untouched ng-valid">
    <button id="services-filter-b" ng-click="onClick()" class="btn btn-default btn-sm"><i class="fa fa-fw fa-search"></i></button>
    <a data-field="toNewService" href="api-manager/new-service" class="btn btn-primary pull-right" apiman-i18n-key="new-service">New Service</a>
    <hr>
  </div>
  <!-- The list of services the user has access to -->

  <div class="col-sm-12" ng-hide="services.length > 0">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1 well">
        We couldn't find any services in this organization. Probably because none exist. We hope. Try creating one using the New Service button.
      </div>
      <div class="col-sm-3">
        <div class="no-entities-arrow"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" ng-show="services.length > 0 && filteredServices.length == 0">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 well">
        No services found matching your filter criteria - please try searching for something different.
      </div>
    </div>
  </div>

  <!-- ngRepeat: service in filteredServices -->
  <div class="col-sm-12">
    <div class="col-sm-12">
      <span class="title"><a>First Service</a></span>
      <a class="apiman-summaryrow-icon pull-right">
        <i class="fa fa-clock-o fa-fw"></i>
        <span class="title-summary-item">Created on</span>
        <span class="title-summary-item">2015-08-02</span>
      </a>
    </div>
    <div class="col-sm-12">
      <span class="description"></span>
      <hr>
    </div>
    <div class="col-sm-12">
      <span class="title"><a>Second Service</a></span>
      <a class="apiman-summaryrow-icon pull-right">
        <i class="fa fa-clock-o fa-fw"></i>
        <span class="title-summary-item">Created on</span>
        <span class="title-summary-item">2015-08-07</span>
      </a>
    </div>
    <div class="col-sm-12">
      <span class="description"></span>
    </div>
  </div><!-- end ngRepeat: service in filteredServices -->

</div>
