<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Services Tab Content -->
      <div class="col-sm-12">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Filter by service name...">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-sm fa fa-search"></button>
                </div>
              </div>
            </div>
            <a class="btn btn-line-primary pull-right" ng-click="modalNewService()" ng-if="User.isAuthorizedFor('svcEdit')">New Service</a>
          </div>
        </form>
        <hr>
      </div>
      <!-- The list of services the user has access to -->

      <div class="col-sm-12" ng-hide="services.length > 0">
        <div class="row" ng-if="!User.isAuthorizedFor('svcEdit')">
          <div class="col-sm-10 col-sm-offset-1 well">
            We couldn't find any services in this organization. Probably because none exist. We hope.
          </div>
        </div>
        <div class="row" ng-show="User.isAuthorizedFor('svcEdit')">
          <div class="col-sm-8 col-sm-offset-1 well">
            We couldn't find any services in this organization. Probably because none exist. We hope. Try creating one using the New Service button.
          </div>
          <div class="col-sm-3">
            <div class="no-entities-arrow"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-show="services.length > 0 && (services | filter:{name:searchText}).length == 0">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 well">
            No services found matching your filter criteria - please try searching for something different.
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-repeat="service in services | filter:{name:searchText}">
        <div class="col-sm-4">
          <span class="title">
            <a href ui-sref="root.service({orgId: service.versions[service.selectedVersionIndex].organizationId, svcId: service.id, versionId: service.versions[service.selectedVersionIndex].version})">{{service.name}}</a>
          </span>
        </div>
        <div class="col-sm-2 text-center">
          <span ng-if="service.versions.length === 1">{{service.versions[service.selectedVersionIndex].version}}</span>
          <div class="btn-group dropdown" uib-dropdown ng-if="service.versions.length > 1">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
              {{service.versions[service.selectedVersionIndex].version}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li ng-repeat="version in service.versions | orderBy:'createdOn'" ng-click="selectVersion(service, version)"><a>{{version.version}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 text-center">
          <status-label status="{{service.versions[service.selectedVersionIndex].status}}"></status-label>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="btn-group-xs">
            <button id="publish" class="btn btn-success action-icon fa fa-check" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Publish {{service.name}} - {{service.versions[service.selectedVersionIndex].version}}" ng-if="canPublish(service.versions[service.selectedVersionIndex]) && User.isAuthorizedFor('svcEdit')" ng-click="confirmPublishSvc(service.versions[service.selectedVersionIndex])"></button>
            <button id="deprecate" class="btn btn-warning action-icon fa fa-arrow-down" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Deprecate {{service.name}} - {{service.versions[service.selectedVersionIndex].version}}" ng-if="canDeprecate(service.versions[service.selectedVersionIndex]) &&User.isAuthorizedFor('svcEdit')" ng-click="confirmDeprecateSvc(service.versions[service.selectedVersionIndex])"></button>
            <button id="retire" class="btn btn-warning action-icon fa fa-trash" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Retire {{service.name}} - {{service.versions[service.selectedVersionIndex].version}}" ng-if="canRetire(service.versions[service.selectedVersionIndex]) && User.isAuthorizedFor('svcEdit')" ng-click="confirmRetireSvc(service.versions[service.selectedVersionIndex])"></button>
            <button id="metrics" class="btn btn-info action-icon fa fa-pie-chart" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Service Metrics" ng-if="canRetire(service.versions[service.selectedVersionIndex]) && User.isAuthorizedFor('svcEdit')" ng-click="toMetrics(service.versions[service.selectedVersionIndex])"></button>
            <!--<button id="delete" class="btn btn-danger action-icon fa fa-times" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Delete {{service.name}}" ng-if="User.isAuthorizedFor('svcAdmin')" ng-click="confirmDeleteSvc(service.versions[service.selectedVersionIndex])"></button>-->
            <button id="delete-version" class="btn btn-danger action-icon fa fa-times" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Delete {{service.name}} - {{service.versions[service.selectedVersionIndex].version}}" ng-if="User.isAuthorizedFor('svcAdmin')" ng-click="confirmDeleteSvcVersion(service.versions[service.selectedVersionIndex])"></button>
            <button id="pending" class="btn action-icon btn-github fa fa-exclamation-triangle" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Pending contract" ng-if="service.hasPendingContracts" ui-sref="root.service.pending({ orgId: service.organizationId, svcId: service.id, versionId: service.versions[service.selectedVersionIndex].version })"></button>
          </div>
        </div>
        <div class="col-sm-12">
          <span class="text-light">{{service.description}}</span>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
      </div>

    </div>
  </div>
</div>
