<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Services Tab Content -->
      <div class="col-sm-12">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Filter by service name...">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-sm fa fa-search"></button>
                </div>
              </div>
            </div>
            <a class="btn btn-line-primary pull-right" ng-click="modalNewService()" ng-if="User.isAuthorizedFor('svcEdit')">New Service</a>
          </div>
        </form>
        <hr>
      </div>
      <!-- The list of services the user has access to -->

      <div class="col-sm-12" ng-hide="services.length > 0">
        <div class="row" ng-if="!User.isAuthorizedFor('svcEdit')">
          <div class="col-sm-10 col-sm-offset-1 well">
            We couldn't find any services in this organization. Probably because none exist. We hope.
          </div>
        </div>
        <div class="row" ng-show="User.isAuthorizedFor('svcEdit')">
          <div class="col-sm-8 col-sm-offset-1 well">
            We couldn't find any services in this organization. Probably because none exist. We hope. Try creating one using the New Service button.
          </div>
          <div class="col-sm-3">
            <div class="no-entities-arrow"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-show="(services | filter:{name:searchText}).length == 0">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 well">
            No services found matching your filter criteria - please try searching for something different.
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-repeat="service in services | filter:{name:searchText}">
        <div class="col-sm-3">
          <span class="title">
            <a href ui-sref="root.service({orgId: serviceVersions[service.id].organizationId, svcId: service.id, versionId: serviceVersions[service.id].version})">{{service.name}}</a>
          </span>
        </div>
        <div class="col-sm-2 text-center">
          <span>{{serviceVersions[service.id].version}}</span>
        </div>
        <div class="col-sm-2 text-center">
          <status-label status="{{serviceVersions[service.id].status}}"></status-label>
        </div>
        <div class="col-sm-2 col-sm-offset-3">
          <div class="btn-group-xs">
            <button class="btn btn-success action-icon fa fa-check" title="Publish {{service.name}} - {{serviceVersions[service.id].version}}" ng-if="canPublish(serviceVersions[service.id]) && User.isAuthorizedFor('svcEdit')" ng-click="confirmPublishSvc(serviceVersions[service.id])"></button>
            <button class="btn btn-warning action-icon fa fa-trash" title="Retire {{service.name}} - {{serviceVersions[service.id].version}}" ng-if="canRetire(serviceVersions[service.id]) && User.isAuthorizedFor('svcEdit')" ng-click="confirmRetireSvc(serviceVersions[service.id])"></button>
            <button class="btn btn-info action-icon fa fa-pie-chart" title="Service Metrics" ng-if="canRetire(serviceVersions[service.id]) && User.isAuthorizedFor('svcEdit')" ng-click="toMetrics(serviceVersions[service.id])"></button>
          </div>
        </div>
        <div class="col-sm-12">
          <span class="text-light">{{service.description}}</span>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
      </div>

    </div>
  </div>
</div>
