<div class="col-sm-12">

  <div class="panel panel-default">
    <div class="panel-heading">
      Account Settings
    </div>
    <form data-driver="form-settings-name" class="change-name">
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-xs-6">
            <label>
              <span class="fa fa-user with-margin"></span>
              <span>Username</span>
            </label>
            <input type="text" name="name" value="maaso" class="form-control">
          </div>
          <div class="new-name hidden">
            <div class="form-group">
              <a data-style="opaque" data-toggle="modal" data-target="#password-name-change" data-loading-text="Loading..." class="btn btn-success submit stroked pull-right">
                <span class="btn-text">Change Name</span>
                <span class="loader-icon fa fa-spinner fa-spin"></span>
              </a>
              <label for="name">New Username</label>
            </div>
          </div>
        </div>
        <button data-toggle="modal" data-target="#password-name-change" data-processing-text="processing..." type="submit" data-loading-text="Loading..." class="btn btn-default submit">
          <span class="btn-text">Change Username</span>
          <span class="loader-icon fa fa-spinner fa-spin"></span>
        </button>
      </div>
    </form>
  </div>

  <div class="panel panel-default mt30">
    <div class="panel-heading">
      Account password
    </div>
    <form data-driver="form-settings-password" class="change-password">
      <div class="panel-body">
        <div class="row">
          <div for="password" class="form-group col-xs-6">
            <label>
              <span class="fa fa-lock with-margin"></span>
              <span>New Password</span>
            </label>
            <input placeholder="Password" type="password" name="password" class="form-control">
          </div>
          <div for="confirmPassword" class="form-group col-xs-6">
            <label>
              <span class="fa fa-lock with-margin"></span>
              <span>Confirm New Password</span>
            </label>
            <input placeholder="Confirm Password" type="password" name="confirmPassword" class="form-control">
          </div>
        </div>
        <button data-processing-text="processing..." type="submit" data-loading-text="Loading..." class="btn btn-default submit">
          <span class="btn-text">Change Password</span>
          <span class="loader-icon fa fa-spinner fa-spin"></span>
        </button>
      </div>
    </form>
  </div>
</div>

