<div class="col-sm-12">

  <div class="panel panel-default panel-settings">
    <div class="panel-heading">
      Email Settings
    </div>
    <div class="panel-body">
      <div class="col-sm-4">
        <form role="form" name="emailForm" class="form-horizontal">
            <div class="form-group">
              <label for="email-add">
                <span class="fa fa-envelope"></span>
                <span>Email Address</span>
              </label>
              <input id="email-add" type="email" ng-model="currentUserModel.currentUser.email" name="email" class="form-control" required>
              <p class="text-danger xsmall" ng-show="emailForm.email.$error.required" ng-if="appForm.appName.$touched">Please provide your email address.</p>
              <p class="text-danger xsmall" ng-show="emailForm.email.$error.email">This is not a valid email address. Please check for errors.</p>
            </div>
          <button ng-click="saveUserDetails(currentUserModel.currentUser)" type="submit" class="btn btn-line-primary submit" ng-disabled="emailForm.$invalid">
            Update Email
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
