<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Profile Settings
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="fullname">
            <span class="fa fa-user with-margin"></span>
            <span>Full Name</span>
          </label>
          <input type="text" name="fullname" placeholder="Full Name" ng-model="currentUserInfo.fullName" value="currentUserInfo.fullName" class="form-control">
        </div>
        <div class="form-group col-xs-6">
          <label for="company">
            <span class="fa fa-users with-margin"></span>
            <span>Company</span>
          </label>
          <input type="text" name="company" placeholder="Company" value="" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="location">
            <span class="fa fa-map-marker with-margin"></span>
            <span>Location</span>
          </label>
          <input type="text" name="location" placeholder="Location" value="" class="form-control">
        </div>
        <div class="form-group col-xs-6">
          <label for="website">
            <span class="fa fa-link with-margin"></span>
            <span>Website</span>
          </label>
          <input type="text" name="website" placeholder="Website" value="" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="description">
            <span class="fa fa-pencil with-margin"></span>
            <span>Bio</span>
          </label>
          <textarea type="text" name="description" placeholder="Something about yourself" rows="5" cols="60" class="form-control"></textarea>
        </div>
      </div>
      <button class="btn btn-line-primary" ng-click="saveUserDetails(currentUserInfo)">Save</button>
    </div>
  </div>
</div>
