<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Profile Settings
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="fullname">
            <span class="fa fa-user with-margin"></span>
            <span>Full Name</span>
          </label>
          <input type="text" name="fullname" placeholder="Full Name" value="" class="form-control">
        </div>
        <div class="form-group col-xs-6">
          <label for="company">
            <span class="fa fa-users with-margin"></span>
            <span>Company</span>
          </label>
          <input type="text" name="company" placeholder="Company" value="" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="location">
            <span class="fa fa-map-marker with-margin"></span>
            <span>Location</span>
          </label>
          <input type="text" name="location" placeholder="Location" value="" class="form-control">
        </div>
        <div class="form-group col-xs-6">
          <label for="website">
            <span class="fa fa-link with-margin"></span>
            <span>Website</span>
          </label>
          <input type="text" name="website" placeholder="Website" value="" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="description">
            <span class="fa fa-pencil with-margin"></span>
            <span>Bio</span>
          </label>
          <textarea type="text" name="description" placeholder="Something about yourself" rows="5" cols="60" class="form-control"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default mt30">
    <div class="panel-heading">
      Social Settings
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="github">
              <span class="fa fa-github with-margin"></span>
              <span>Github</span>
            </label>
            <input type="text" name="github" placeholder="GitHub username" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="linkedin">
              <span class="fa fa-linkedin with-margin"></span>
              <span>LinkedIn</span>
            </label>
            <input type="text" name="linkedin" placeholder="LinkedIn username" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="twitter">
              <span class="fa fa-twitter with-margin"></span>
              <span>Twitter</span>
            </label>
            <input type="text" name="twitter" placeholder="Twitter username" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="facebook">
              <span class="fa fa-facebook with-margin"></span>
              <span>Facebook</span>
            </label>
            <input type="text" name="facebook" placeholder="Facebook username" value="" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="quora">
              <span class="fa fa-question with-margin"></span>
              <span>Quora</span>
            </label>
            <input type="text" name="quora" placeholder="Quora username" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="stackoverflow">
              <span class="fa fa-stack-overflow with-margin"></span>
              <span>Stack Overflow</span>
            </label>
            <input type="text" name="stackoverflow" placeholder="StackOverflow username" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="googleplus">
              <span class="fa fa-google-plus with-margin"></span>
              <span>Google+</span>
            </label>
            <input type="text" name="googleplus" placeholder="Google+ username" value="" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
