<div class="form" data-field="form" ng-controller="RateLimitingPolicyCtrl">
  <div class="form-inline">
    <span>I want to limit request rates to</span>
    <input id="num-requests" ng-model="config.limit" class="form-control" type="text" placeholder="# of requests">
    <span>requests per</span>
    <select id="granularity" ng-model="config.granularity" data-field="granularity" class="form-control">
      <option value="" data-content="<span class='apiman-label-faded'>Granularity</span>">Granularity</option>
      <option value="Application">Application</option>
      <option value="User">User</option>
      <option value="Service">Service</option>
    </select>
    <span>per</span>
    <select id="period" ng-model="config.period" data-field="period" class="form-control">
      <option value="" data-content="<span class='apiman-label-faded'>Period</span>">Period</option>
      <option value="Second">Second</option>
      <option value="Minute">Minute</option>
      <option value="Hour">Hour</option>
      <option value="Day" >Day</option>
      <option value="Month">Month</option>
      <option value="Year">Year</option>
    </select>
  </div>
  <div class="form-horizontal" id="userRow" ng-show="config.granularity == 'User'">
    <span>Get the user's id from:</span>
    <input id="user-header" ng-model="config.userHeader" data-field="userHeader" class="form-control" type="text" placeholder="Enter header (e.g. X-Identity)...">
  </div>
  <hr/>
  <div>
    <p>
      Configure the rate limiting related response headers below - these headers will
      convey useful information to clients such as imposed limits and when the rate
      period will be reset.  You may override the default header names by supplying
      your own in the fields below (or leave them blank to accept the defaults).
    </p>
  </div>
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-md-3 control-label">Limit Response Header</label>
      <div class="col-md-9">
        <input id="limit-header" ng-model="config.headerLimit" data-field="limitHeader" class="form-control" type="text" placeholder="X-RateLimit-Limit">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Remaining Response Header</label>
      <div class="col-md-9">
        <input id="remaining-header" ng-model="config.headerRemaining" data-field="remainingHeader" class="form-control" type="text" placeholder="X-RateLimit-Remaining">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Reset Response Header</label>
      <div class="col-md-9">
        <input id="reset-header" ng-model="config.headerReset" data-field="resetHeader" class="form-control" type="text" placeholder="X-RateLimit-Reset">
      </div>
    </div>
  </div>
</div>
