<header class="site-head fixedHeader"
        id="site-head"
        ng-include=" 'views/header.html' ">
  <!-- linked header (static) view -->
</header>


<!-- main-container -->
<div class="main-container clearfix" style="overflow: visible;" ng-class="{'nav-horizontal': navHorizontal}">

  <!-- toasts -->
  <div class="toast toast-bottomRight">
    <div uib-alert ng-repeat="toast in toasts" class="alert alert-{{toast.type}} toast-fade" ng-bind-html="toast.msg"></div>
  </div>

  <!-- content-here -->
  <div class="content-container fixedHeader"
       id="content"
       ui-view>
  </div>

</div> <!-- #end main-container -->
