<div class="page page-api">
    <api-page-breadcrumbs>
        <li><a ui-sref="root.apis.grid">API Store</a></li>
        <li class="active"><a ui-sref="root.api.documentation({orgId: serviceVersion.service.organization.id, svcId: serviceVersion.service.id})">{{serviceVersion.service.name}} ({{serviceVersion.version}})</a></li>
    </api-page-breadcrumbs>


    <api-page-header has-logo="true">
        <base64-logo logo-class="media center-block entity-logo-list" logo="{{serviceVersion.service.base64logo}}"></base64-logo>
        <div>
            <div class="col-sm-12 flex-row">
                <div class="flex-grow">
                    <p class="text-primary size-h3 mt5 mb5 text-uppercase text-bold">{{serviceVersion.service.name}}<a href ng-click="followAction()">
                        <status-label class="pl10 pr10" status="{{serviceVersion.status}}"></status-label>
                        <i class="text-info follow-icon fa" ng-class="{'fa-star-o': !userIsFollowing, 'fa-star': userIsFollowing}"></i></a>
                    </p>
                </div>
                <div class="text-center">
                    <div class="btn-group dropdown api-version-dropdown" uib-dropdown>
                        <button id="version-dropdown"  type="button" class="btn btn-default btn-block btn-lg dropdown-toggle" ng-disabled="availableVersions.length === 1" uib-dropdown-toggle>
                            <span class="text-thin">Version: </span>
                            <span class="text-bold">{{serviceVersion.version}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="version in availableVersions | orderBy:'createdOn'">
                                <a ui-sref="root.api.documentation({ orgId: serviceVersion.service.organization.id, svcId: serviceVersion.service.id, versionId: version.version})">
                                    <span class="text-right flex-row">
                                        <status-text class="pr20 text-thin" status="{{version.status}}"></status-text>
                                        <span class="text-bold flex-grow">{{version.version}}</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ml10 text-center">
                    <button id="create-contract" class="btn btn-block btn-lg btn-line-success" ng-click="modalSelectApplicationForContract()" ng-disabled="!loggedIn || (status && !status.hasApp) || serviceVersion.status == 'Deprecated'">{{serviceVersion.autoAcceptContracts ? 'Create' : 'Request'}} Contract</button>
                    <a id="create-app" class="clickable small text-muted text-light" ng-if="status && !status.hasApp" ui-sref="root.myOrganizations">Create an App to consume this service!</a>
                    <a id="login" class="clickable small text-center text-muted text-light" ng-if="!loggedIn" ng-click="toLogin()">Log in if you want to use this service!</a>
                </div>
            </div>
            <div class="col-sm-12" data-ng-repeat="endpoint in endpoint.managedEndpoints">
                <span class="text-light">{{endpoint}}</span>
                <a clipboard text="endpoint" class="clickable fa fa-copy" ng-click="copyPath()" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy to clipboard"></a>
            </div>
            <div class="col-sm-12">
                <p class="mt10"><span ng-repeat="category in serviceVersion.service.categories"><span class="label label-info"><i class="fa fa-tag"></i>&nbsp;{{category}}</span><span>&nbsp;</span></span></p>
                <p class="mb30">
                    <span>{{serviceVersion.service.description}}</span>
                </p>
            </div>
            <div class="col-sm-12 text-primary">
                <span ng-if="showDeveloper"><span class="text-light fa fa-user"></span>&nbsp;{{serviceVersion.createdBy}}</span>
                <a ng-attr-href="{{serviceVersion.onlinedoc}}" ng-class="{ 'ml15': showDeveloper }" ng-if="serviceVersion.onlinedoc !== null && serviceVersion.onlinedoc.length > 0"><span class="fa fa-globe"></span>&nbsp;{{serviceVersion.onlinedoc}}</a>
                <span ng-class="{ 'ml15': showDeveloper || serviceVersion.onlinedoc !== null && serviceVersion.onlinedoc.length > 0 }" ng-hide="serviceVersion.service.categories.length == 0"><i class="fa fa-tag"></i>&nbsp;{{serviceVersion.service.categories.join(', ')}}</span>
                <span ng-class="{ 'ml15': showDeveloper || serviceVersion.onlinedoc !== null && serviceVersion.onlinedoc.length > 0 || serviceVersion.service.categories.length != 0 }" class="text-light fa fa-clock-o"></span>&nbsp;Created:&nbsp;{{serviceVersion.createdOn | date }}
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-12 text-light mt20" ng-if="hasOAuth">
                <div class="col-sm-4  text-left">
                    <span class="fa fa-fw xlarge" ng-class="{'fa-check-circle text-success': oAuthConfig.enable_authorization_code, 'fa-times-circle text-danger': !oAuthConfig.enable_authorization_code}"></span> Authorization Code
                </div>
                <div class="col-sm-4 text-center">
                    <span class="fa fa-fw xlarge" ng-class="{'fa-check-circle text-success': oAuthConfig.enable_client_credentials, 'fa-times-circle text-danger': !oAuthConfig.enable_client_credentials}"></span> Client Credentials
                </div>
                <div class="col-sm-4 text-right">
                    <span class="fa fa-fw xlarge" ng-class="{'fa-check-circle text-success': oAuthConfig.enable_implicit_grant, 'fa-times-circle text-danger': !oAuthConfig.enable_implicit_grant}"></span> Implicit Grant
                </div>
            </div>
        </div>
    </api-page-header>

    <div id="navtabs" class="api-row">
        <div class="api-content-container navtab-container">
            <input id="docs" type="radio" name="tabs" ui-sref-active="active" ui-sref=".documentation">
            <label for="docs">Documentation</label>

            <input id="plans" type="radio" name="tabs" ui-sref-active="active" ui-sref=".plans">
            <label for="plans">Plans & Policies</label>

            <input ng-if="showAnnouncements" id="announcements" type="radio" name="tabs" ui-sref-active="active" ui-sref=".announcements">
            <label ng-if="showAnnouncements" for="announcements">Announcements</label>

            <input ng-if="showSupport" id="support" type="radio" name="tabs" ui-sref-active="active" ui-sref=".support">
            <label ng-if="showSupport" for="support">Support <span class="badge text-bold" ng-if="(support | filter:{status:'OPEN'}).length > 0">{{(support | filter:{status:'OPEN'}).length}}</span></label>

            <input id="readme" type="radio" name="tabs" ui-sref-active="active" ui-sref=".terms">
            <label for="readme">API README</label>
        </div>
    </div>


    <div class="api-row">
        <div class="api-content-container">
            <div class="panel">
                <div class="panel-body">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>

</div>
