<div class="page page-oauth clearfix">

    <div class="oauth-container col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
        <div class="oauth-panel panel panel-lined panel-hovered">
            <div class="panel-body">
                <div class="pull-right">
                    <base64-logo logo="{{appOAuthInfo.base64AppLogo}}" logo-class="entity-logo-list"></base64-logo>
                </div>
                <h2 class="mb30">{{appOAuthInfo.consumerResponse.name}} - {{appOAuthInfo.appVersion}}</h2>
                <p class="text-desc">Do you want to grant the following permissions to <b>{{appOAuthInfo.consumerResponse.name}}</b>, published by <b>{{appOAuthInfo.consumer.customId}}</b>?</p>

                <div class="panel-body">
                    <p class="text-desc">{{appOAuthInfo.consumerResponse.name}} would like to receive the following permissions:</p>

                    <div class="row well" ng-if="requestedScopes.length === 0">
                        No scopes were requested. Please double check that you are passing the redirect url along correctly.
                    </div>

                    <div class="col-sm-12 col-md-9 col-lg-7">

                        <div class="row" ng-repeat="scope in selectedScopes">
                            <div class="col-sm-8 col-md-7 col-lg-8 ui-checkbox ui-checkbox-success ui-checkbox-circle">
                                <label>
                                    <input type="checkbox" ng-model="scope.checked">
                                    <span class="text-bold">{{scope.desc}}</span>
                                </label>
                            </div>
                            <div class="col-sm-4 col-md-5 col-lg-4">
                                <p class="text-muted">{{scope.scope}}</p>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="panel-body">
                    <button class="btn btn-default" ng-click="doCancel()">Cancel</button>
                    <button class="btn btn-success" ng-click="doGrant()" ng-disabled="!canGrant()">Grant</button>
                    <uib-alert class="mt10" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                        <div ng-bind-html="alert.msg"></div>
                    </uib-alert>
                </div>
            </div>
            <div class="panel-footer text-muted text-normal small">
                The API Management Engine will use this information in accordance with their respective terms of service and privacy policies.
            </div>
        </div>

    </div>

</div>
