<div class="page page-api">
  <api-page-breadcrumbs>
    <li class="active"><a ui-sref="root.myOrganizations">My Organizations</a></li>
    <li class="active"><a ui-sref="root.organization({orgId: org.id})">{{org.name}}</a></li>
  </api-page-breadcrumbs>

  <api-page-header has-logo="false">
    <div>
      <span id="org-name" class="size-h3 text-primary text-uppercase text-bold">{{orgScreenModel.organization.name}}</span>
      <span class="small text-muted ml10 mb5" ng-if="!orgScreenModel.organization.organizationPrivate"><span class="fa fa-globe"></span>&nbsp;Public Organization</span>
      <span class="small text-muted ml10 mb5" ng-if="orgScreenModel.organization.organizationPrivate"><span class="fa fa-lock"></span>&nbsp;Private Organization</span>
      <div class="right" ng-if="User.isAuthorizedForIn('orgAdmin', orgScreenModel.organization.id)">
        <api-page-actions>
          <li id="edit-details">
            <a ng-click="editDetails()" class="clickable">
              Edit Details
            </a>
          </li>
          <li class="divider"></li>
          <li id="delete-org" class="text-danger">
            <a ng-click="deleteOrg()" class="clickable">
              <span class="text-danger">Delete Organization</span>
            </a>
          </li>
        </api-page-actions>
      </div>
      <p class="size-h5" ng-if="User.currentUser.admin"><span ng-if="org.friendlyName && org.friendlyName.length > 0">({{ org.friendlyName }})</span><span class="text-muted" ng-if="!org.friendlyName || org.friendlyName.length === 0">(No branding name set)</span></p>

      <div>{{orgScreenModel.organization.description}}</div>

      <!--<div class="col-sm-12">-->
      <!--<div class="col-sm-12 text-light">-->
      <!--<i class="fa fa-clock-o fa-fw"></i>-->
      <!--<span>Created on</span>-->
      <!--<span data-field="createdOn">{{org.createdOn | date}}</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-12 text-light">-->
      <!--<div class="col-sm-12">-->
      <!--<i class="fa fa-users fa-fw"></i>-->
      <!--<span data-field="numMembers" class="ng-binding">{{memberCount}}</span>-->
      <!--<span>{{ memberCount === 1 ? 'Member' : 'Members' }}</span>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </api-page-header>

  <div id="navtabs" class="api-row">
    <div class="api-content-container navtab-container">
      <input id="plans" type="radio" name="tabs" ui-sref-active="active" ui-sref=".plans" ng-if="User.isAuthorizedForIn('planView', org.id)">
      <label for="plans">Plans</label>

      <input id="services" type="radio" name="tabs" ui-sref-active="active" ui-sref=".services" ng-if="User.isAuthorizedForIn('svcView', org.id)">
      <label for="services">Services <span class="badge text-bold" ng-if="pendingContracts.length > 0">{{pendingContracts.length}}</span></label>

      <input id="members" type="radio" name="tabs" ui-sref-active="active" ui-sref=".members">
      <label for="members">Members</label>

      <input id="pending" type="radio" name="tabs" ui-sref-active="active" ui-sref=".pending" ng-if="User.isAuthorizedForIn('orgAdmin', org.id)">
      <label for="pending">Membership Requests <span class="badge text-bold" ng-if="pendingMemberships.length > 0">{{pendingMemberships.length}}</span></label>
    </div>
  </div>


  <div class="api-row">
    <div class="api-content-container">
      <div class="panel">
        <div class="panel-body">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>

</div>