<div class="page page-api">
    <api-page-breadcrumbs>
        <li><a ui-sref="root.myOrganizations">My Organizations</a></li>
        <li><a ui-sref="root.organization.plans({orgId: planVersion.plan.organization.id})">{{planVersion.plan.organization.name}}</a></li>
        <li><a ui-sref="root.organization.plans({orgId: planVersion.plan.organization.id})">Plans</a></li>
        <li><a ui-sref="root.plan({orgId: planVersion.plan.organization.id, planId: planVersion.plan.id})">{{planVersion.plan.name}}</a></li>
    </api-page-breadcrumbs>

    <api-page-header has-logo="false">
        <div>
            <!-- Main Org info panel -->
            <span id="plan-name" class="text-primary size-h3 text-uppercase text-bold">{{planVersion.plan.name}}<status-label style="vertical-align: text-top;" class="ml30 xlarge text-center" status="{{planVersion.status}}"></status-label>
            </span>

            <div class="right">
                <api-page-version-select current-version="planVersion.version" type="'app'" versions="versions"></api-page-version-select>

                <api-page-actions>
                    <li id="new-version" ng-if="User.isAuthorizedForIn('planEdit', planVersion.plan.organization.id)" >
                        <a ng-click="modalNewVersion()" class="clickable">
                            New Version
                        </a>
                    </li>
                    <li class="divider"></li>

                    <li id="lock" class="text-success" ng-if="!locked" uib-tooltip="{{User.isAuthorizedForIn('planAdmin', planVersion.plan.organization.id) ? '' : 'You do not have the necessary permissions to lock plans.'}}" tooltip-popup-delay="250">
                        <a ng-click="!User.isAuthorizedForIn('planAdmin', planVersion.plan.organization.id) || confirmLockPlan()" ng-class="{'clickable': User.isAuthorizedForIn('planAdmin', planVersion.plan.organization.id), 'not-clickable': !User.isAuthorizedForIn('appAdmin', planVersion.plan.organization.id)}">
                            <span class="text-success">Lock Plan</span>
                        </a>
                    </li>
                    <li id="delete-version" class="text-danger" uib-tooltip="{{User.isAuthorizedForIn('planAdmin', planVersion.plan.organization.id) ? '' : 'You do not have the necessary permissions to  delete plan versions.'}}" tooltip-popup-delay="250">
                        <a ng-click="!User.isAuthorizedForIn('planAdmin', planVersion.plan.organization.id) || confirmDeleteVersion(planVersion)" ng-class="{'clickable': User.isAuthorizedForIn('planAdmin', planVersion.plan.organization.id), 'not-clickable': !User.isAuthorizedForIn('appAdmin', planVersion.plan.organization.id)}" class="clickable">
                            <span class="text-danger">Delete {{planVersion.version}}</span>
                        </a>
                    </li>
                </api-page-actions>
            </div>

            <div class="col-sm-9" style="padding-left: 0;">
                <span id="desc" click-to-edit value="planVersion.plan.description" save-function="updateDesc" ng-if="User.isAuthorizedForIn('planEdit', planVersion.plan.organization.id)"></span>
                <span ng-if="!User.isAuthorizedForIn('planEdit', planVersion.plan.organization.id)">{{planVersion.plan.description}}</span>


                <div class="mt30 text-light text-muted">
                    <div>
                        <i class="fa fa-clock-o fa-fw"></i>
                        <span>Created on</span>
                        <span>{{planVersion.createdOn | date}}</span>
                    </div>
                    <div>
                        <i class="fa fa-user fa-fw"></i>
                        <span>Created by</span>
                        <span>{{planVersion.createdBy}}</span>
                    </div>
                </div>
            </div>
        </div>
    </api-page-header>

    <div id="navtabs" class="api-row">
        <div class="api-content-container navtab-container">
            <input id="policies" type="radio" name="tabs" ui-sref-active="active" ui-sref=".policies">
            <label for="policies">Policies</label>

            <input id="activity" type="radio" name="tabs" ui-sref-active="active" ui-sref=".activity">
            <label for="activity">Activity</label>

            <a id="help" ng-click="showInfoModal()" class="ml30 clickable ion ion-help-circled icon text-muted"></a>
        </div>
    </div>


    <div class="api-row">
        <div class="api-content-container">
            <div class="panel">
                <div class="panel-body">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>

</div>
