<!--{{$ctrl.policy}}-->
<div class="policy">
    <div id="content">
        <div class="policy-header">
            <h5>{{$ctrl.policy.name}}</h5>
            <img class="policy-icon" ng-attr-src="{{$ctrl.imgUrl}}">
        </div>
        <div class="policy-body">
            <span class="text-muted text-light small">{{$ctrl.description}}</span>
            <!--<span>{{$ctrl.policy.policyDefinitionId}}</span>-->
        </div>
    </div>
    <div id="overlay">
        <div class="policy-actions">
            <span class="btn btn-sm btn-primary">Details</span>
            <span ng-if="$ctrl.editMode" class="btn btn-sm btn-danger" ng-click="$ctrl.removePolicy()">Remove</span>
        </div>
    </div>
</div>