<table class="table table-condensed row-selected">
    <thead>
    <tr>
        <th nowrap="nowrap" width="5%">#</th>
        <th nowrap="nowrap" width="40%">To Service</th>
        <th nowrap="nowrap" width="40%">Using Plan</th>
        <th nowrap="nowrap" width="15%"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contract in contracts">
        <td>{{$index+1}}</td>
        <td><a href ng-click="toApiDoc(contract)">{{contract.serviceId}} - {{contract.serviceVersion}}</a></td>
        <td>{{contract.planDetails.id}} - {{contract.planDetails.version}}</td>
        <td class="text-right">
            <!--<button class="btn btn-warning btn-xs action-icon fa fa-ban" tooltip-popup-delay="300" tooltip-placement="top" tooltip="Break contract" ng-if="userCanBreak" ng-click="breakContract(contract)"></button>-->
        </td>
    </tr>
    </tbody>
</table>