<apim-notif-admin-granted class="notification" notification="notification" clear-function="clear" ng-if="adminGranted"></apim-notif-admin-granted>
<apim-notif-admin-revoked class="notification" notification="notification" clear-function="clear" ng-if="adminRevoked"></apim-notif-admin-revoked>
<apim-notif-announcement-new class="notification" notification="notification" clear-function="clear" ng-if="announcementNew"></apim-notif-announcement-new>
<apim-notif-contract-accepted class="notification" notification="notification" clear-function="clear" ng-if="contractAccepted"></apim-notif-contract-accepted>
<apim-notif-contract-rejected class="notification" notification="notification" clear-function="clear" ng-if="contractRejected"></apim-notif-contract-rejected>
<apim-notif-contract-request-cancelled class="notification" notification="notification" clear-function="clear" ng-if="contractRequestCancelled"></apim-notif-contract-request-cancelled>
<apim-notif-membership-granted class="notification" notification="notification" clear-function="clear" ng-if="membershipGranted"></apim-notif-membership-granted>
<apim-notif-membership-rejected class="notification" notification="notification" clear-function="clear" ng-if="membershipRejected"></apim-notif-membership-rejected>
<apim-notif-membership-revoked class="notification" notification="notification" clear-function="clear" ng-if="membershipRevoked"></apim-notif-membership-revoked>
<apim-notif-membership-revoked-role class="notification" notification="notification" clear-function="clear" ng-if="membershipRevokedRole"></apim-notif-membership-revoked-role>
<apim-notif-membership-transfer class="notification" notification="notification" clear-function="clear" ng-if="membershipTransfer"></apim-notif-membership-transfer>
<apim-notif-membership-updated class="notification" notification="notification" clear-function="clear" ng-if="membershipUpdated"></apim-notif-membership-updated>
<apim-notif-contract-pending class="notification" notification="notification" ng-if="contractPending"></apim-notif-contract-pending>
<apim-notif-membership-pending class="notification" notification="notification" ng-if="membershipPending"></apim-notif-membership-pending>

