<div class="page page-ui-notifications">
  <ol class="breadcrumb breadcrumb-small" ng-hide="type === 'app'">
    <li>Publisher</li>
    <li class="active" ng-show="type === 'plan'"><a ui-sref="root.organization.plans({orgId: entityVersion.plan.organization.id})">{{entityVersion.plan.organization.name}}</a></li>
    <li class="active" ng-show="type === 'plan'"><a ui-sref="root.plan({orgId: entityVersion.plan.organization.id, planId: entityVersion.plan.id})">{{entityVersion.plan.name}}</a></li>

    <li class="active" ng-show="type === 'svc'"><a ui-sref="root.organization.services({orgId: entityVersion.service.organization.id})">{{entityVersion.service.organization.name}}</a></li>
    <li class="active" ng-show="type === 'svc'"><a ui-sref="root.service({orgId: entityVersion.service.organization.id, svcId: entityVersion.service.id})">{{entityVersion.service.name}}</a></li>

    <!--<li class="active" ng-show="type === 'app'"><a ui-sref="root.organization({orgId: entityVersion.application.organization.id})">{{entityVersion.application.organization.name}}</a></li>-->
    <!--<li class="active" ng-show="type === 'app'"><a ui-sref="root.application({orgId: entityVersion.application.organization.id, appId: entityVersion.application.id})">{{entityVersion.application.name}}</a></li>-->
  </ol>
  <div class="toast toast-bottomRight">
    <alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-fade">
      <div ng-bind-html="toast.msg">Test Toast</div>
    </alert>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" ng-transclude>
    </div>
  </div>
</div>
