<div class="page page-ui-notifications">
  <ol class="breadcrumb breadcrumb-small">
    <li ng-if="type === 'plan' || type === 'svc'">Publisher</li>
    <li ng-if="type === 'app'">Marketplace</li>
    <li class="active"><a ui-sref="root.myOrganizations">My Organizations</a></li>
    <li class="active" ng-show="type === 'plan'"><a ui-sref="root.organization.plans({orgId: entityVersion.plan.organization.id})">{{entityVersion.plan.organization.friendlyName}}</a></li>
    <li class="active" ng-show="type === 'plan'"><a ui-sref="root.plan({orgId: entityVersion.plan.organization.id, planId: entityVersion.plan.id})">{{entityVersion.plan.name}}</a></li>

    <li class="active" ng-show="type === 'svc'"><a ui-sref="root.organization.services({orgId: entityVersion.service.organization.id})">{{entityVersion.service.organization.friendlyName}}</a></li>
    <li class="active" ng-show="type === 'svc'"><a ui-sref="root.service({orgId: entityVersion.service.organization.id, svcId: entityVersion.service.id})">{{entityVersion.service.name}}</a></li>

    <li class="active" ng-show="type === 'app'"><a ui-sref="root.market-dash({orgId: entityVersion.application.organization.id})">{{entityVersion.application.organization.friendlyName}}</a></li>
    <li class="active" ng-show="type === 'app'"><a ui-sref="root.application({orgId: entityVersion.application.organization.id, appId: entityVersion.application.id})">{{entityVersion.application.name}}</a></li>
  </ol>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" ng-transclude>
    </div>
  </div>
</div>
