<div class="modal-header clearfix">
    <h4 class="modal-title">New Announcement for <span class="text-bold text-primary">{{serviceVersion.service.name}}</span></h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
    <p>You are creating a new Announcement for <span class="text-bold text-primary">{{serviceVersion.service.name}}</span>.</p>
    <p>This announcement will be sent to users and followers of <b>all versions</b> of this service.</p>
</div>
<div class="modal-body style-placeholders">
    <form role="form" name="annForm" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label text-primary">Announcement Title</label>
                <input type="text" name="title" class="form-control" placeholder="Enter announcement title..." ng-model="announcement.title" required validate-on-timeout>
                <p class="text-danger xsmall" ng-show="annForm.title.$error.required && annForm.title.$timedout" ng-if="annForm.title.$touched">Announcement title is required.</p>
            </div>
        </div>
        <div class="form-group mt30">
            <div class="col-md-12">
                <label class="control-label text-primary">Announcement</label>
                <div name="description" text-angular ng-model="announcement.description" ng-required="true" validate-on-timeout>
                </div>
                <p class="text-danger xsmall" ng-show="annForm.description.$error.required && annForm.description.$timedout" ng-if="annForm.description.$touched">You probably don't want to send a blank announcement, right?</p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default ml15" ng-click="modalClose()">Cancel</button>
    <button class="btn btn-primary" ng-click="createAnnouncement(announcement)" ng-disabled="annForm.$invalid">Create Announcement</button>
</div>