<div class="modal-header clearfix">
  <h4 class="modal-title">Are you sure you want to register <span class="text-primary">{{selectedAppVersion.application.name}} {{selectedAppVersion.version}}</span>?</h4>
  <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
  <p>Registering an application version finalizes all contracts and activates them on the API Gateway. No further contracts can be added once registered.
    If you do want to add new contracts to a registered application, you will need to create a new version first.</p>

  <p>You are about to register <span class="text-bold text-primary">{{selectedAppVersion.application.name}} {{selectedAppVersion.version}}</span>.</p>

  <p>If registered now, the following contracts will be activated:</p>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th nowrap="nowrap" width="10%">#</th>
      <th nowrap="nowrap" width="20%">To Service</th>
      <th nowrap="nowrap" width="20%">Using Plan</th>
      <th nowrap="nowrap" width="50%">API Key</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contract in contracts">
      <td>{{$index+1}}</td>
      <td>{{contract.serviceName}} - {{contract.serviceVersion}}</td>
      <td>{{contract.planName}} - {{contract.planVersion}}</td>
      <td>{{contract.apikey}}</td>
    </tr>
    </tbody>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-line-default ml15" ng-click="modalClose()">Cancel</button>
  <button class="btn btn-line-success" ng-click="doPublish()">Confirm Registration</button>
</div>