<div class="modal-header clearfix">
  <h4 class="modal-title">New Application for <span class="text-bold text-primary">{{currentOrg.friendlyName}}</span></h4>
  <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body style-placeholders">
  <form role="form" name="appForm" class="form-horizontal">
    <div class="form-group mt30">
      <div class="col-md-7">
        <label class="control-label text-primary">Application Name</label>
        <input type="text" name="appName" class="form-control" placeholder="Enter application name..." ng-model="ctrl.application.name" required ng-pattern="regex.APPLICATION_NAME" validate-on-timeout>
        <p class="text-danger xsmall" ng-show="appForm.appName.$error.required && appForm.appName.$timedout" ng-if="appForm.appName.$touched">Application name is required.</p>
        <p class="text-danger xsmall" ng-show="appForm.appName.$error.pattern && appForm.appName.$timedout">Allowed characters: A-z (both upper and lowercase), numbers, dashes, underscores and single spaces. All other characters will be rejected. Leading and trailing spaces will be trimmed.</p>
        <p class="text-muted xsmall">Human-readable name of your application</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-5">
        <label class="control-label text-primary">Initial Version</label>
        <div class="input-group">
          <span class="input-group-addon input-version-addon">v</span>
          <input type="text" name="version" class="form-control input-version" placeholder="version number" maxlength="20" ng-model="ctrl.application.initialVersion" required ng-pattern="regex.VERSION" validate-on-timeout>
        </div>
        <p class="text-danger xsmall" ng-show="appForm.version.$error.required && appForm.version.$timedout" ng-if="appForm.version.$touched">Initial Version is required.</p>
        <p class="text-danger xsmall" ng-show="appForm.version.$error.pattern && appForm.version.$timedout">Only numeric characters are allowed.</p>
        <p class="text-muted xsmall">Version the application will start out as. Usually v1 for new applications</p>
      </div>
    </div>

    <div class="form-group mt30">
      <div class="col-md-5" flow-init flow-file-added="readFile($file, $event, $flow)" flow-object="flow">
        <label class="control-label text-primary">Application Logo</label>
        <div>
          <div class="thumbnail logo" ng-if="!$flow.files.length" flow-drop>
            <img src="http://www.placehold.it/250/EFEFEF/AAAAAA&text=Drop+image+here" />
          </div>
          <div class="thumbnail logo" ng-if="$flow.files.length">
            <img flow-img="$flow.files[0]" />
          </div>
          <p class="text-muted xsmall">Adding an image will make it easier to recognize your application</p>
          <div>
            <span class="btn btn-line-primary btn-sm" ng-if="!$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</span>
            <span class="btn btn-line-primary btn-sm" ng-if="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</span>
            <span class="btn btn-line-danger btn-sm" ng-if="$flow.files.length" ng-click="$flow.cancel()">Remove</span>
          </div>
          <div class="col-sm-8 mt10">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
              <div ng-bind-html="alert.msg"></div>
            </alert>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt30">
      <div class="col-md-12">
        <label class="control-label text-primary">Application Description</label>
        <textarea class="form-control" placeholder="Enter a description (optional)" ng-model="ctrl.application.description"></textarea>
        <p class="text-muted xsmall">Short description of your application</p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default ml15" ng-click="modalClose()">Cancel</button>
  <button class="btn btn-primary" ng-click="createApplication(ctrl.application)" ng-disabled="appForm.$invalid || !imageService.image.isValid">Create Application</button>
</div>
