<div class="modal-header clearfix">
    <h4 class="modal-title">Are you sure you want to delete version <span class="text-primary">{{applicationVersion}}</span> of {{applicationName}}?</h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
    <p>When an application version is deleted, <b>all</b> data associated with the application version will be removed. All contracts with the application version will be voided.</p>

    <p>Additionally, if this is the last remaining version for this application, the entire application will be deleted!</p>

    <p>Please be aware that <span class="text-primary text-bold">this action is irreversible!</span></p>

</div>
<div class="modal-footer">
    <button class="btn btn-line-default ml15" ng-click="modalClose()">Cancel</button>
    <button class="btn btn-line-primary" ng-click="doDelete()">Delete Application</button>
</div>
