<div class="modal-body style-placeholders first-visit-modal">
  <div class="col-sm-12 header">
    <span class="pull-right clickable btn-close size-h1" ng-click="later()"><span class="fa fa-times"></span></span>
    <h1 class="text-primary text-uppercase">Welkom!</h1>
    <h4>Voor je APIs kan gebruiken moeten we een paar dingen in orde brengen...</h4>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div class="col-sm-12">

        <div class="media first-visit-block">
          <div class="media-left">
            <div class="media-object first-visit-object">
              <img src="images/stad-logo.svg" alt="" class="">
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading title text-primary">Log in met je A-Profiel</h4>
            Gallia est omnis divisa in partes tres, quarum unam incolunt Belgae, aliam Aquitani, tertiam iis qui, in ipsorum lenguam Celtae, nostri Galli appelantur.
          </div>
        </div>

        <div class="media first-visit-block">
          <div class="media-body">
            <h4 class="media-heading title text-primary">Maak een Organisatie aan</h4>
            Gallia est omnis divisa in partes tres, quarum unam incolunt Belgae, aliam Aquitani, tertiam iis qui, in ipsorum lenguam Celtae, nostri Galli appelantur.

          </div>
          <div class="media-right">
            <div class="first-visit-object show-icon text-center">
              <i class="fa fa-archive text-primary fa-5x"></i>
              <img src="images/no-image-available.svg" alt="" class="">
            </div>
          </div>
        </div>

        <div class="media first-visit-block">
          <div class="media-left">
            <div class="first-visit-object show-icon text-center">
              <i class="fa fa-puzzle-piece text-primary fa-5x"></i>
              <img src="images/no-image-available.svg" alt="" class="">
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading title text-primary">Maak een nieuwe Applicatie</h4>
            Gallia est omnis divisa in partes tres, quarum unam incolunt Belgae, aliam Aquitani, tertiam iis qui, in ipsorum lenguam Celtae, nostri Galli appelantur.
          </div>
        </div>

        <!--<p class="mt30 text-light">An <b>email address is required</b> to make sure several features (such as notifications, memberships, ...) of the Marketplace will work correctly.</p>-->
        <!--<form role="form" name="emailForm" class="form-horizontal">-->
          <!--<div class="form-group mt30">-->
            <!--<div class="col-md-12">-->
              <!--<label class="control-label text-primary">Please enter your email address:</label>-->
            <!--</div>-->
            <!--<div class="col-md-12">-->
              <!--<input type="email" name="email" class="form-control text-center" ng-model="ctrl.email" required validate-on-timeout>-->
              <!--<p class="text-danger xsmall" ng-show="emailForm.email.$error.required && emailForm.email.$timedout" ng-if="emailForm.email.$touched">Please provide your email address.</p>-->
              <!--<p class="text-danger xsmall" ng-show="emailForm.email.$error.email && emailForm.email.$timedout">This is not a valid email address. Please check for errors.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      </div>
      <div class="col-sm-12 buttons">
        <button class="btn btn-primary btn-login btn-lg" ng-click="login()">Let's go!</button>
        <button class="btn btn-later btn-lg" ng-click="later()">Later, ik wil eerst wat rondkijken</button>
      </div>
    </div>
  </div>
</div>
