<div class="modal-body style-placeholders first-visit-modal">
  <div class="col-sm-12 header">
    <span class="pull-right clickable btn-close size-h1" ng-click="later()"><span class="fa fa-times"></span></span>
    <h1 class="text-primary text-uppercase">Welcome!</h1>
    <h4>Before you can start using APIs, we need to take care of a few things...</h4>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div class="col-sm-12">

        <div class="media first-visit-block">
          <div class="media-left">
            <div class="first-visit-object">
              <img src="images/stad-logo.svg" alt="" class="img-circle">
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading title text-primary">Log in with your A-Profile</h4>
            The A-Profile provides single log on access to all services in the Antwerp City platform. <!-- TODO expand this! -->
          </div>
        </div>

        <div class="media first-visit-block">
          <div class="media-body">
            <h4 class="media-heading title text-primary">Create an Organization</h4>
            Think of an organization as a container for your applications. It allows you to easily group applications together,
            and you can invite others to collaborate on those applications.
          </div>
          <div class="media-right">
            <div class="first-visit-object show-icon text-center">
              <i class="fa fa-archive text-primary fa-5x"></i>
              <img src="images/no-image-available.svg" alt="" class="">
            </div>
          </div>
        </div>

        <div class="media first-visit-block">
          <div class="media-left">
            <div class="first-visit-object show-icon text-center">
              <i class="fa fa-puzzle-piece text-primary fa-5x"></i>
              <img src="images/no-image-available.svg" alt="" class="">
            </div>

          </div>
          <div class="media-body">
            <h4 class="media-heading title text-primary">Start working on a new Application</h4>
            Applications are what it's really all about. They can have contracts with one or more of our APIs, and an API key will be generated to secure access to those APIs.
          </div>
        </div>

        <!--<p class="mt30 text-light">An <b>email address is required</b> to make sure several features (such as notifications, memberships, ...) of the Marketplace will work correctly.</p>-->
        <!--<form role="form" name="emailForm" class="form-horizontal">-->
          <!--<div class="form-group mt30">-->
            <!--<div class="col-md-12">-->
              <!--<label class="control-label text-primary">Please enter your email address:</label>-->
            <!--</div>-->
            <!--<div class="col-md-12">-->
              <!--<input type="email" name="email" class="form-control text-center" ng-model="ctrl.email" required validate-on-timeout>-->
              <!--<p class="text-danger xsmall" ng-show="emailForm.email.$error.required && emailForm.email.$timedout" ng-if="emailForm.email.$touched">Please provide your email address.</p>-->
              <!--<p class="text-danger xsmall" ng-show="emailForm.email.$error.email && emailForm.email.$timedout">This is not a valid email address. Please check for errors.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      </div>
      <div class="col-sm-12 buttons">
        <button id="lets-go" class="btn btn-primary btn-login btn-lg" ng-click="login()">Let's go!</button>
        <button id="later" class="btn btn-later btn-lg" ng-click="later()">Later, I want to have a look around first</button>
      </div>
    </div>
  </div>
</div>
