<div class="modal-header clearfix">
    <h4 class="modal-title">Are you sure you want to cancel your request?</h4>
    <span class="close ion ion-android-close" ng-click="cancel()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
    <p>Really cancel your membership request to <span class="text-primary">{{org.name}}</span>?</p>
</div>
<div class="modal-footer">
    <button id="cancel" class="btn btn-line-default ml15" ng-click="cancel()">No</button>
    <button id="lock" class="btn btn-line-success" ng-click="ok()">Yes</button>
</div>

