<div class="modal-header clearfix">
  <h4 class="modal-title">New Ticket</h4>
  <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>

<div class="modal-body">

  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-md-8 col-md-offset-2">API Version</label>
      <div class="col-md-8 col-md-offset-2">
        <select class="form-control">
          <option value="0" selected>v2</option>
          <option value="1">v1</option>
        </select>
      </div>
    </div>
    <!-- normal control -->
    <div class="form-group mt30">
      <label class="col-md-8 col-md-offset-2">Issue short description</label>
      <div class="col-md-8 col-md-offset-2">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group mt30 mb30">
      <label class="col-md-8 col-md-offset-2">Issue description</label>
      <div class="col-md-8 col-md-offset-2">
        <textarea rows="5" class="form-control resize-v"></textarea>
      </div>
    </div>
  </form>
  <button class="col-md-offset-2 btn btn-default">Add attachment</button>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modalClose()">Cancel</button>
  <button class="btn btn-success" ng-click="createTicket()">Create Ticket</button>
</div>
</div>
