<div class="page">

  <div class="modal-header clearfix">
    <h4 class="modal-title">Are you sure you want to retire <span class="text-primary">{{applicationVersion.application.name}} {{applicationVersion.version}}?</span></h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
  </div>
  <!-- Application Create panel -->
  <div class="modal-body">
    <p>When an application version is retired, all its existing contracts will be voided and removed. The API keys associated with these contracts will no longer be valid.</p>

    <p>If the application version is retired, <span class="text-primary text-bold">all requests made using the keys listed below will be rejected!</span></p>

    <table class="table table-condensed">
      <thead>
      <tr>
        <th nowrap="nowrap" width="10%">#</th>
        <th nowrap="nowrap" width="20%">To Service</th>
        <th nowrap="nowrap" width="20%">Using Plan</th>
        <th nowrap="nowrap" width="50%">API Key</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contract in contracts">
        <td>{{$index+1}}</td>
        <td>{{contract.serviceName}} - {{contract.serviceVersion}}</td>
        <td>{{contract.planName}} - {{contract.planVersion}}</td>
        <td>{{contract.apikey}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button class="btn btn-line-default ml15" ng-click="modalClose()">Cancel</button>
    <button class="btn btn-line-primary" ng-click="doRetire()">Retire Application</button>
  </div>

</div>
