<div class="modal-header clearfix">
  <h4 class="modal-title">Add Policy</h4>
  <span class="close ion ion-android-close" ng-click="modalClose()"></span>
  <p>Adding a policy will allow its specific functionality to be applied to the service invocation as part of the overall Policy Chain.</p>
</div>

<div class="modal-body">

  <div class="row">  <!-- Policy Type -->
    <div class="col-sm-12">
      <span class="text-bold">Policy Type</span>
      <div dropdown>
        <button class="btn btn-primary" dropdown-toggle>
          <i class="fa {{selectedPolicy.icon}}"></i>
          <span>{{selectedPolicy === null ? 'Choose a policy...' : selectedPolicy.name}} </span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
          <li ng-repeat="def in policyDefs | orderBy:'name.toLowerCase()'" ng-click="selectPolicy(def)"><a><span class="fa fa-inline fa-fw {{def.icon}}"></span>&nbsp;&nbsp;{{def.name}}</a></li>
        </ul>
      </div>


    </div>
  </div>

  <!-- Policy Type-specific config -->
  <div class="row mt20 ng-hide" ng-show="include">
    <div class="panel panel-default">
      <div class="panel-heading">{{selectedPolicy.name}} <span>Configuration</span></div>
      <div class="panel-body">{{selectedPolicy.description}}</div>
      <div class="panel-body" ng-include="include"></div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modalClose()">Cancel</button>
  <button id="add-policy" ng-disabled="!valid" class="btn btn-primary" placeholder="Adding..." data-icon="fa-cog" ng-click="addPolicy()">Add Policy</button>
</div>




