<div class="modal-header">
  <h4 class="modal-title">Edit Organization: <span>{{ org.name }}</span></h4>
  <span class="close ion ion-android-close" ng-click="cancel()"></span>
</div>
<div class="modal-body style-placeholders">
  <div class="row">
      <div class="col-sm-12">

        <form role="form" name="orgForm" class="form-horizontal">
          <div class="form-group col-md-12" ng-if="admin">
              <label class="control-label text-primary">Branding Name</label>
              <input type="text" name="orgFriendlyName" class="form-control" placeholder="Enter branding name..." ng-model="org.friendlyName" ng-pattern="regex.ORG_NAME" validate-on-timeout>
              <p class="text-danger xsmall" ng-show="orgForm.orgFriendlyName.$error.pattern && orgForm.orgFriendlyName.$timedout">Allowed characters: Alphanumeric, dashes, underscores and single spaces. All other characters will be rejected. Leading and trailing spaces will be trimmed.</p>
              <p class="text-muted xsmall">Name that will be shown to end users on the API Store. If left blank, no name will be shown.</p>
          </div>

          <div class="form-group col-md-12">
              <label class="control-label text-primary">Organization Description</label>
              <textarea class="form-control" placeholder="Enter a description (optional)" data-ng-model="org.description"></textarea>
              <p class="text-muted xsmall">Short description of the organization</p>
          </div>

          <div class="form-group col-sm-12 mt30">
            <label class="control-label text-primary">Organization Accessibility</label>
            <div class="ui-radio ui-radio-primary mt15">
              <label>
                <input type="radio" ng-checked="!org.organizationPrivate" ng-click="org.organizationPrivate = false" name="orgVisibility">
                <span class="text-muted"><b>Public</b>: Anyone can request to join this organization.</span>
              </label>
            </div>
            <div class="ui-radio ui-radio-primary">
              <label>
                <input type="radio" ng-checked="org.organizationPrivate" ng-click="org.organizationPrivate = true" name="orgVisibility">
                <span class="text-muted"><b>Private</b>: Only people I invite will be able to join the organization.</span>
              </label>
            </div>
          </div>
        </form>

      </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default ml15" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="orgForm.$invalid">Update Organization</button>
</div>
