<div class="modal-header">
  <h4 class="modal-title">Organization Friendly Name</h4>
  <span class="close ion ion-android-close" ng-click="cancel()"></span>
</div>
<div class="modal-body">
  <div class="col-sm-12">
    <p class="text-light">Update the friendly name of your Organization.</p>
    <hr>
  </div>
  <div class="panel">
    <div class="panel-body">

      <form role="form" name="orgForm" class="form-horizontal">
        <div class="form-group col-md-12">
          <div class="col-md-11 col-md-offset-1">
            <label class="control-label text-primary">Friendly Name</label>
          </div>
          <div class="col-md-11 col-md-offset-1">
            <input type="text" name="orgFriendlyName" class="form-control" placeholder="Enter friendly name..." ng-model="orgFriendlyName" ng-pattern="regex.ORG_NAME" validate-on-timeout>
            <p class="text-danger xsmall" ng-show="orgForm.orgFriendlyName.$error.pattern && orgForm.orgFriendlyName.$timedout">Allowed characters: Alphanumeric, dashes, underscores and single spaces. All other characters will be rejected. Leading and trailing spaces will be trimmed.</p>
            <p class="text-muted xsmall">Name that will be shown to end users on the Marketplace.</p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default ml15" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ok(org)">Update</button>
</div>
