<div class="modal-header clearfix">
    <h4 class="modal-title">Are you sure you want to delete the <span class="text-bold text-primary">{{org.name}}</span> organization?</h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
    <p>Deleting the organization will result in <strong>everything</strong> associated with it (members, {{ publisherMode ? 'services, plans,...' : 'applications,...'}}) being removed and destroyed <strong>permanently</strong>.</p>

    <p>Please be aware that <span class="text-primary text-bold">this action is irreversible!</span></p>

</div>
<div class="modal-footer">
    <button id="cancel" class="btn btn-line-default ml15" ng-click="cancel()">Cancel</button>
    <button id="delete" class="btn btn-line-primary" ng-click="ok()">Delete Organization</button>
</div>
