<div class="page">

  <div class="modal-header clearfix">
    <h4 class="modal-title">New Plan</h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
  </div>
  <!-- Plan Create panel -->
  <div class="modal-body">
    <form role="form" name="planForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-4">
          <label class="control-label text-primary">Organization</label>
          <input type="text" class="form-control" disabled value="{{org.name}}">
        </div>

      </div>

      <div class="form-group mt30">
        <div class="col-md-7">
          <label class="control-label text-primary">Plan Name</label>
          <input type="text" name="planName" class="form-control" placeholder="Enter plan name..." ng-model="ctrl.plan.name" required>
          <p class="text-danger xsmall" ng-show="planForm.planName.$error.required" ng-if="planForm.planName.$touched">Plan name is required.</p>
        </div>
        <div class="col-md-3">
          <label class="control-label text-primary">Initial Version</label>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-5">
          <input type="text" name="version" class="form-control" maxlength="20" value="1.0" ng-model="ctrl.plan.initialVersion" required>
          <p class="text-danger xsmall" ng-show="planForm.version.$error.required" ng-if="planForm.version.$touched">Initial version is required.</p>
        </div>
      </div>

      <div class="form-group mt30">
        <div class="col-md-12">
          <label class="control-label text-primary">Plan Description</label>
          <textarea class="form-control" placeholder="Enter a description (optional)" ng-model="ctrl.plan.description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default ml15" ng-click="modalClose()">Cancel</button>
    <button class="btn btn-primary" ng-click="createPlan(ctrl.plan)" ng-disabled="planForm.$invalid">Create Plan</button>
  </div>

</div>
