<div class="modal-header clearfix">
    <h4 class="modal-title">Are you sure you want to delete version <span class="text-primary">{{serviceVersion.version}}</span> of {{serviceVersion.service.name}}?</h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
    <p>When a service version is deleted, all data associated with the service version will be removed.</p>

    <p ng-if="lastVersion">Since this is the only version that currently exists for this service, <strong>deleting this version will also delete the service</strong>!</p>

    <p>Please be aware that <span class="text-primary text-bold">this action is irreversible!</span></p>
</div>
<div class="modal-footer">
    <button class="btn btn-line-default ml15" ng-click="modalClose()">Cancel</button>
    <button class="btn btn-line-primary" ng-click="doDelete()">Delete {{ lastVersion ? 'Service' : 'Version' }}</button>
</div>
