<div class="modal-header clearfix">
  <h4 class="modal-title">Are you sure you want to deprecate <span class="text-primary">{{serviceVersion.service.name}} {{serviceVersion.version}}</span>?</h4>
  <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>
<!-- Application Create panel -->
<div class="modal-body">
  <p>When a service version is deprecated, no new contracts can be created with this service version. However, all its <span class="text-primary text-bold">existing contracts will continue to be honoured</span>.</p>

  <p>Do keep in mind that this action is <span class="text-bold">irreversible</span>.</p>


  <p class="text-bold text-primary">Do you want to deprecate this service version?</p>

</div>
<div class="modal-footer">
  <button class="btn btn-line-default" ng-click="modalClose()">Cancel</button>
  <button class="btn btn-line-warning" ng-click="doDeprecate()">Deprecate Service</button>
</div>