<div class="modal-header clearfix">
    <h4 class="modal-title">New Ticket for <span class="text-bold text-primary">{{serviceVersion.service.name}}</span></h4>
    <span class="close ion ion-android-close" ng-click="modalClose()"></span>
</div>

<div class="modal-body style-placeholders">
    <div class="ml10 mr10">
        <form role="form" name="ticketForm" class="form-horizontal">
            <div class="form-group">
                <label class="control-label text-primary">Issue Summary</label>
                <input type="text" name="summary" class="form-control" placeholder="Short description of the problem" ng-model="newTicket.title" required validate-on-timeout>
                <p class="text-danger xsmall" ng-show="ticketForm.summary.$error.required && ticketForm.summary.$timedout" ng-if="ticketForm.summary.$touched">Ticket summary is required.</p>
            </div>
            <div class="form-group mt30 mb30">
                <label class="control-label text-primary">Issue Description</label>
                <div name="description" text-angular ng-model="newTicket.description" ng-required="true" validate-on-timeout>
                </div>
                <p class="text-danger xsmall" ng-show="ticketForm.description.$error.required  && ticketForm.description.$timedout" ng-if="ticketForm.description.$touched">Please provide a detailed description of the issue.</p>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="modalClose()">Cancel</button>
    <button class="btn btn-success" ng-click="createTicket()" ng-disabled="ticketForm.$invalid">Create Ticket</button>
</div>
