<div class="page page-ui-notifications">
    <ol class="breadcrumb breadcrumb-small">
        <li><a ui-sref="root.myOrganizations">API Engine</a></li>
        <li class="active"><a ui-sref="root.administration.users">Administration</a></li>
    </ol>
    <div class="toast toast-bottomRight">
        <uib-alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-fade">
            <div ng-bind-html="toast.msg">Test Toast</div>
        </uib-alert>
    </div>
    <div class="col col-md-4 mb30">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h4 class="text-primary text-uppercase text-bold">Administration and Settings</h4>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 text-light">Administration tasks can be performed on this page.
                        Administrators can be added, removed or updated from this section.
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 mb20">
        <div class="btn-group btn-radio">
            <label class="btn btn-primary btn-justified" ng-model="adminTab.selectedTab" uib-btn-radio="'Users'" id="users" ui-sref=".users">Admins</label>
            <label class="btn btn-primary btn-justified" ng-model="adminTab.selectedTab" uib-btn-radio="'Expiration'" id="expiration" ui-sref=".security">Security</label>
            <label class="btn btn-primary btn-justified" ng-model="adminTab.selectedTab" uib-btn-radio="'Terms'" id="terms" ui-sref=".terms">Terms & Conditions</label>
            <label class="btn btn-primary btn-justified" ng-model="adminTab.selectedTab" uib-btn-radio="'Status'" id="status" ui-sref=".status">Status</label>
        </div>
        <div class="col-sm-12 mt10" ui-view></div>

    </div>
</div>
