<div class="page page-api">
  <div class="page-wrap">

    <div class="row">
      <div class="panel panel-primary ">
        <div class="panel-body">
          <!-- Main API info panel -->
          <div class="col-sm-1">
            <base64-logo logo-class="media center-block entity-logo-list" logo="{{serviceVersion.service.base64logo}}"></base64-logo>
          </div>
          <div class="pl30 col-sm-11">
            <div class="col-sm-9">
              <h3 class="text-primary text-uppercase text-bold">{{serviceVersion.service.name}}<a href=""> <i class="text-info follow-icon fa fa-star-o"></i></a></h3>
            </div>
            <div class="col-sm-3 text-bold pull-right text-center">
              <h3><label class="label label-primary text-nowrap text-ellipsis">Version: {{serviceVersion.version}}</label></h3>
              <button class="btn btn-line-success" ng-click="modalSelectApplicationForContract()">Create Contract</button>
            </div>
            <div class="col-sm-12 text-primary">
              <span class="text-light fa fa-user"> {{serviceVersion.createdBy}}</span>
              <i class="ml10 fa fa-globe"> Online documentation</i>
              <i class="ml10 fa fa-tag" ng-hide="serviceVersion.service.categories.length == 0"> {{serviceVersion.service.categories.join(', ')}}</i>
              <span class="ml10 text-light fa fa-clock-o"> Created: {{serviceVersion.createdOn | date }}</span>
            </div>
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
          <div class="col-sm-12">
            <span>{{serviceVersion.service.description}}</span>
          </div>
        </div><!-- end main info panel -->

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 bg-primary">
        <div class="btn-group btn-radio">
          <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Documentation'" ui-sref=".documentation">Documentation</label>
          <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Plans'" ui-sref=".plans">Plans</label>
          <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Announcements'" ui-sref=".announcements">Announcements</label>
          <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Support'" ui-sref=".support">Support <span class="badge text-bold">22</span></label>
          <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Terms'" ui-sref=".terms">API Terms</label>
        </div>
      </div>
      <div>
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="mt30" ui-view></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
