<div class="page" ng-controller="ApiDocCtrl">
  <link href='styles/plugins/swagger/typography.css' media='screen' rel='stylesheet' type='text/css' property=""/>
  <link href='styles/plugins/swagger/reset.css' media='screen' rel='stylesheet' type='text/css' property=""/>
  <link href='styles/plugins/swagger/screen.css' media='screen' rel='stylesheet' type='text/css' property=""/>

  <div class="page-wrap">

    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-body">
          <!-- Main API info panel -->
          <div class="api-logo col col-lg-1">
            <img class="media center-block" src="images/yeoman.png">
          </div>
          <div class="ml20 col col-lg-10">
            <h2>Swagger Petstore<a href=""> <i class="text-primary follow-icon fa fa-star-o"></i></a></h2>
            <div class="api-info">
              <i class="text-primary fa fa-globe"> Online documentation</i>
            </div>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacus neque. In tempus, libero cursus pellentesque vehicula, urna quam faucibus velit, sed tempus nulla.
            </div>
          </div><!-- end main info panel -->
        </div>
      </div>
    </div>

    <div class="row">
      <!-- tabs style -->
      <tabset class="tabs-linearrow">
        <tab heading="Documentation">
          <ng-include src="'views/templates/api/documentation.html'"></ng-include>
        </tab>
        <tab heading="Plans">
          <ng-include src="'views/templates/api/plans.html'"></ng-include>
        </tab>
        <tab heading="Announcements">
          <ng-include src="'views/templates/api/announcements.html'"></ng-include>
        </tab>
        <tab>
          <tab-heading>
            Support <span class="badge text-bold badge-xs">22</span>
          </tab-heading>
          <ng-include src="'views/templates/api/support.html'"></ng-include>
        </tab>
        <tab heading="Api Terms">
          <ng-include src="'views/templates/api/terms.html'"></ng-include>
        </tab>
      </tabset>
      <!-- #end tab styles -->
    </div>

  </div>
</div>
