<tr>
  <td>
    <div class="media media-middle">
      <img src="images/yeoman.png">
    </div>
  </td>
  <td class="text-left">
    <div class="text-primary">
      API Name by Publisher
    </div>
    <div class="description">
      Description goes here
    </div>
  </td>
  <td>
    <div class="text-bold">FREE</div>
  </td>
  <td>
    <div class="fa-hover col-xs-4"><b>999</b><br>developers</div>
    <div class="fa-hover col-xs-4"><b>222</b><br>followers<br></div>
    <div class="fa-hover col-xs-4"><b>100%</b><br>uptime</div>
  </td>
  <td>
    <div class="fa-hover"><i class="text-primary size fa fa-star-o"></i></div>
  </td>
</tr>
