<overview entity-version="applicationVersion" type="app">
  <overview-header name="{{applicationVersion.application.name}}" icon="cogs" description="{{applicationVersion.application.description}}" has-logo="true" base64logo="{{applicationVersion.application.base64logo}}"
                   entity-version="applicationVersion" versions="versions" select-version="selectVersion(version)" new-version="modalNewVersion()" save="updateDesc"
                   edit-permission="User.isAuthorizedFor('appEdit')">

    <!-- Entity Buttons -->
    <div class="toast toast-bottomRight">
      <uib-alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-fade">
        <div ng-bind-html="toast.msg">Test Toast</div>
      </uib-alert>
    </div>
    <button class="btn btn-line-primary btn-sm" ng-if="!isRegistered && User.isAuthorizedFor('appEdit')" ng-click="newContract(applicationVersion)">New Contract</button>
    <button class="btn btn-line-info btn-sm" ng-if="canConfigureOAuth() && User.isAuthorizedFor('appEdit')" ng-click="showOAuthConfig(applicationVersion)">OAuth2 Config</button>
    <button class="btn btn-line-success btn-sm" ng-disabled="!isReady" ng-if="!isRegistered && User.isAuthorizedFor('appEdit')" ng-click="confirmPublishApp(applicationVersion)">Register</button>
    <button class="btn btn-line-warning btn-sm" ng-if="isRegistered && !isRetired && User.isAuthorizedFor('appEdit')" ng-click="confirmRetireApp(applicationVersion)">Retire</button>
    <button class="btn btn-line-danger btn-sm" ng-if="User.isAuthorizedFor('appAdmin')" ng-click="confirmDeleteApp(applicationVersion)">Delete</button>

  </overview-header>

  <overview-tabs>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Overview'" ui-sref=".overview">Overview</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Contracts'" ui-sref=".contracts">Contracts</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'APIs'" ui-sref=".apis" ng-if="isRegistered">APIs</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Activity'" ui-sref=".activity">Activity</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Metrics'" ui-sref=".metrics" ng-if="isRegistered">Metrics</label>
    <a href ng-click="showInfoModal()" class="ml30 ion ion-help-circled icon"></a>
  </overview-tabs>
</overview>
