<div class="page">

  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Create new contract
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="text-primary fa fa-cogs"></span> From Application
            </div>
            <div class="panel-body">
              <div class="col-sm-offset-1 col-sm-5">
                <button class="btn btn-primary form-control" disabled>{{application.name}}</button>
              </div>
              <div class="col-sm-5 col-sm-offset-1 col-sm-pull-1">
                <button class="btn btn-primary form-control" disabled>Version: {{applicationVersion}}</button>
              </div>
            </div>
          </div>


          <div class="row text-center">
            <img class="contract-arrow-overlay" src="images/new-contract-arrow-top.png">
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="text-primary fa fa-bar-chart"></span> Using Plan
            </div>
            <div class="panel-body">
              <div class="col-sm-10 col-sm-offset-1">
                <select class="form-control">
                  <option value="0" selected disabled>Select plan</option>
                  <option ng-repeat="plan in plans" value="1">{{plan}}</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row text-center">
            <img src="images/new-contract-arrow-bottom.png">
          </div>


          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="text-primary fa fa-puzzle-piece"></span> To Service
            </div>
            <div class="panel-body">
              <div class="col-sm-10 col-sm-offset-1">
                <button class="btn btn-primary form-control" disabled>{{service.organization.name}} - {{service.name}} {{serviceVersion}}</button>
              </div>
            </div>
          </div>


        </div>

        <div class="row text-center">
          <div class="col-sm-12 mt20">
            <button class="btn btn-default" ui-sref="service({orgId: service.organization.id, svcId: service.id})">Cancel</button>
            <button class="btn btn-success" ng-click="createContract()">Create contract</button>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
