<div class="page page-dashboard" ng-controller="DashboardCtrl">

	<div class="page-wrap">
    <div class="row">
      <!-- dashboard header -->
      <div class="col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-xs">
        <div class="dash-head clearfix mb20">
          <div class="group left col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <button href class="mt5 btn btn-primary" ng-click="toggleNav()">
              <i class="ion ion-eye" ng-hide="navFull"></i>
              <i class="ion ion-eye-disabled" ng-show="navFull"></i>
              <span class="text">{{navFull? 'Hide' : 'Show' }} categories</span>
            </button>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 hidden-xs right">
            <div class="mt5 mb5 right col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 btn-group" ng-init="displayMode='Grid'">
              <label class="btn btn-primary fa fa-th-large" ng-model="displayMode" btn-radio="'Grid'"></label>
              <label class="btn btn-primary fa fa-bars" ng-model="displayMode" btn-radio="'List'"></label>
            </div>
            <div class="mt5 mb5 col-lg-4 col-md-4 hidden-sm">
              <ul class="list-unstyled right-elems">
                <li dropdown>
                  <a href dropdown-toggle>
                    <span class="text-primary mt10">Sort by:</span>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="sortingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {{currentSorting}}
                      <span class="caret"></span>
                    </button>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-click="currentSorting = 'Popular'"><a href="javascript:;">Popular</a></li>
                    <li ng-click="currentSorting = 'Relevant'"><a href="javascript:;">Relevant</a></li>
                    <li ng-click="currentSorting = 'Newest'"><a href="javascript:;">Newest</a></li>
                    <li class="divider"></li>
                    <li ng-click="currentSorting = 'My APIs'"><a href="javascript:;">My APIs</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="mt5 mb5 col-lg-4 col-md-4 hidden-sm">
              <ul class="list-unstyled right-elems">
                <li dropdown>
                  <a href dropdown-toggle>
                    <span class="text-primary mt10">Pricing:</span>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="pricingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {{currentPricing}}
                      <span class="caret"></span>
                    </button>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-click="currentPricing = 'All'"><a href="javascript:;">All</a></li>
                    <li ng-click="currentPricing = 'Free'"><a href="javascript:;">Free</a></li>
                    <li ng-click="currentPricing = 'Freemium'"><a href="javascript:;">Freemium</a></li>
                    <li ng-click="currentPricing = 'Paid'"><a href="javascript:;">Paid</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- #end row -->

    <!-- API List/Grid switcher -->
    <div class="row row-centered" ng-switch="displayMode">
      <div ng-switch-when="Grid"><div ng-include="'views/grid.html'"></div></div>
      <div ng-switch-when="List"><div ng-include="'views/list.html'"></div></div>
      <div ng-switch-default><div ng-include="'views/grid.html'"></div></div>
    </div>
	</div> <!-- #end page-wrap -->
</div>
