<aside class="dash nav-wrap" ng-class="{'nav-expand': navFull, 'nav-offcanvas': navOffCanvas}"
       id="site-nav" custom-scrollbar>

    <div class="nav-head">
        <!-- site logo -->
        <span class="text site-logo">Categories</span>
    </div>
    <!-- Site nav (vertical) -->

    <nav class="site-nav clearfix" role="navigation">
        <!-- categories -->
        <ul class="list-unstyled clearfix col-sm-offset-1 mb30">
            <li class="category" ng-repeat="category in availableCategories" ng-click="toggleCategories(category)">
                <p id="{{category.toLowerCase()}}" class="clickable"><a ng-class="{ 'category-active': isCategorySelected(category), 'category-inactive': !isCategorySelected(category) }">
                    <span class="fa fa-lg fa-tag"></span><span class="ml10">{{category}}</span>
                </a></p>
                <!--<a ng-class="isCategorySelected(category)" class="btn-tag btn-w170" href="javascript:;" md-ink-ripple>{{category}}</a>-->
            </li>
            <li id="reset-cats" class="btn btn-default mt10" ng-click="clearSelectedCategories()" ng-hide="currentCategories.length == 0">
                <span class="text-primary">Reset</span>
            </li>
        </ul> <!-- #end navigation -->
    </nav>


    <!-- nav-foot -->
    <footer class="nav-foot">
        <p>2016 &copy; <span>ACPAAS</span></p>
    </footer>

</aside>

<div class="page page-dashboard page-ui-notifications" ng-class="{'nav-expand': navFull, 'nav-offcanvas': navOffCanvas}">
    <div class="toast toast-bottomRight">
        <uib-alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-fade">
            <div ng-bind-html="toast.msg">Test Toast</div>
        </uib-alert>
    </div>
    <!-- dashboard header -->
    <div style="padding-left: 0; padding-right: 0;">
        <div class="dash-head clearfix flex-row" ng-class="{ 'nav-expand' : navFull, 'nav-offcanvas' : navOffCanvas}">
            <div class="group left">
            <span href class="mt5 btn btn-dashboard transparent-bg" ng-click="toggleNav()">
              <i class="ion ion-eye" ng-hide="navFull"></i>
              <i class="ion ion-eye-disabled" ng-show="navFull"></i>
              <span class="text">{{navFull? 'Hide' : 'Show' }} categories</span>
            </span>
            </div>

            <div class="flex-grow" style="margin-left: 15%; margin-right: 15%;">
                <form id="site-search" ng-submit="doSearch(query)">
                    <div class="input-group">
                        <input type="search" class="form-control" ng-model="query" placeholder="Search APIs">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default ion ion-ios-search-strong"></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="text-center" style="min-width: 100px;">
                <div class="mt5 mb5 btn-group" style="display: inline-block;" ng-init="displayMode=getInitialDisplayMode()">
                    <label class="btn btn-dashboard fa fa-bars" ng-model="displayMode" uib-btn-radio="'List'" ui-sref=".list"></label>
                    <label class="btn btn-dashboard fa fa-th-large" ng-model="displayMode" uib-btn-radio="'Grid'" ui-sref=".grid"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="apis" ui-view></div>
</div>
