<aside class="dash nav-wrap" ng-class="{'nav-expand': navFull, 'nav-offcanvas': navOffCanvas}"
       id="site-nav" custom-scrollbar>

  <div class="nav-head">
    <!-- site logo -->
      <span class="text site-logo">Categories</span>
  </div>



  <!-- Site nav (vertical) -->

  <nav class="site-nav clearfix" role="navigation">
    <!-- categories -->
    <ul class="list-unstyled clearfix col-sm-offset-1 mt30 mb30">
      <li ng-repeat="category in availableCategories" ng-click="toggleCategories(category)">
        <a ng-class="isCategorySelected(category)" class="btn-tag btn-w170" href="javascript:;" md-ink-ripple>{{category}}</a>
      </li>
      <li class="btn btn-xs" ng-click="clearSelectedCategories()" ng-hide="currentCategories.length == 0">
        <h5 class="text-primary">Reset</h5>
      </li>
    </ul> <!-- #end navigation -->
  </nav>


  <!-- nav-foot -->
  <footer class="nav-foot">
    <p>2015 &copy; <span>ACPAAS</span></p>
  </footer>

</aside>

<div class="page page-dashboard" ng-class="{'nav-expand': navFull, 'nav-offcanvas': navOffCanvas}">

	<div class="page-wrap">
    <div class="row">
      <!-- dashboard header -->
      <div class="col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-xs">
        <div class="dash-head clearfix mb20">
          <div class="group left col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <button href class="mt5 btn btn-primary" ng-click="toggleNav()">
              <i class="ion ion-eye" ng-hide="navFull"></i>
              <i class="ion ion-eye-disabled" ng-show="navFull"></i>
              <span class="text">{{navFull? 'Hide' : 'Show' }} categories</span>
            </button>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 hidden-xs right">
            <div class="mt5 mb5 right col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 btn-group" ng-init="displayMode='Grid'">
              <label class="btn btn-primary fa fa-th-large" ng-model="displayMode" btn-radio="'Grid'" ui-sref=".grid"></label>
              <label class="btn btn-primary fa fa-bars" ng-model="displayMode" btn-radio="'List'" ui-sref=".list"></label>
            </div>
            <div class="mt5 mb5 col-lg-4 col-md-4 hidden-sm">
              <ul class="list-unstyled right-elems">
                <li dropdown>
                  <a href dropdown-toggle>
                    <span class="text-primary mt10">Sort by:</span>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="sortingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {{currentSorting}}
                      <span class="caret"></span>
                    </button>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-click="currentSorting = 'Popular'"><a href="javascript:;">Popular</a></li>
                    <li ng-click="currentSorting = 'Relevant'"><a href="javascript:;">Relevant</a></li>
                    <li ng-click="currentSorting = 'Newest'"><a href="javascript:;">Newest</a></li>
                    <li class="divider"></li>
                    <li ng-click="currentSorting = 'My APIs'"><a href="javascript:;">My APIs</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="mt5 mb5 col-lg-4 col-md-4 hidden-sm">
              <ul class="list-unstyled right-elems">
                <li dropdown>
                  <a href dropdown-toggle>
                    <span class="text-primary mt10">Pricing:</span>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="pricingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {{currentPricing}}
                      <span class="caret"></span>
                    </button>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-click="currentPricing = 'All'"><a href="javascript:;">All</a></li>
                    <li ng-click="currentPricing = 'Free'"><a href="javascript:;">Free</a></li>
                    <li ng-click="currentPricing = 'Freemium'"><a href="javascript:;">Freemium</a></li>
                    <li ng-click="currentPricing = 'Paid'"><a href="javascript:;">Paid</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- #end row -->

    <div class="row">
    <div class="col-sm-10 col-sm-offset-1 well" ng-show="availableAPIs.length === 0">
      Oops! We could't find any available services in this category! This is usually because a service in this category was created, but not published yet. Please check back later!
    </div>
    </div>

    <!-- API List/Grid switcher -->
    <div ui-view></div>
	</div> <!-- #end page-wrap -->
</div>
