<ul class="list-unstyled left-elems">

  <li class="hidden-xs">
    <a ui-sref="root.myOrganizations" class="logo"><img class="logo"></a>
  </li>

  <!-- Search box -->
  <li ng-show="showSearch">
    <div class="form-search hidden-xs">
      <form id="site-search" ng-submit="doSearch(query)">
        <input type="search" class="form-control" ng-model="query" placeholder="Search APIs">
        <button type="submit" class="ion ion-ios-search-strong"></button>
      </form>
    </div>
  </li>	<!-- #end search-box -->

  <li ng-show="showExplore">
    <button ui-sref="root.apis.grid" class="btn btn-tag-primary btn-header ml15"><i class="ion ion-map"></i>Explore APIs</button>
  </li>
  <li ng-show="showDash">
    <button href ng-click="toMarketDash()" class="btn btn-tag-primary btn-header ml15"><i class="ion ion-home"></i>My Marketplace</button>
  </li>

</ul>


<ul class="list-unstyled right-elems">
  <!-- profile drop -->
  <li class="profile-drop dropdown" dropdown>
    <a href dropdown-toggle>
      <img ng-src="data:image/png;base64,{{currentUserModel.currentUser.base64pic}}" ng-if="currentUserModel.currentUser.base64pic.length > 0">
      <img src="images/no-image-available.svg" ng-if="currentUserModel.currentUser.base64pic.length === 0 || currentUserModel.currentUser.base64pic === null">
      <span class="text-primary"></span>
      <span class="text-primary caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a ui-sref="root.user.profile"><span class="ion ion-person">&nbsp;&nbsp;</span>{{currentUserModel.currentUser.fullName}}</a></li>
      <li class="divider"></li>
      <li><a ui-sref="root.organizations"><span class="ion ion-search">&nbsp;&nbsp;</span>Find Organizations</a></li>
      <li><a ui-sref="root.myOrganizations"><span class="ion ion-ios-people">&nbsp;&nbsp;</span>My Organizations</a></li>
      <li class="divider"></li>
      <!--<li><a href="javascript:;" ng-click="togglePublisher()"><span class="ion ion-power">&nbsp;&nbsp;</span>Toggle PublisherMode</a></li>-->
      <!--<li class="divider"></li>-->
      <li><a href ng-click="doLogOut()"><span class="ion ion-power">&nbsp;&nbsp;</span>Logout</a></li>
    </ul>
  </li>
  <!-- #end profile-drop -->
</ul>

