<!-- Basic Table -->
<div class="col-md-12">
  <div class="panel panel-lined mb20 table-responsive">
    <table class="table table-bordered text-center">
      <tr ng-repeat="api in availableAPIs | pricing:currentPricing">
        <td>
          <div class="media media-middle">
            <img src={{api.logoUrl}}>
          </div>
        </td>
        <td class="text-left">
          <div class="text-primary">
            <a href="#" >{{api.name}}</a><span class="text-default text-light"> by </span><a href="#" >{{api.owner}}</a>
          </div>
          <div class="description">
            {{api.description}}
          </div>
        </td>
        <td>
          <div class="text-bold text-uppercase">{{api.pricing}}</div>
        </td>
        <td>
          <div class="fa-hover col-xs-4"><b>{{api.users}}</b><br>developers</div>
          <div class="fa-hover col-xs-4"><b>{{api.followers}}</b><br>followers<br></div>
          <div class="fa-hover col-xs-4"><b>{{api.uptimePercent}}%</b><br>uptime</div>
        </td>
        <td>
          <div class="fa-hover"><i class="text-primary fa fa-star-o"></i></div>
        </td>
      </tr>
    </table>
  </div>
</div>
