<div class="page page-oauth clearfix">

    <div class="oauth-container col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
        <div class="oauth-panel panel panel-lined panel-hovered">
            <div class="panel-body">
                <h2 class="mb30 text-primary">Logout successful.</h2>
                <p class="text-desc">You have been logged out successfully.</p>
                <p class="text-desc">If you would like to log in again, you can do so by clicking <a ui-sref="root.myOrganizations">here</a>. If not, we hope to see you again soon!</p>
            </div>
            <div class="panel-footer text-muted text-normal small">
                &nbsp;<span class="right">ACPAAS &copy; 2016</span>
            </div>
        </div>

    </div>

</div>
