<div class="page page-oauth clearfix">

    <div class="oauth-container col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
        <div class="oauth-panel panel panel-lined panel-hovered">
            <div class="panel-body panel-logout">
                <h2 class="mb30 text-primary">Logout successful.</h2>
                <p class="text-desc">You have been logged out successfully.</p>
                <p class="text-desc">Redirecting you to the main page in <span class="text-primary">{{secondsRemaining}}</span> {{secondsRemaining === 1 ? 'second' : 'seconds'}}.</p>
                <p class="text-redirect text-light small">If nothing happens, you can click
                    <a ng-if="publisherMode" ui-sref="root.myOrganizations">here</a>
                    <a ng-if="!publisherMode" ui-sref="root.apis.grid">here</a>
                    to return to the API {{publisherMode ? 'Publisher' : 'Marketplace'}}.
                </p>
            </div>
            <div class="panel-footer text-muted text-normal small">
                &nbsp;<span class="right">ACPAAS &copy; 2016</span>
            </div>
        </div>

    </div>

</div>
