<div class="page page-ui-notifications">
    <ol class="breadcrumb breadcrumb-small">
        <li><a ui-sref="root.apis.grid">API Store</a></li>
        <li class="active"><a ui-sref="root.myOrganizations">My Organizations</a></li>
        <li class="active"><a ui-sref="root.market-dash({orgId: orgScreenModel.organization.id})">{{orgScreenModel.organization.name}}</a></li>
    </ol>
    <div class="toast toast-bottomRight">
        <uib-alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-fade">
            <div ng-bind-html="toast.msg"></div>
        </uib-alert>
    </div>
    <div class="row">

        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 text-primary">
                            <h4><i class="fa fa-cogs"></i>
                                {{orgScreenModel.organization.name}} {{$state.is('root.market-dash.members') ? 'Members' : 'Applications'}} Overview
                            </h4>
                        </div>
                        <div class="col-sm-6">
                            <div class="pull-right">
                                <button id="members" class="btn btn-line-default" ui-sref="root.market-dash.members" ng-class="{'hidden': $state.is('root.market-dash.members')}">Members</button>
                                <button id="apps" class="btn btn-line-default" ui-sref="root.market-dash" ng-class="{'hidden': $state.is('root.market-dash')}">Applications</button>
                                <button id="new-app" class="btn btn-line-primary" ng-click="modalNewApplication()" ng-if="User.isAuthorizedFor('appEdit')">New Application</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 mt10">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding-bottom: 50px;" ui-view>

                            <!-- Applications Tab Content -->
                            <div class="col-sm-12">
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="searchText" placeholder="Filter by application name...">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default btn-sm fa fa-search"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                            </div>
                            <!-- The list of applications in the org -->

                            <div class="col-sm-12" ng-if="!User.isAuthorizedFor('appEdit')" ng-hide="applications.length > 0">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1 well">
                                        No applications found. Probably because none have been created yet!
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="User.isAuthorizedFor('appEdit')" ng-hide="applications.length > 0">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-1 well">
                                        It looks like no applications have been created yet! Now might be a good time to click the New App button up above...
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="no-entities-arrow"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12" ng-show="applications.length > 0 && (applications | filter:{name:searchText}).length == 0">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1 well">
                                        No applications found matching your filter criteria - please try searching for something different.
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12 mt10 table-responsive" ng-hide="applications.length === 0 || (applications | filter:{name:searchText}).length === 0" style="overflow: visible;">
                                <p><a class="clickable" ng-click="expandAll()">Expand all</a> | <a class="clickable" ng-click="collapseAll()">Collapse all</a></p>
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th nowrap="nowrap" width="5%"></th>
                                        <th nowrap="nowrap" width="45%">Application</th>
                                        <th nowrap="nowrap" width="10%">Version</th>
                                        <th nowrap="nowrap" width="10%">Status</th>
                                        <th nowrap="nowrap" width="10%"># Contracts</th>
                                        <th nowrap="nowrap" width="20%">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat-start="application in applications | filter:{name:searchText}">
                                        <td><a class="clickable fa fa-fw" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Contract details" ng-class="{'fa-chevron-down': application.contractsExpanded, 'fa-chevron-right': !application.contractsExpanded}" ng-show="application.versions[application.selectedVersionIndex].contracts.length > 0 || pendingContracts[application.id]" ng-click="toggle(application)"></a></td>
                                        <td>
                                            <base64-logo logo-class="mini-logo" logo="{{application.base64logo}}"></base64-logo>&nbsp;&nbsp;
                                            <a ui-sref="root.application({orgId: application.organizationId, appId: application.id, versionId: application.versions[application.selectedVersionIndex].version})">{{application.name}}</a>
                                        </td>
                                        <td>
                                            <span ng-if="application.versions.length === 1">{{application.versions[application.selectedVersionIndex].version}}</span>
                                            <div class="btn-group dropdown" uib-dropdown ng-if="application.versions.length > 1">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
                                                    {{application.versions[application.selectedVersionIndex].version}}<span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li ng-repeat="version in application.versions | orderBy:'createdOn'" ng-click="selectVersion(application, version)"><a>{{version.version}}</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><status-label status="{{application.versions[application.selectedVersionIndex].status}}"></status-label></td>
                                        <td>{{application.versions[application.selectedVersionIndex].contracts.length > 0 ? application.versions[application.selectedVersionIndex].contracts.length : 0}}</td>
                                        <td>
                                            <div class="btn-group-xs">
                                                <button id="new-contract" class="btn btn-primary action-icon fa fa-plus" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="New contract" ng-if="canCreateContract(application.versions[application.selectedVersionIndex]) && User.isAuthorizedFor('appEdit')" ng-click="newContract(application.versions[application.selectedVersionIndex])"></button>
                                                <button id="register" class="btn btn-success action-icon fa fa-check" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Register application" ng-if="canPublish(application.versions[application.selectedVersionIndex]) && User.isAuthorizedFor('appAdmin')" ng-click="confirmPublishApp(application.versions[application.selectedVersionIndex])"></button>
                                                <button id="retire" class="btn btn-warning action-icon fa fa-trash" tooltip-popup-delay="300"  tooltip-placement="top" uib-tooltip="Retire application" ng-if="canRetire(application.versions[application.selectedVersionIndex]) && User.isAuthorizedFor('appAdmin')" ng-click="confirmRetireApp(application.versions[application.selectedVersionIndex])"></button>
                                                <button id="metrics" class="btn btn-info action-icon fa fa-pie-chart" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Application metrics" ng-if="canRetire(application.versions[application.selectedVersionIndex]) && User.isAuthorizedFor('appEdit')" ng-click="toMetrics(application.versions[application.selectedVersionIndex])"></button>
                                                <button id="oauth" class="btn btn-info action-icon fa fa-lock" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="OAuth 2.0 configuration" ng-if="canConfigureOAuth(application.versions[application.selectedVersionIndex]) && User.isAuthorizedFor('appEdit')" ng-click="showOAuthConfig(application.versions[application.selectedVersionIndex])"></button>
                                                <button id="delete-version" class="btn btn-danger action-icon fa fa-times" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Delete {{application.versions[application.selectedVersionIndex].version}}" ng-if="User.isAuthorizedFor('appAdmin')" ng-click="confirmDeleteApp(application.versions[application.selectedVersionIndex])"></button>
                                                <button id="pending" class="btn action-icon btn-github fa fa-exclamation-triangle" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Pending contract" ng-if="application.versions[application.selectedVersionIndex].pendingContracts.length > 0" ng-click="toggle(application)"></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-show="application.contractsExpanded" class="row-selected fadein" ng-repeat-end>
                                        <td></td>
                                        <td colspan="5">
                                            <div ng-if="application.versions[application.selectedVersionIndex].contracts.length > 0">
                                                <h5>Active Contracts</h5>
                                                <table class="table table-condensed row-selected">
                                                    <thead>
                                                    <tr>
                                                        <th nowrap="nowrap" width="5%">#</th>
                                                        <th nowrap="nowrap" width="40%">To Service</th>
                                                        <th nowrap="nowrap" width="40%">Using Plan</th>
                                                        <th nowrap="nowrap" width="15%">Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="contract in application.versions[application.selectedVersionIndex].contracts">
                                                        <td>{{$index+1}}</td>
                                                        <td><a href ng-click="toApiDoc(contract)">{{contract.serviceName}} - {{contract.serviceVersion}}</a></td>
                                                        <td>{{contract.planName}} - {{contract.planVersion}}</td>
                                                        <td class="text-right">
                                                            <!-- We hide the API key button when OAuth2 is enabled -->
                                                            <button id="copy-api-key" clipboard text="contract.apikey" on-copied="toastService.timedClose()" class="btn btn-line-default btn-xs action-icon fa fa-key" ng-click="copyKey(contract.apikey)" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy API key to clipboard" ng-show="!contract.provisionKey || contract.provisionKey.length == 0"></button>
                                                            <button id="copy-prov-key" clipboard text="contract.provisionKey" on-copied="toastService.timedClose()" class="btn btn-line-default btn-xs action-icon fa fa-lock" ng-click="copyProvisionKey(contract.provisionKey)" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Copy OAuth Provision key" ng-show="canConfigureOAuth(application.versions[application.selectedVersionIndex]) && User.isAuthorizedFor('appEdit')"></button>
                                                            <button id="break-contract" class="btn btn-warning btn-xs action-icon fa fa-ban" tooltip-popup-delay="300" tooltip-placement="top" uib-tooltip="Break contract" ng-if="canPublish(application.versions[application.selectedVersionIndex]) && User.isAuthorizedFor('appEdit')" ng-click="breakContract(application, contract)"></button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="application.versions[application.selectedVersionIndex].pendingContracts.length > 0">
                                                <h5 class="mt15">Pending Contracts</h5>
                                                <apim-pending-contracts contracts="application.versions[application.selectedVersionIndex].pendingContracts"
                                                                        user-can-break="{{User.isAuthorizedFor('appEdit')}}">
                                                </apim-pending-contracts>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                                <div ng-bind-html="alert.msg"></div>
                            </uib-alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
