<div class="page">

  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="col-sm-12">
            <h3 class="text-primary">My Organizations</h3>
          </div>
          <div class="col-sm-6">
            <p class="text-light">This page provides an overview of organizations of which you are a member. You can create new applications within these organizations.</p>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary pull-right" ng-click="modalNewOrganization()">New Organization</button>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
        </div>

        <div class="col-sm-12 browse-items">
          <div class="col-sm-12">

            <div class="col-sm-12" ng-hide="orgs.length > 0">
              <div class="col-sm-10 col-sm-offset-1 well">
                <p>No organizations found. Maybe you are not a member of any organization yet?</p>
                <p>You can find organizations to join <a ui-sref="root.organizations">by clicking here</a> or create a new one using the button above!</p>
              </div>
            </div>

            <div class="col-sm-12" ng-show="orgs.length > 0">
              <div class="col-sm-12">
                <p>Found {{orgs.length}} organizations.</p>
              </div>

              <div class="col-sm-12">
                <div class="organization-item" ng-repeat="org in orgs">
                  <div class="text-primary">
                    <i class="fa fa-shield icon"></i>
                    <a class="ng-binding" ui-sref="root.organization.plans({orgId: org.id})">{{org.name}}</a>
                  </div>
                  <div class="text-light text-nowrap text-ellipsis">
                    {{org.description}}
                  </div>
                  <a class="is-member" title="You are already a member of this Organization."></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
