<div class="page page-oauth clearfix">

    <div class="oauth-container col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
        <div class="oauth-panel panel panel-lined panel-hovered">
            <div class="panel-body">
                <div class="pull-right">
                    <base64-logo logo="{{appOAuthInfo.base64AppLogo}}" logo-class="entity-logo-list"></base64-logo>
                </div>
                <h2 class="mb30">{{appOAuthInfo.consumerResponse.name}} - {{appOAuthInfo.appVersion}}</h2>
                <p class="text-desc">Do you want to grant the following permissions to <b>{{appOAuthInfo.consumerResponse.name}}</b>, published by <b>{{appOAuthInfo.consumer.customId}}</b>?</p>

                <div class="panel-body">
                    <p class="text-desc">{{appOAuthInfo.consumerResponse.name}} would like to receive the following permissions:</p>


                    <div class="col-sm-12 col-md-9 col-lg-7">
                        <div class="row" ng-repeat="scope in appOAuthInfo.scopes">
                            <div class="col-sm-12">
                                <p class="text-bold text-muted">{{scope}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel-body">
                    <button class="btn btn-default" ng-click="doCancel()">Cancel</button>
                    <button class="btn btn-primary" ng-click="doGrant()">Grant</button>
                </div>
            </div>
            <div class="panel-footer text-muted text-normal small">
                The API Management Engine will use this information in accordance with their respective terms of service and privacy policies.
            </div>
        </div>

    </div>

</div>
