<div class="page page-oauth clearfix">

    <div class="oauth-container col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
        <div class="oauth-panel panel panel-lined panel-hovered">
            <div class="panel-body">
                <img src="images/yeoman.png" class="entity-logo-overview pull-right">
                <h2 class="mb30">OAuthTestApp - v3</h2>
                <p class="text-desc">Do you want to grant the following permissions to <b>OAuthTestApp</b>, published by <b>admin</b>?</p>

                <div class="panel-body">
                    <p class="text-desc">OAuthTestApp would like to receive the following permissions:</p>


                    <div class="col-sm-12 col-md-9 col-lg-6">
                        <div class="row">
                            <div class="col-sm-4 col-md-5 col-lg-4">
                                <p class="text-bold text-muted">delete_profile</p>
                            </div>
                            <div class="col-sm-8 col-md-7 col-lg-8">
                                <p>Permission to delete your profile</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-5 col-lg-4">
                                <p class="text-bold text-muted">test_profile</p>
                            </div>
                            <div class="col-sm-8 col-md-7 col-lg-8">
                                <p>Permission to test your user profile</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel-body">
                    <button class="btn btn-default">Cancel</button>
                    <button class="btn btn-primary">Grant</button>
                </div>
            </div>
            <div class="panel-footer text-muted text-normal small">
                The API Management Engine will use this information in accordance with their respective terms of service and privacy policies.
            </div>
        </div>

    </div>

</div>
