<div class="page">
  <div class="row">

    <!-- Organization Basic Settings panel -->
    <div class="col col-md-4 col-md-offset-1 mb30">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-12">
            <h4 class="text-primary text-uppercase text-bold">{{org.name}}</h4>
            <hr>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-12 text-light">
              <i class="fa fa-clock-o fa-fw"></i>
              <span>Created on</span>
              <span data-field="createdOn">{{org.createdOn | date}}</span>
            </div>
          </div>
          <div class="col-sm-12 text-light">
            <div class="col-sm-12">
              <i class="fa fa-users fa-fw"></i>
              <span data-field="numMembers" class="ng-binding">1</span>
              <span>Members</span>
            </div>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label text-primary"><i class="fa fa-pencil"></i> Description</label>
              <textarea rows="2" class="form-control resize-v" ng-model="org.description">{{org.description}}</textarea>
            </div>
            <button class="btn btn-default mt30" ng-click="updateOrgDescription()">Save</button>
          </div>
        </div>
      </div>
    </div><!-- end Organization Basic Settings panel -->

    <!-- Organization Actions panels -->
    <div class="col-md-6 mb20" ng-init="activeTab = 1">
      <div class="btn-group btn-radio">
        <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Plans'" ui-sref=".plans">Plans</label>
        <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Services'" ui-sref=".services">Services</label>
        <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Members'" ui-sref=".members">Members</label>
      </div>
      <div class="col-sm-12 mt10" ui-view></div>

    </div>

  </div>
</div>
