<overview entity-version="planVersion" type="plan">
  <overview-header name="{{planVersion.plan.name}}" icon="bar-chart-o" description="{{planVersion.plan.description}}"
                   entity-version="planVersion" versions="versions" select-version="selectVersion(version)" new-version="modalNewVersion()">

    <!-- Entity Buttons -->
    <button class="btn btn-primary btn-sm" placeholder="Locking..." data-icon="fa-cog" ng-hide="locked" ng-click="lockPlan()">Lock Plan</button>

  </overview-header>

  <overview-tabs>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Overview'" ui-sref=".overview">Overview</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Policies'" ui-sref=".policies">Policies</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Activity'" ui-sref=".activity">Activity</label>
  </overview-tabs>
</overview>
