<overview entity-version="planVersion" type="plan">
  <overview-header name="{{planVersion.plan.name}}" icon="bar-chart-o" description="{{planVersion.plan.description}}"
                   entity-version="planVersion" versions="versions" select-version="selectVersion(version)" new-version="modalNewVersion()" save="updateDesc"
                   edit-permission="User.isAuthorizedFor('planEdit')">

    <!-- Entity Buttons -->
    <div class="toast toast-bottomRight">
      <alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-fade">
        <div ng-bind-html="toast.msg">Test Toast</div>
      </alert>
    </div>
    <div class="text-center">
      <button class="btn btn-line-primary btn-sm" placeholder="Locking..." data-icon="fa-cog" ng-if="!locked" ng-click="confirmLockPlan()" ng-disabled="!User.isAuthorizedFor('planAdmin')">Lock Plan</button>
      <div class="mt-10" ng-show="!User.isAuthorizedFor('planAdmin')">
        <p class="text-justify text-warning xsmall">
          You do not have the necessary permissions to lock plans.
        </p>
      </div>
    </div>

  </overview-header>

  <overview-tabs>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Policies'" id="policies" ui-sref=".policies">Policies</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Activity'" id="activity" ui-sref=".activity">Activity</label>
    <a href ng-click="showInfoModal()" class="ml30 ion ion-help-circled icon"></a>
  </overview-tabs>
</overview>
