<div class="page page-dashboard">
    <div class="mt5 mb5 ml10 mr10 pull-right btn-group" ng-init="displayMode='List'" ng-show="availableAPIs.length > 0">
        <label class="btn btn-primary fa fa-th-large" ng-model="displayMode" uib-btn-radio="'Grid'"></label>
        <label class="btn btn-primary fa fa-bars" ng-model="displayMode" uib-btn-radio="'List'"></label>
    </div>
    <div class="page-wrap">

        <div class="row mt30" ng-if="availableAPIs.length === 0">
            <div class="col-sm-10 col-sm-offset-1 well">
                We could't find any available services matching your search for "{{queryString}}"... Please try searching for something else!
            </div>
        </div>

        <div class="row mt30" ng-if="availableAPIs.length > 0">
            <div class="col-sm-12 mb20" >
                <p>Searching for "{{queryString}}" returned <span class="text-primary text-bold">{{availableAPIs.length}}</span> {{availableAPIs.length > 1 ? 'results' : 'result'}}:</p>
            </div>
        </div>

        <div class="col-md-12" ng-hide="availableAPIs.length === 0" ng-switch="displayMode">
            <api-list apis="availableAPIs" stats="svcStats" ng-switch-when="List"></api-list>
            <api-grid apis="availableAPIs" stats="svcStats" ng-switch-when="Grid"></api-grid>
        </div>
    </div>
</div>
