<div class="page page-dashboard">

  <div class="page-wrap">
    <div class="row mt30" ng-if="availableAPIs.length === 0">
      <div class="col-sm-10 col-sm-offset-1 well">
        We could't find any available services matching your search for "{{queryString}}"... Please try searching for something else!
      </div>
    </div>

    <div class="row mt30" ng-if="availableAPIs.length > 0">
      <div class="col-sm-12 mb20" >
        <p>Searching for "{{queryString}}" returned <span class="text-primary text-bold">{{availableAPIs.length}}</span> {{availableAPIs.length > 1 ? 'results' : 'result'}}:</p>
      </div>
    </div>

    <div class="col-md-12" ng-hide="availableAPIs.length === 0">
        <api-list apis="availableAPIs" stats="svcStats"></api-list>
    </div>
  </div>
</div>
