<overview entity-version="serviceVersion" type="svc">
  <overview-header name="{{serviceVersion.service.name}}" icon="puzzle-piece" versions="versions"
                   entity-version="serviceVersion" has-logo="true" base64logo="{{serviceVersion.service.base64logo}}"
                   description="{{serviceVersion.service.description}}" select-version="selectVersion(version)"
                   new-version="modalNewVersion()" endpoint="{{serviceVersion.service.basepath}}" save="updateDesc"
                   edit-permission="User.isAuthorizedFor('svcEdit')" admin-permission="User.isAuthorizedFor('svcAdmin')">

    <!-- Entity Buttons -->
    <div class="toast toast-bottomRight">
      <alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-fade">
        <div ng-bind-html="toast.msg">Test Toast</div>
      </alert>
    </div>
    <button class="btn btn-line-primary btn-sm" ng-disabled="!isReady" ng-if="!isPublished && User.isAuthorizedFor('svcAdmin')" ng-click="publishService()">Publish</button>
    <button class="btn btn-line-warning btn-sm" ng-if="isPublished && !isRetired && User.isAuthorizedFor('svcAdmin')" ng-click="retireService()">Retire</button>
  </overview-header>

  <overview-tabs>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Overview'" ui-sref=".overview">Overview</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Implementation'" ui-sref=".implementation">Implementation</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Definition'" ui-sref=".definition"
           ng-disabled="!tabStatus.hasImplementation">Definition</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Plans'" ui-sref=".plans"
           ng-disabled="!(tabStatus.hasImplementation && tabStatus.hasDefinition)">Plans</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Policies'" ui-sref=".policies">Policies</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Activity'" ui-sref=".activity">Activity</label>
    <label class="btn btn-primary btn-justified" ng-model="displayTab.selectedTab" btn-radio="'Metrics'" ui-sref=".metrics">Metrics</label>
  </overview-tabs>
</overview>

