<div class="org-needed-popover">
    <h4 class="header text-primary text-uppercase">This is where you would find your organizations</h4>
    <p class="text">Currently you don't have any, but you will need one to make use of our APIs in your App, so now would be a good time to create one...</p>
    <div class="buttons">
        <button id="org-create" class="btn btn-primary btn-login" ng-click="ctrl.orgNeededOk()">Create Organization</button>
        <button id="later" class="btn btn-later" ng-click="ctrl.orgNeededLater()">Later</button>
    </div>
</div>